.inte-popover--wrapper {
  display: inline-block;
  position: relative;
}

.inte-popover {
  background-color: var(--inte-G0);
  border-radius: var(--radius-rounded-6);
  min-width: 10rem;
  max-width: 35rem;
  max-height: 25rem;
  overflow: auto;
  padding: 1.2rem;
  box-shadow: var(--shadow-medium);
  border: 0.1rem solid var(--inte-G40);
  outline: none;
  z-index: var(--inte-Z-8);
  position: fixed;
  will-change: left, top;
  scroll-behavior: smooth;
}

.inte-popover--animation {
  animation: popoverAnimation 0.1s linear forwards;
}

.inte-popover--animation--reverse {
  animation: popoverAnimationReverse 0.1s linear forwards;
}
/* mobile css  */
.inte-popover.inte-popover__mobileDevice {
  overflow: unset;
  padding: unset !important;
  border-top-left-radius: 2.4rem;
  border-top-right-radius: 2.4rem;
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
  max-height: calc(100vh - 6rem);
}
.inte-popover__mobileDevice.inte-popover--animation {
  animation: unset;
}
.inte-popover__mobileDevice.inte-popover--animation--reverse {
  animation: unset;
}
.inte-popover__body {
  padding: 1.2rem;
  overflow-y: auto;
  max-height: calc(100vh - 15rem) !important;
}
/* heading  */
.inte-popover__mobileHeading__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1.8rem 2.4rem 1.6rem 2.4rem;
  align-items: center;
  border-bottom: 1px solid var(--inte-G50);
  position: relative;
  z-index: 1;
}
.inte-popover__mobileHeading {
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 600;
  width: calc(100% - 4.4rem);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.inte-popover__handelBar {
  position: absolute;
  top: -1.5rem;
  left: 50%;
  transform: translate(-50%, 0);
  width: 7.8rem;
  background-color: var(--inte-G40);
  height: 0.4rem;
  border-radius: 2.2rem;
}
/* heading  end*/
/* mobile css end  */
@keyframes popoverAnimationReverse {
  100% {
    -webkit-transform: scale(0.95, 0.95);
    transform: scale(0.95);
    opacity: 0;
  }

  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes popoverAnimation {
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 1;
  }

  0% {
    -webkit-transform: scale(0.95, 0.95);
    transform: scale(0.95);
    opacity: 0;
  }
}
