.inte-appBar--container {
  padding: 1.4rem 3.2rem;
  background-color: var(--inte-G10);
  border-bottom: 0.1rem solid var(--inte-G40);
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.inte-appBar--stickyTop {
  position: sticky;
  top: 0;
  z-index: var(--inte-Z-6);
}
.inte-appBar__connectLeft {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}
.inte-appBar__logoSection {
  display: flex;
}

.inte-appBar__toggleButton {
  display: none;
}

.inte-appWrapper--embeddedView .inte-appBar__toggleButton {
  display: inline-block;
}

@media screen and (max-width: 991px) {
  .inte-appBar__toggleButton {
    display: block;
  }
  .inte-appBar--container {
    padding: 1.4rem 2rem;
  }
}
