.inte-pieChart {
  position: relative;
  width: fit-content;
  display: flex;
  /* border: 1px solid silver; */
}
/* precentage  */

.inte-pieChart__percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  border-radius: 30px;
  color: var(--inte-P900);
  transform: translate(-50%, -50%);
  background-color: var(--inte-P20);
}
/* tooltip  */
.inte-pieChart__tooltip {
  position: absolute;

  background-color: black;
  color: white;
  height: 44px;
  padding: 12px;
  border-radius: 6px;
  text-align: center;
  line-height: 20px;
  font-size: 16px;
  width: max-content;
  font-weight: 600;
  z-index: var(--inte-Z-10);
}
.inte-pieChart__tooltip::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.inte-pieChart__path {
  transition: transform 0.3s ease, fill 0.3s ease;
  transform-origin: center;
  transform: scale(1);
}

.inte-pieChart__path:hover {
  transform: scale(1.03);
  transition: "transform 0.5s ease, fill 0.5s ease";
}
