/*Notifications*/
.inte-notification {
  position: relative;
  padding: 2rem 0;
  border-bottom: 0.1rem solid var(--inte-G40);
}

.inte-notification:last-child {
  border: 0;
  padding-bottom: 0;
}

/* .inte-notification:first-child {
  padding: 0;
} */

.inte-notification__content {
  display: flex;
  justify-content: flex-start;
  gap: 1.2rem;
  align-items: flex-start;
}

.inte-notification__circleIcon {
  display: flex;
}

.inte-notification__text {
  flex-grow: 1;
}

.inte-notification__title {
  font-size: var(--inte-FS1-6);
  font-weight: var(--weight-bolder);
  line-height: var(--inte-LH2-2);
  color: var(--inte-G800);
  margin-bottom: .4rem;
}

.inte-notification__description {
  color: var(--inte-G300);
  line-height: var(--inte-LH2-2);
  font-size: var(--inte-FS1-6);
  font-weight: var(--weight-normal);
  margin-bottom: .8rem;
}

.inte-notification__date {
  text-align: end;
  font-size: var(--inte-FS1-4);
  line-height: var(--inte-LH2-0);
  color: var(--inte-G300);
}

/*Notifications End*/
/* DARK MODE */
[data-theme="dark"] .inte-notification {
  filter: brightness(0.8);
}