.jf-mediaCard {
    padding: 0;
}

.jf-shadow-mediaCard {
    box-shadow: var(--jf-low-elevation);
    border: none;
}

.jf-bordered-mediaCard {
    border: 1px solid var(--jf-naturalLight-200);
    border-radius: 0.4rem;
}

.jf-borderWithShadow-mediaCard {
    box-shadow: var(--jf-low-elevation);
    border: 1px solid var(--jf-naturalLight-100);
}

.jf-plain-mediaCard {
    background: var(--jf-naturalLight-100);
    border-radius: 4px;
}

.jf-mediaCard-image img {
    display: block;
    border-radius: 5px 5px 0px 0px;
}

@media (min-width: 767px) {
    .jf-horizontal-mediaCard .jf-mediaCard--inner {
        display: flex;

    }

    .jf-horizontal-mediaCard .jf-mediaCard--body__inner,
    .jf-horizontal-mediaCard .jf-mediaCard-image {
        height: 100%;
    }

    .jf-horizontal-mediaCard .jf-mediaCard-image img {
        height: 100%;
        object-fit: cover;
    }

    .jf-horizontal-mediaCard .jf-mediaCard-thumbnail {
        flex: 0 0 200px;
    }

    .jf-horizontal-mediaCard .jf-mediaCard-body {
        flex: 0 0 calc(100% - 200px);
    }

    .jf-horizontal-mediaCard .jf-mediaCard-image img {
        border-radius: 5px 0px 0px 5px;
    }
}

.jf-mediaCard-body {
    padding: 1.6rem;
}
.jf-mediaCard--title_inner {
    flex: 0 0 calc(100% - 38px);
}

.jf-mediaCard--title__action {
    display: flex;
    align-items: start;
    flex-wrap: nowrap;
}

.jf-mediaCard-title__text {
    margin: 0;
    font-size: 1.6rem;
    color: var(--jf-naturalDark-1200);
}

.jf-mediaCard-description__text {
    font-size: 1.4rem;
    color: var(--jf-naturalDark-900);
    margin-top: 0.4rem;
}

.jf-mediaCard-actions_wrapper {
    margin-top: 1.6rem;
    display: flex;
    gap: 0.8rem;
}