.inte-autoComplete__container {
  position: fixed;
  z-index: var(--inte-Z-5);
}

.inte-autoComplete__container ul {
  margin: 0;
  background-color: var(--inte-G0);
  border-radius: var(--radius-rounded-6);
  border: 0.1rem solid var(--inte-G40);
  max-height: 25rem;
  overflow: auto;
  padding: 1.2rem;
}

.inte-formElement--focus .inte-formElement__textField {
  box-shadow: 0 0 0 3px var(--inte-P30);
  border-color: var(--inte-P900);
  background-color: var(--inte-P20);
}

.inte-autoComplete__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.inte-autoComplete__list li {
  font-size: var(--inte-FS1-6);
  padding: 1rem 1.2rem;
  cursor: pointer;
  border-radius: var(--radius-rounded-6);
  line-height: 2.2rem;
  user-select: none;
}

.inte-autoComplete__list li:active {
  background-color: var(--inte-P30) !important;
}

.inte-autoComplete__popover {
  position: fixed;
  z-index: var(--inte-Z-10);
}

.inte-autoComplete__list--Empty {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.inte-autoComplete__emptyContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  justify-content: center;
}

.inte-autoComplete__popoverContent {
  max-height: 30rem;
  min-width: 20rem;
  max-width: 35rem;
  overflow: auto;
  width: 100%;
}

.inte-autoComplete__popover .inte-autoComplete__popover-Inner {
  padding: 1.2rem;
  box-shadow: var(--shadow-medium);
  border: 0.1rem solid var(--inte-G40);
  background: var(--inte-G0);
  border-radius: var(--radius-rounded-4);
}

/* / mobile /  */
.inte-autoComplete__container.inte-autoComplete--mobileDevice {
  background-color: #fff;
  border-top-right-radius: 2.4rem;
  border-top-left-radius: 2.4rem;
  border: 0.1rem solid var(--inte-G40);
  z-index: var(--inte-Z-8);

}

.inte-autoComplete--mobileDevice>.inte-autoComplete__list {
  max-height: unset !important;
}

.inte-autoComplete--mobileDevice>.inte-autoComplete__list {
  min-height: calc(100vh - 15.3rem) !important;
}

.inte-autoComplete--mobileDevice .inte-autoComplete__list {
  border: unset !important;
  border-radius: unset !important;
  max-height: calc(100vh - 20.2rem);
}

.inte-autoComplete--mobileDevice .inte-autoComplete__item:not(:last-child) {
  border-bottom: 1px dashed var(--inte-G30);
  border-radius: unset;
}

.inte-autoComplete__mobileHeader__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1.8rem 2.4rem 1.6rem 2.4rem;
  align-items: center;
  border-bottom: 1px solid var(--inte-G50);
}

.inte-autoComplete__slide {
  position: absolute;
  top: -1.5rem;
  left: 50%;
  transform: translate(-50%, 0);
  width: 7.8rem;
  background-color: var(--inte-G0);
  height: 0.4rem;
  border-radius: 2.2rem;
}

.inte-autoComplete__mobile--heading {
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 600;
  width: calc(100% - 4.4rem);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.inte-autoComplete--mobileDevice>.inte-autoComplete__list>.inte-autoComplete__list {
  overflow: auto !important;
  position: relative;
  top: -27px;
}

.inte-autoComplete--mobileDevice {
  z-index: 9999;
  animation-name: DragINY;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  top: auto;
  bottom: 0;
}

.inte-mobileDevice--out {
  animation-name: DragOutY;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

@keyframes DragINY {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes DragOutY {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}