.inte-colorPicker__footer {
  display: flex;
  gap: 0.8rem;
  justify-content: end;
  padding: 1.2rem;
  margin: 1.8rem -1.2rem 0 -1.2rem;
  border-top: 0.1rem solid var(--inte-G40);
  padding-bottom: 0;
}

.color-picker-wrapper > div:first-child {
    margin-bottom: 15px;
}

.color-picker-basic-color {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.color-picker-basic-color button {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 16px;
  width: 16px;
  cursor: pointer;
  list-style-type: none;
}

.color-picker-basic-color button.active {
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.color-picker-saturation {
  width: 100%;
  position: relative;
  margin-top: 15px;
  height: 150px;
  background-image: linear-gradient(transparent, black),
    linear-gradient(to right, white, transparent);
  user-select: none;
}

.color-picker-saturation_cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 15px #00000026;
  box-sizing: border-box;
  transform: translate(-10px, -10px);
}
.color-picker-hue {
  width: 100%;
  position: relative;
  margin-top: 15px;
  height: 12px;
  background-image: linear-gradient(
    to right,
    rgb(255, 0, 0),
    rgb(255, 255, 0),
    rgb(0, 255, 0),
    rgb(0, 255, 255),
    rgb(0, 0, 255),
    rgb(255, 0, 255),
    rgb(255, 0, 0)
  );
  user-select: none;
  border-radius: 12px;
}

.color-picker-hue_cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  box-shadow: #0003 0 0 0 0.5px;
  box-sizing: border-box;
  transform: translate(-10px, -4px);
}

.color-picker-color {
  border: 1px solid #ccc;
  margin-top: 15px;
  width: 100%;
  height: 20px;
}

.color-picker__inputFields {
  display: flex;
  gap: 1.2rem;
}

.color-picker__inputFields > .inte-formElement {
  min-width: 100px;
}

.color-picker__rgbField {
  display: flex;
}

.color-picker__rgbField .inte-formElement--spinner {
  display: none;
}

.color-picker__rgbField .inte-formElement:nth-child(2) .inte-formElement__textField {
  border-radius: 0;
  border-left: 0;
  border-right: 0;
}

.color-picker__rgbField .inte-formElement:nth-child(2) .inte-formElement__textField:focus {
  border: 1px solid var(--inte-P900);
}

.color-picker__rgbField .inte-formElement:nth-child(1) .inte-formElement__textField {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.color-picker__rgbField .inte-formElement:nth-child(3) .inte-formElement__textField {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
