.inte-stepWizard {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.inte-stepWizard--vertical {
  flex-direction: column;
}

.inte-stepWizard__step,
.inte-stepWizard__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--inte-Spacing1-2);
  position: relative;
  cursor: pointer;
}

.inte-stepWizard--vertical .inte-stepWizard__step {
  flex-direction: row;
  min-height: 10rem;
}

.inte-stepWizard__icon {
  display: grid;
  place-items: center;
  border-radius: 50%;
  border: 0.2rem dashed var(--inte-G90);
  font-weight: var(--weight-bolder);
  font-size: var(--inte-FS1-4);
  color: var(--inte-G90);
  z-index: 1;
  background-color: var(--inte-G0);
  line-height: var(--inte-LH2-0);
  position: relative;
}

.inte-stepWizard--small .inte-stepWizard__icon svg {
  width: 0.8rem;
  height: 0.8rem;
}

.inte-stepWizard--small
  .inte-stepWizard__step--finish
  .inte-stepWizard__icon
  svg {
  width: 1.8rem;
  height: 1.8rem;
}

.inte-stepWizard__icon--finish {
  border-color: var(--inte-GR200);
  box-shadow: 0 0 0 0.3rem var(--inte-GR65);
  border-style: solid;
  background-color: var(--inte-GR200);
  color: var(--inte-G0);
}

.inte-stepWizard__step--finish .inte-stepWizard__icon {
  background-color: var(--inte-GR200);
  color: var(--inte-G0);
  border-color: var(--inte-GR200);
  box-shadow: 0 0 0 0.3rem var(--inte-GR65);
}

.inte-stepWizard__step--wait .inte-stepWizard__icon svg {
  fill: var(--inte-G50);
}
.inte-stepWizard__step--process .inte-stepWizard__icon svg {
  fill: var(--inte-P900);
}

.inte-stepWizard__body {
  font-size: var(--inte-FS1-6);
  line-height: var(--inte-LH2-0);
  font-weight: var(--weight-normal);
  gap: var(--inte-Spacing0-4);
}

.inte-stepWizard__label {
  color: var(--inte-G800);
  cursor: pointer;
  padding: 0 1.2rem;
}

.inte-stepWizard__description {
  line-height: var(--inte-LH2-2);
  color: var(--inte-G300);
  padding: 0 1.2rem;
}

/* shadow color */
.inte-stepWizard__step--wait .inte-stepWizard__icon {
  background-color: var(--inte-G0);
  border-color: var(--inte-G50);
  color: var(--inte-G50);
}

/* Step Wizard Lines */

/* position for horizontal */
.inte-stepWizard__step:not(:last-child):after,
.inte-stepWizard__step:not(:first-child):before {
  position: absolute;
  content: "";
  width: 50%;
  height: 0.4rem;
  top: 1rem;
  background-color: var(--inte-G50);
}

.inte-stepWizard__step:not(:last-child):after {
  right: 0;
}

.inte-stepWizard__step:not(:first-child):before {
  left: 0;
  z-index: 2;
  width: calc(50% - 1.19rem);
}

.inte-stepWizard__step:not(:last-child).inte-stepWizard__step--finish::after {
  z-index: 2;
  width: calc(50% - 11px);
}

/* color */
.inte-stepWizard__step:not(:last-child).inte-stepWizard__step--finish:after,
.inte-stepWizard__step:not(:first-child, .inte-stepWizard__step--wait):before {
  background-color: var(--inte-GR200);
}

/* sizes for horizontal */

.inte-stepWizard--large .inte-stepWizard__step:not(:first-child)::before,
.inte-stepWizard--large .inte-stepWizard__step:not(:last-child)::after {
  top: 1.4rem;
}

.inte-stepWizard--large .inte-stepWizard__step:not(:first-child)::before {
  width: calc(50% - 1.6rem);
}

/* direction for vertical*/
.inte-stepWizard--vertical .inte-stepWizard__step:not(:last-child):after,
.inte-stepWizard--vertical .inte-stepWizard__step:not(:first-child):before {
  height: 50%;
  width: 0.4rem;
  left: 1.06rem;
  bottom: 0;
}

.inte-stepWizard--vertical .inte-stepWizard__step:not(:last-child)::after {
  top: 6rem;
}

.inte-stepWizard--vertical .inte-stepWizard__step:not(:first-child)::before {
  top: -12px;
  z-index: 2;
}

.inte-stepWizard--vertical.inte-stepWizard--large
  .inte-stepWizard__step:not(:first-child)::before,
.inte-stepWizard--vertical.inte-stepWizard--large
  .inte-stepWizard__step:not(:last-child)::after {
  top: 6.6rem;
  left: 1.45rem;
}

.inte-stepWizard--vertical.inte-stepWizard--large
  .inte-stepWizard__step:not(:first-child)::before {
  top: -1.6rem;
}

/* shadows for sizes */

.inte-stepWizard--large .inte-stepWizard__step--finish .inte-stepWizard__icon {
  box-shadow: 0 0 0 0.4rem var(--inte-GR65);
}

/* icon for sizes */
.inte-stepWizard--large .inte-stepWizard__icon svg {
  width: 1.2rem;
  height: 1.2rem;
}

.inte-stepWizard--large
  .inte-stepWizard__step--finish
  .inte-stepWizard__icon
  svg {
  width: 2rem;
  height: 2rem;
}

/* for mobile */

.inte-stepWizard--mobile {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.inte-stepWizard__activeStep {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.inte-stepWizard__activeStep .inte-stepWizard__icon {
  width: 3.2rem;
  height: 3.2rem;
}

.inte-stepWizard__activeStep .inte-stepWizard__body {
  gap: var(--inte-Spacing0-2);
  align-items: flex-start;
}

.inte-stepWizard__activeStep .inte-stepWizard__label {
  color: var(--inte-G800);
  font-weight: var(--weight-bolder);
  font-size: var(--inte-FS1-6);
  line-height: var(--inte-LH2-2);
}

.inte-stepWizard__activeStep .inte-stepWizard__description {
  color: var(--inte-G200);
  font-weight: var(--weight-normal);
  font-size: var(--inte-FS1-4);
  line-height: var(--inte-LH2-0);
}

.inte-stepWizard--mobile__lineList {
  display: flex;
  gap: 0.4rem;
}

.inte-stepWizard--mobile__line {
  height: 0.4rem;
  width: 100%;
  background-color: var(--inte-GR200);
  cursor: pointer;
}

.inte-stepWizard--mobile__line--process {
  background-color: var(--inte-GR80);
}

.inte-stepWizard--mobile__line--wait {
  background-color: var(--inte-G50);
}

.filler-container {
  margin-top: 20px;
  border: 1px solid black;
  overflow: hidden;
}

.filler {
  height: 20px;
  background-color: var(--inte-GR200);
}
