.jf-stepWizard {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}

.jf-stepWizard__step {
  text-align: center;
  position: relative;
}

.jf-stepWizard__icon {
  display: block;
  width: 15px;
  height: 15px;
  margin: 0px auto;
  background: #e4e4e4;
  border-radius: 100%;
  text-align: center;
  padding: 3px;
  position: relative;
  z-index: 1;
  line-height: 18px;
  color: #333;
}

.jf-stepWizard__icon svg {
  display: block;
  width: 100%;
  height: 100%;
}

.jf-stepWizard__step::after,
.jf-stepWizard__step::before {
  content: '';
  width: calc(50% - 17px);
  height: 1.5px;
  background: #d3d3d3;
  position: absolute;
  top: 11px;
}

.jf-stepWizard__step::before {
  left: 0;
}

.jf-stepWizard__step::after {
  right: 0;
}

.jf-stepWizard .jf-stepWizard__step:first-of-child::before,
.jf-stepWizard .jf-stepWizard__step:last-child::after {
  display: none;
}

.jf-stepWizard__step--process .jf-stepWizard__icon,
.jf-stepWizard--mobile .jf-stepWizard__icon {
  background: #f9e7c5;
  color: #bb8728;
}

.jf-stepWizard__step--process .jf-stepWizard__icon svg,
.jf-stepWizard--mobile .jf-stepWizard__icon svg {
  color: #bb8728;
}

.jf-stepWizard__step--finish .jf-stepWizard__icon,
.jf-stepWizard--mobile .jf-stepWizard__icon.jf-stepWizard__icon--finish  {
  background: #b7f7dc;
  color: #1b875a;
}

.jf-stepWizard__step--finish .jf-stepWizard__icon svg {
  color: #1b875a;
}

li.jf-stepWizard__step.jf-stepWizard__step--finish::after {
  background: linear-gradient(90deg, #1b875a 67%, #d3b52a 100%);
}

li.jf-stepWizard__step.jf-stepWizard__step--process::before {
  background: linear-gradient(90deg, #d3b52a 38%, #edb03f 100%);
}

li.jf-stepWizard__step.jf-stepWizard__step--finish::before {
  background: linear-gradient(90deg, #d3b52a 0%, #1b875a 34%);
}

.jf-stepWizard__body .jf-stepWizard__label {
  color: #333;
  display: block;
  margin-top: 5px;
  font-family: 'roboto-Medium';
  line-height: 20px;
}

p.jf-stepWizard__description {
  font-size: 1.2rem;
  color: #655c5c;
}

.jf-stepWizard--mobile .jf-stepWizard__activeStep {
  margin-bottom: 8px;
}

ul.jf-stepWizard--mobile__lineList {
  display: flex;
  height: 5px;
  gap: 2px;
}

.jf-stepWizard--mobile__line {
  width: 100%;
  height: 5px;
  background: #a99e9e;
  border-radius: 4px;
}

li.jf-stepWizard--mobile__line.jf-stepWizard--mobile__line--finish {
  background: #1b875a;
}

li.jf-stepWizard--mobile__line.jf-stepWizard--mobile__line--process {
  background: #edb03f;
}

.jf-stepWizard__activeStep {
  display: flex;
  align-items: flex-start;
  gap: 0.8rem;
}

.jf-stepWizard--mobile .jf-stepWizard__icon {
  display: inline-block;
  margin: unset;
  width: 24px;
  height: 24px;
}

.jf-stepWizard--mobile label.jf-stepWizard__label {
  margin-top: 0;
}

.jf-stepWizard.jf-stepWizard--vertical {
  flex-wrap: wrap;
  justify-content: start;
  align-items: flex-start;
}

.jf-stepWizard--vertical .jf-stepWizard__step {
  text-align: left;
  display: flex;
  justify-content: start;
  gap: 10px;
  align-items: flex-start;
  padding-bottom: 20px;
  padding-top: 20px;
}

.jf-stepWizard--vertical .jf-stepWizard__icon {
  margin: unset;
}

.jf-stepWizard--vertical .jf-stepWizard__body .jf-stepWizard__label {
  margin-top: 0;
}

.jf-stepWizard--vertical .jf-stepWizard__step::after,
.jf-stepWizard--vertical .jf-stepWizard__step::before {
  width: 1.5px;
  height: calc(50% - 5px);
  left: 11px;
  top: unset;
  bottom: 0;
}

.jf-stepWizard--vertical .jf-stepWizard__step::before {
  top: 0;
  height: calc(50% - 25px);
}

.jf-stepWizard--vertical li.jf-stepWizard__step.jf-stepWizard__step--finish::after {
  background: linear-gradient(180deg, #1b875a 67%, #d3b52a 100%);
}

.jf-stepWizard--vertical li.jf-stepWizard__step.jf-stepWizard__step--finish::before {
  background: linear-gradient(180deg, #d3b52a 0%, #1b875a 34%);
}