.inte-TopNav {
  padding: 0 3.2rem;
  overflow-x: auto;
  border-bottom: 0.1rem solid silver;
  display: flex;
  align-items: center;
  background-color: var(--inte-G0);
}
.inte-TopNav--stickyTop {
  position: sticky;
  top: 0;
  z-index: var(--inte-Z-6);
}
/* Hide scrollbar for Chrome, Safari and Opera */
.inte-TopNav ::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.inte-TopNav {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* parent ul list  */
.inte-top__list {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  overflow: auto hidden;
}
/* parent li item  */
.inte-top__listItem {
  margin: 0.8rem 0;
  border-radius: 0.6rem;
  position: relative;
}
.inte-topNav__listItemWrapper {
  padding: 1.2rem 1.6rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 1.2rem;
}
.inte-top__listItem--label {
  white-space: nowrap;
}
/* active tab  */

.inte-topNav--active,
.inte-topNav--childActive,
.inte-active {
  background-color: var(--inte-P25);
}

.inte-active,
.inte-topNav--active,
.inte-topNav--childActive {
  color: var(--inte-P900);
}

.inte-topNav--active::after,
.inte-active::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: var(--inte-P900);
  border-radius: 0.4rem 0.4rem 0 0;
}

.inte-top__itemPopup {
  padding: 1rem 1.2rem;
  border-radius: 0.6rem;
  cursor: pointer;
}
/* left and reight button  */
.inte-arrowLeft__scroll,
.inte-arrowRight__scroll {
  border-radius: 50%;
}

/* common css  */
.inte-top__listItem:not(.inte-topNav--active, .inte-active):hover,
.inte-top__itemPopup:hover,
.inte-topNavBar--toggle {
  background-color: var(--inte-P20);
}
.inte-topNavBar--toggle {
  color: var(--inte-P900);
}
.inte-top__listItem--label,
.inte-top__itemPopup {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}
/* arrow smoothly up down  */
.inte-top__listItem
  .inte-topNav__listItemWrapper
  .inte-svgIcon:not(:first-child) {
  transition: transform 0.35s;
  transform: rotate(0deg);
}

.inte-top__listItem.inte-topNavBar--toggle
  .inte-topNav__listItemWrapper
  .inte-svgIcon:not(:first-child) {
  transform: rotate(90deg);
}
