.inte-TopNav {
  padding: 0 3.2rem;
  overflow-x: auto;
  border-bottom: 0.1rem solid silver;
  display: flex;
  align-items: center;
  background-color: var(--inte-G0);
}
.inte-TopNav--stickyTop {
  position: sticky;
  top: 0;
  z-index: var(--inte-Z-6);
}
/* Hide scrollbar for Chrome, Safari and Opera */
.inte-TopNav ::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.inte-TopNav {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* parent ul list  */
.inte-top__list {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  overflow: auto hidden;
}
/* parent li item  */
.inte-top__listItem {
  margin: 0.8rem 0;
  border-radius: 0.6rem;
  position: relative;
}
.inte-topNav__listItemWrapper {
  padding: 1.2rem 1.6rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 1.2rem;
}
.inte-top__listItem--label {
  white-space: nowrap;
}
/* active tab  */
.inte-topNav--active {
  background-color: var(--inte-P30);
}

.inte-top__listItem:not(.inte-topNav--active):hover:after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: var(--inte-P60);
  border-radius: 0.4rem 0.4rem 0 0;
}

.inte-topNav--active::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: var(--inte-P900);
  border-radius: 0.4rem 0.4rem 0 0;
}
/* popup */
.inte-top__listPopup {
  background-color: var(--inte-G0);
  border-radius: var(--radius-rounded-6);
  min-width: 10rem;
  max-width: 35rem;
  max-height: 25rem;
  overflow: auto;
  padding: 1.2rem;
  box-shadow: var(--shadow-medium);
  border: 0.1rem solid var(--inte-G40);
  outline: none;
  z-index: var(--inte-Z-8);
  position: fixed;
  will-change: left, top;
  scroll-behavior: smooth;
}
.inte-top__itemPopup {
  padding: 1rem 1.2rem;
  border-radius: 0.6rem;
  cursor: pointer;
}
/* left and reight button  */
.inte-arrowLeft__scroll,
.inte-arrowRight__scroll {
  border-radius: 50%;
}

/* popup animation */
.inte-topNav--in {
  animation: inteTopNavIn 0.1s linear forwards;
}

.inte-topNav--out {
  animation: inteTopNavOut 0.1s linear forwards;
}
/* common css  */
.inte-top__listItem:not(.inte-topNav--active):hover,
.inte-top__itemPopup:hover {
  background-color: var(--inte-P20);
}

.inte-top__listItem--label,
.inte-top__itemPopup {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}
/* end  */

@keyframes inteTopNavIn {
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 1;
  }

  0% {
    -webkit-transform: scale(0.95, 0.95);
    transform: scale(0.95);
    opacity: 0;
  }
}

@keyframes inteTopNavOut {
  100% {
    -webkit-transform: scale(0.95, 0.95);
    transform: scale(0.95);
    opacity: 0;
  }

  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 1;
  }
}
