.inte-top__navBar {
  box-shadow: 0 4px 6px -1px rgba(57, 67, 87, 0.1),
    0 2px 4px -1px rgba(57, 67, 87, 0.1);
  background-color: #fff;
}
.inte-top__navBar .inte-appBar--container {
  background-color: unset;
}
.inte-navBar {
  justify-content: start;
  border-bottom: unset;
}
.inte-top__Bar .inte-navBar {
  padding: 0.6rem 3.2rem;
}
.inte-top__Bar
  .inte-sideBar__list
  > .inte-sideBar__listItem
  > .inte-sideBar__itemBody,
.inte-top__Bar
  .inte-navBar
  .inte-sideBar__listItem--expandable
  .inte-sideBar__itemBody {
  padding: 0.7rem 1.1rem;
}

.inte-navBar .inte-sideBar__sectionList,
.inte-navBar .inte-sideBar__list {
  display: flex;
  gap: 1rem;
}
.inte-navBar .inte-sideBar {
  width: 100%;
}
.inte-navBar .inte-sideBar {
  border-right: unset;
  padding: unset;
}
.inte-navBar .inte-sideBar__section:not(.inte-sideBar__section--footer) {
  padding-bottom: unset;
}
.inte-navBar
  .inte-sideBar__section
  + .inte-sideBar__section:not(.inte-sideBar__section--footer) {
  padding-top: unset;
  border-top: unset;
}

.inte-sideBar__childList {
  max-height: unset;
}
.inte-navBar .inte-sideBar__listItem--expandable {
  cursor: pointer;
}
.inte-navBar .inte-sideBar__label {
  white-space: nowrap;
}
.inte-navBar .inte-sideBar__listItem--expandable .inte-sideBar__itemBody {
  padding: 1.2rem 1.6rem;
  display: flex;
  gap: 15px;
}
.inte-top__Bar .inte-sideBar__list > .inte-sideBar__listItem {
  padding-left: unset;
}
/* icon css */
.inte-navBar .inte-sideBar__expandIcon {
  height: 1rem;
  width: 1rem;
}
.inte-navBar .inte-sideBar__expandIcon svg:first-child {
  opacity: 1;
  top: 3px;
  transform: rotate(135deg);
}
.inte-navBar .inte-sideBar__expandIcon svg:last-child {
  transform: rotate(45deg);
  top: 10px;
}

/* when icon is active  */
.inte-navBar .inte-sideBar__expandIcon--active svg:first-child {
  opacity: 1;
  transform: rotate(225deg);
  top: 6px;
  left: 8px;
  background-color: var(--inte-G800);
}

.inte-navBar .inte-sideBar__expandIcon--active svg:last-child {
  transform: rotate(135deg);
  left: 2px;
  top: 6px;
}
/* TopBar with nav bar  css*/

@media screen and (max-width: 991px) {
  .inte-top__Bar .inte-navBar {
    padding: 0.6rem 2rem;
  }
}
