.inte-TopNav {
  padding: 0 3.2rem;
  border-bottom: 0.1rem solid var(--inte-G40);
  background-color: var(--inte-G0);
}
.inte-TopNav--stickyTop {
  position: sticky;
  top: 0;
  z-index: var(--inte-Z-6);
}
/* parent li item  */
.inte-top__listItem {
  margin: 0.5rem 0;
  border-radius: 0.6rem;
  position: relative;
}
.inte-topNav__listItemWrapper {
  padding: 1.2rem 1.6rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 1.2rem;
}
.inte-top__listItem--icon {
  display: flex;
}
.inte-top__listItem--label {
  white-space: nowrap;
}
/* active tab  */

.inte-topNav--active,
.inte-topNav--childActive,
.inte-active {
  background-color: var(--inte-P25) !important;
}

.inte-active,
.inte-topNav--active,
.inte-topNav--childActive {
  color: var(--inte-P900);
}

.inte-topNav--active::after,
.inte-active::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: var(--inte-P900);
  border-radius: 0.4rem 0.4rem 0 0;
}

.inte-top__itemPopup {
  padding: 1rem 1.2rem;
  border-radius: 0.6rem;
  cursor: pointer;
}

/* common css  */
.inte-top__listItem:not(.inte-topNav--active, .inte-active):hover,
.inte-top__itemPopup:not(.inte-topNav--childActive):hover,
.inte-topNavBar--toggle {
  background-color: var(--inte-P20);
}
.inte-topNavBar--toggle {
  color: var(--inte-P900);
}
.inte-top__listItem--label,
.inte-top__itemPopup {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.2rem;
}
/* arrow smoothly up down  */
.inte-top__listItem
  .inte-topNav__listItemWrapper
  .inte-svgIcon:not(:first-child) {
  transition: transform 0.35s;
  transform: rotate(0deg);
}

.inte-top__listItem.inte-topNavBar--toggle
  .inte-topNav__listItemWrapper
  .inte-svgIcon:not(:first-child) {
  transform: rotate(90deg);
}
/* wrapping  */
.inte-appWrapper .inte-announcementBar + .inte-TopNav__wrapper {
  top: 4.8rem;
}
.inte-topNavBar--active .inte-appBar--container,
.inte-topNavBar--active .inte-pageFooter {
  margin-left: unset !important;
  width: 100% !important;
}

.inte-topNavBar--active .inte-pageFooter,
.inte-topNavBar--active .inte-main {
  margin-left: unset !important;
}

.inte-topNavBar--active.inte-sideBar--active .inte-sideBar {
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: auto;
  transform: translateX(-28rem);
}
.inte-topNavBar--active .inte-announcementBar + .inte-TopNav__wrapper {
  margin-top: 4.8rem;
}
.inte-topNavBar--active
  .inte-announcementBar
  + .inte-TopNav__wrapper
  + .inte-main {
  margin-top: 0 !important;
}
/* new  css*/
.inte-topNavBar--active:not(.inte-topNav__sticky) .inte-announcementBar {
  position: absolute !important;
}

.inte-TopNav .inte-carousel__itemsWrapper {
  width: calc(100% - 103px);
  margin: auto;
}

.inte-TopNav .inte-carousel__prev,
.inte-TopNav .inte-carousel__next {
  border-radius: 50%;
  padding: 1.2rem;
}
.inte-TopNav .inte-popover--wrapper {
  width: 100%;
}

.inte-topNav__listItemWrapper {
  justify-content: center;
}
.inte-top__listItem.inte-topNavBar--disable {
  cursor: not-allowed !important;
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}
@media screen and (min-width: 991px) {
  .inte-topNavBar--active .inte-appWrapper.inte-sideBar--active .inte-sideBar {
    left: -280px !important;
  }
}
