/*==========================================================
=            Section Wrapper and Layout            =
==========================================================*/
.inte-flex {
  display: flex;
  display: -webkit-flex;
  -webkit-box-orient: horizontal;
}
.inte-flex--wrap {
  flex-wrap: wrap;
  -webkit-flex-wrap:wrap;
}
.inte-flex--noWrap {
  flex-wrap: nowrap !important;
  -webkit-flex-wrap:nowrap;
}
.inte-flex__item {
  position: relative;
}
.inte-flex--fill > .inte-flex__item,
.inte-flex__item.inte-flex__item--fill {
  flex-grow: 1;
  -webkit-flex-grow: 1;
}
.inte-flex__item.inte-flex__item--fill {
  flex: 1 !important;
  min-width: 0 !important;
}
.inte-flex--horizontal{
  flex-direction:row;
}
.inte-flex--horizontalReverse{
  flex-direction:row-reverse;
}
.inte-flex--vertical {
  flex-direction: column;
}
.inte-flex--verticalReverse {
  flex-direction: column-reverse;
}
.inte-flex--rowReverse {
  flex-direction: row-reverse;
}

.inte-flex--distributeSpaceBetween {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.inte-flex--distributeSpaceAround {
  justify-content: space-around;
  -webkit-justify-content: space-around;
}
.inte-flex--distributeSpaceEvenly {
  justify-content: space-evenly;
  -webkit-justify-content: space-evenly;
}
.inte-flex--distributeStart {
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}
.inte-flex--distributeEnd {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.inte-flex--distributeCenter {
  justify-content: center;
  -webkit-justify-content: center;
}
.inte-flex--alignCenter {
  align-items: center;
  -webkit-align-items: center;
}
.inte-flex--alignStretch {
  align-items: stretch;
  -webkit-align-items: stretch;
}
.inte-flex--alignEnd {
  align-items: flex-end;
  -webkit-align-items: flex-end;
}
.inte-flex--alignStart {
  align-items: flex-start;
  -webkit-align-items: flex-start;
}
.inte-flex--alignBaseline {
  align-items: baseline;
  -webkit-align-items: baseline;
}
.inte-flex--spacingExtraLoose {
  margin-top: -2.4rem;
  margin-left: -2.4rem;
}
.inte-flex--spacingExtraLoose > .inte-flex__item {
  padding-top: 2.4rem;
  padding-left: 2.4rem;
}
.inte-flex--spacingMediumLoose {
  margin-top: -2rem;
  margin-left: -2rem;
}
.inte-flex--spacingMediumLoose > .inte-flex__item {
  padding-top: 2rem;
  padding-left: 2rem;
}
.inte-flex--spacingLoose {
  margin-top: -1.6rem;
  margin-left: -1.6rem;
}
.inte-flex--spacingLoose > .inte-flex__item {
  padding-top: 1.6rem;
  padding-left: 1.6rem;
}
.inte-flex--spacingTight {
  margin-top: -1.2rem;
  margin-left: -1.2rem;
}
.inte-flex--spacingTight > .inte-flex__item {
  padding-top: 1.2rem;
  padding-left: 1.2rem;
}
.inte-flex--spacingMediumTight {
  margin-top: -0.8rem;
  margin-left: -0.8rem;
}
.inte-flex--spacingMediumTight > .inte-flex__item {
  padding-top: 0.8rem;
  padding-left: 0.8rem;
}
.inte-flex--spacingExtraTight {
  margin-top: -0.4rem;
  margin-left: -0.4rem;
}
.inte-flex--spacingExtraTight > .inte-flex__item {
  padding-top: 0.4rem;
  padding-left: 0.4rem;
}
.inte-flex .inte-card {
  height: 100%;
}
/*=====  End of Section comment Wrapper and Layout  ======*/

/*===============================================
=            Section Responsive            =
===============================================*/
.inte-flex--M100 > .inte-flex__item {
  flex: 0 0 100%;
  max-width: 100%;
}

.inte-flex--M80 > .inte-flex__item {
  flex: 0 0 80%;
  max-width: 80%;
}
.inte-flex--M75 > .inte-flex__item {
  flex: 0 0 75%;
  max-width: 75%;
}
.inte-flex--M66 > .inte-flex__item {
  flex: 0 0 66.67%;
  max-width: 66.67%;
}
.inte-flex--M50 > .inte-flex__item {
  flex: 0 0 50%;
  max-width: 50%;
}
.inte-flex--M33 > .inte-flex__item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
}
.inte-flex--M25 > .inte-flex__item {
  flex: 0 0 25%;
  max-width: 25%;
}
.inte-flex--M20 > .inte-flex__item {
  flex: 0 0 20%;
  max-width: 20%;
}

/*Items*/
.inte-flex__item--M100 {
  flex-basis: 100%;
  max-width: 100%;
}
.inte-flex__item--M80 {
  flex-basis: 80%;
  max-width: 80%;
}
.inte-flex__item--M75 {
  flex-basis: 75%;
  max-width: 75%;
}
.inte-flex__item--M66 {
  flex-basis: 66.67%;
  max-width: 66.67%;
}
.inte-flex__item--M50 {
  flex-basis: 50%;
  max-width: 50%;
}
.inte-flex__item--M33 {
  flex-basis: 33.33%;
  max-width: 33.33%;
}
.inte-flex__item--M25 {
  flex-basis: 25%;
  max-width: 25%;
}
.inte-flex__item--M20 {
  flex-basis: 20%;
  max-width: 20%;
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .inte-flex--T100 > .inte-flex__item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .inte-flex--T80 > .inte-flex__item {
    flex: 0 0 80%;
    max-width: 80%;
  }
  .inte-flex--T75 > .inte-flex__item {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .inte-flex--T66 > .inte-flex__item {
    flex: 0 0 66.67%;
    max-width: 66.67%;
  }
  .inte-flex--T50 > .inte-flex__item {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .inte-flex--T33 > .inte-flex__item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .inte-flex--T25 > .inte-flex__item {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .inte-flex--T20 > .inte-flex__item {
    flex: 0 0 20%;
    max-width: 20%;
  }

  /*Items*/
  .inte-flex__item--T100 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .inte-flex__item--T80 {
    flex-basis: 80%;
    max-width: 80%;
  }
  .inte-flex__item--T75 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .inte-flex__item--T66 {
    flex-basis: 66.67%;
    max-width: 66.67%;
  }
  .inte-flex__item--T50 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .inte-flex__item--T33 {
    flex-basis: 33.33%;
    max-width: 33.33%;
  }
  .inte-flex__item--T25 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .inte-flex__item--T20 {
    flex-basis: 20%;
    max-width: 20%;
  }
  /* Valign Items Tab */
  .inte-flex--alignCenterTab {
    align-items: center;
    -webkit-align-items: center;
  }
  .inte-flex--alignEndTab {
    align-items: flex-end;
    -webkit-align-items: flex-end;
  }
  .inte-flex--alignStartTab {
    align-items: flex-start;
    -webkit-align-items: flex-start;
  }
  .inte-flex--alignStretchTab {
    align-items: stretch;
    -webkit-align-items: stretch;
  }
  .inte-flex--alignBaselineTab {
    align-items: baseline;
    -webkit-align-items: baseline;
  }
  /* Halign Items Tabs */
  .inte-flex--distributeSpaceBetweenTab {
    justify-content: space-between;
    -webkit-justify-content :space-between;
  }
  .inte-flex--distributeSpaceAroundTab {
    justify-content: space-around;
    -webkit-justify-content :space-around;
  }
  .inte-flex--distributeSpaceEvenlyTab {
    justify-content: space-evenly;
    -webkit-justify-content :space-evenly;
  }
  .inte-flex--distributeStartTab {
    justify-content: flex-start;
    -webkit-justify-content :flex-start;
  }
  .inte-flex--distributeEndTab {
    justify-content: flex-end;
    -webkit-justify-content :flex-end;
  }
  .inte-flex--distributeCenterTab {
    justify-content: center;
    -webkit-justify-content :center;
  }

  /* Flex direction Tabs */
  .inte-flex--horizontalTab{
    flex-direction:row;
  }
  .inte-flex--horizontalReverseTab{
    flex-direction:row-reverse;
  }
  .inte-flex--verticalTab {
    flex-direction: column;
  }
  .inte-flex--verticalReverseTab {
    flex-direction: column-reverse;
  }
  .inte-flex--rowReverseTab {
    flex-direction: row-reverse;
  }

  /* Flex Wrap Tab */
  .inte-flex--wrapTab {
    flex-wrap: wrap !important;
  }
  .inte-flex--noWrapTab {
    flex-wrap: nowrap !important;
  }
}
@media screen and (min-width: 1200px) {
  .inte-flex--D100 > .inte-flex__item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .inte-flex--D80 > .inte-flex__item {
    flex: 0 0 80%;
    max-width: 80%;
  }
  .inte-flex--D75 > .inte-flex__item {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .inte-flex--D66 > .inte-flex__item {
    flex: 0 0 66.67%;
    max-width: 66.67%;
  }
  .inte-flex--D50 > .inte-flex__item {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .inte-flex--D33 > .inte-flex__item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .inte-flex--D25 > .inte-flex__item {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .inte-flex--D20 > .inte-flex__item {
    flex: 0 0 20%;
    max-width: 20%;
  }

  /*Items*/
  .inte-flex__item--D100 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .inte-flex__item--D80 {
    flex-basis: 80%;
    max-width: 80%;
  }
  .inte-flex__item--D75 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .inte-flex__item--D66 {
    flex-basis: 66.67%;
    max-width: 66.67%;
  }
  .inte-flex__item--D50 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .inte-flex__item--D33 {
    flex-basis: 33.33%;
    max-width: 33.33%;
  }
  .inte-flex__item--D25 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .inte-flex__item--D20 {
    flex-basis: 20%;
    max-width: 20%;
  }
}

@media screen and (max-width: 768px) {
  .inte-flex--horizontal {
    flex-wrap: wrap;
  }
  /* Valign Items Mobile */
  .inte-flex--alignCenterMob {
    align-items: center;
  }
  .inte-flex--alignEndMob {
    align-items: flex-end;
  }
  .inte-flex--alignStartMob {
    align-items: flex-start;
  }
  .inte-flex--alignStretchMob {
    align-items: stretch;
  }
  .inte-flex--alignBaselineMob {
    align-items: baseline;
  }

  /* Halign Items Mobile */
  .inte-flex--distributeSpaceBetweenMob {
    justify-content: space-between;
  }
  .inte-flex--distributeSpaceAroundMob {
    justify-content: space-around;
  }
  .inte-flex--distributeSpaceEvenlyMob {
    justify-content: space-evenly;
  }
  .inte-flex--distributeStartMob {
    justify-content: flex-start;
  }
  .inte-flex--distributeEndMob {
    justify-content: flex-end;
  }
  .inte-flex--distributeCenterMob {
    justify-content: center;
  }

  /* Flex direction Mob */
  .inte-flex--horizontalMob{
    flex-direction:row;
  }
  .inte-flex--horizontalReverseMob{
    flex-direction:row-reverse;
  }
  .inte-flex--verticalMob {
    flex-direction: column;
  }
  .inte-flex--verticalReverseMob {
    flex-direction: column-reverse;
  }
  .inte-flex--rowReverseMob {
    flex-direction: row-reverse;
  }

  /* Flex Wrap Mobile */
  /* Flex Wrap Tab */
  .inte-flex--wrapMob {
    flex-wrap: wrap !important;
  }
  .inte-flex--noWrapMob {
    flex-wrap: nowrap !important;
  }
}
