.inte-formElement__select {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.inte-formElement__value {
  display: inline-block;
  font-weight: var(--weight-normal);
  line-height: 2.4rem;
  max-width: calc(100% - 1.7rem);
  white-space: pre;
  overflow: hidden;
}
.inte-select__value {
  text-overflow: ellipsis;
}
.inte-formElement__placeholder {
  color: var(--inte-G200);
  font-size: 1.4rem;
}
.inte-formElement__selectedTags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8rem;
  max-width: 100%;
}
.inte-formElement__inputWrap {
  max-width: 100%;
  overflow: hidden;
}

/* Disabled state */
.inte-formElement--disabled .inte-formElement__placeholder {
  color: var(--inte-G40);
}
.inte-formElement--disabled {
  cursor: not-allowed !important;
}
/* Disabled State end */

/* Control States */
.inte-formElement--success.inte-formElement--select-focused
  .inte-formElement__select {
  background-color: var(--inte-GR40) !important;
  box-shadow: 0 0 0 0.4rem var(--inte-GR50) !important;
}
.inte-formElement--warning.inte-formElement--select-focused
  .inte-formElement__select {
  background-color: var(--inte-Y45) !important;
  box-shadow: 0 0 0 0.4rem var(--inte-Y50) !important;
}
.inte-formElement--error.inte-formElement--select-focused
  .inte-formElement__select {
  background-color: var(--inte-R30) !important;
  box-shadow: 0 0 0 0.4rem var(--inte-R50) !important;
}
/* Control States end*/
.inte-formElement__itemHelp.inte-formElement__itemHelp--hasHelpIcon
  .inte-svgIcon {
  min-width: 2rem;
}
.inte-formElement__itemHelp.inte-formElement__itemHelp--hasHelpIcon > span {
  word-break: break-word;
}
/* Select Arrow design*/
.inte-formElement__arrow {
  position: absolute;
  right: 1.2rem;
  transform: translateY(-50%);
  top: 50%;
  display: flex;
  padding-left: 0.8rem;
  border-left: 0.1rem solid var(--inte-G40);
}
.inte-formElement--focus .inte-formElement__arrow {
  color: var(--inte-G800);
}
.inte-formElement--focus .inte-formElement__arrow svg {
  transform: rotate(-180deg);
}
.inte-formElement__arrow svg {
  transform: rotate(0deg);
  transition: 200ms all linear;
  transform-origin: center;
}
/* Select Arrow design end*/

/* Clear Button Design */
.inte-formElement__select .inte-formElement--clear {
  right: 5.2rem;
}
/* Clear Button Design End */

/* Select Loading */
.inte-formElement__select .inte-formElement--loading {
  right: 5.2rem !important;
}
/* Select Loading */

/* Single Select */
.inte-formElement__select.inte-formElement__singleSelect {
  height: 4.4rem;
  justify-content: space-between;
  padding: 1.2rem 3.2rem 1.2rem 1.2rem !important;
}
.inte-formElement--clearable .inte-formElement__singleSelect,
.inte-formElement--loading .inte-formElement__singleSelect {
  padding: 1.2rem 8.2rem 1.2rem 1.2rem !important;
}
/* Single Select End*/

/* Multi Select */
.inte-formElement__select.inte-formElement__multiSelect {
  min-height: 4.4rem;
  padding: 0.8rem 5.2rem 0.8rem 1.2rem !important;
}
.inte-formElement--clearable .inte-formElement__multiSelect {
  padding: 0.8rem 8.2rem 0.8rem 1.2rem !important;
}
/* MultiSelect End */

/* Select Focus Design primary*/
.inte-formElement--focus .inte-formElement__select,
.inte-formElement.inte-formElement--select-focused .inte-formElement__select {
  box-shadow: 0 0 0 3px var(--inte-P30);
  border-color: var(--inte-P900);
  background-color: var(--inte-P20);
}

/* Select Focus Design end */

/* Searchable Field */
.inte-formElement__select .inte-formElement__search {
  border: none;
  width: 0.1rem;
  padding: 0;
  outline: 0;
  font-weight: 400;
  font-size: 1.6rem;
  max-height: 1.8rem;
  color: var(--inte-G800);
  background: transparent;
  overflow: hidden;
  cursor: pointer;
}
/* Searchable Field End */

/* Select DropDown */
.inte-select__dropdown,
.inte-select__dropdown--onMobile {
  z-index: var(--inte-Z-9);
  position: fixed;
}

.inte-select__dropdown {
  background-color: var(--inte-G0);
  border-radius: var(--radius-rounded-6);
  border: 0.1rem solid var(--inte-G40);
  box-shadow: var(--shadow-medium);
}
.inte-select__dropdown > ul {
  list-style-type: none;
  margin: 0;
  padding: 1.2rem;

  overflow: auto;
  right: 0;
  max-height: 25rem;
}

.inte-select__skeletonWrapper {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  gap: 2rem;
}
.inte-select__skeleton {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.inte-select__item--group {
  flex-direction: column;
}
.inte-select__options--onMobile
  .inte-select__item--group
  > .inte-select__groupHeader {
  padding: 1.6rem 2.4rem 0 2.4rem;
}
.inte-select__item--group > .inte-select__groupHeader {
  padding: 0.8rem 0;
  cursor: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inte-select__groupHeader > span {
  text-transform: uppercase;
  color: var(--inte-G90) !important;
  font-size: 1.3rem;
  font-weight: var(--weight-bolder) !important;
  display: block;
}
.inte-select__item:active {
  background-color: var(--inte-P30) !important;
}
.inte-select__item.inte-select__item--active {
  background: var(--inte-P30) !important;
}
.inte-select__itemInner {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  overflow: hidden;
}
.inte-select__options--onMobile .inte-select__itemInner span:first-child {
  line-height: 2rem;
}
.inte-select__itemInner span,
.inte-select__itemInner span + span {
  display: block;
  line-height: 2.2rem;
  font-size: 1.6rem !important;
  font-weight: var(--weight-normal) !important;
  color: var(--inte-G800);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.inte-select__itemInner span + span {
  color: var(--inte-G200);
}
.inte-select__dropdown .inte-select__groupedItem {
  padding: 0;
}

.inte-select__options--onMobile .inte-select__item {
  padding: 1.8rem 0;
  margin: 0 2rem;
  border-radius: unset;
}
.inte-select__options--onMobile .inte-select__item:not(:last-child) {
  border-bottom: 0.1rem dashed var(--inte-G40);
}
.inte-select__item {
  cursor: pointer;
  display: flex;
  gap: 0.8rem;
  transition: 100ms all linear;
  border-radius: var(--radius-rounded-4);
  padding: 1rem 1.2rem;
  min-height: 4.2rem;
  user-select: none;
}
.inte-select__item.inte-select__item--disabled {
  cursor: not-allowed;
  user-select: none;
  background-color: var(--inte-G0) !important;
}
.inte-select__item.inte-select__item--disabled span {
  color: var(--inte-G40) !important;
}
.inte-select__options .inte-svgIcon {
  min-width: 2rem;
}
/* Select DropDown End */

/* Select Dropdown No data Found*/
.inte-select-box__no-options-container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.inte-select-box__no-options-container span {
  font-size: 1.6rem;
  font-weight: var(--weight-normal);
  line-height: 2.2rem;
  color: var(--inte-G90);
  word-break: break-word;
}
.inte-select-box__no-options {
  display: flex;
  gap: 0.8rem;
}
/* Select Dropdown No data Found End */

/* Fix and Patches */
.inte-modal + .inte-select__dropdown--onMobile,
.inte-modal + .inte-select__dropdown {
  z-index: var(--inte-Z-10) !important;
}
.inte-modal + .inte-select__dropdown--onMobile + .inte-select__overlay {
  z-index: var(--inte-Z-9) !important;
}
.inte-mobileDevice--in + .inte-select__overlay,
.inte-mobileDevice--out + .inte-select__overlay {
  z-index: var(--inte-Z-8) !important;
}
/* Fix and Patches End */
/* mobile device */
.inte-select__mobileDevice {
  background-color: #fff;
}
.inte-select__mobileDevice .inte-select__options {
  padding: 2.4rem;
  min-height: calc(100vh - 15.3rem);
}
.inte-select__dropdown--onMobile {
  background-color: var(--inte-G0);
  width: 100%;
}
.inte-select__dropdown--onMobile > ul {
  list-style-type: none;
  margin: 0;
  overflow: auto;
}

.inte-select__dropdown-textField {
  padding: 1.8rem 2.4rem 0rem 2.4rem;
}
/* Removing separator from textfield in case of mobile device */
.inte-select__dropdown-textField
  .inte-formElement__control.inte-formElement__textField {
  padding-left: 38px !important;
}
.inte-select__dropdown-textField .inte-formElement__innericPrefix {
  border: unset;
}
/* removing separtor css ends */
.inte-select__dropdown-selectedItems {
  padding: 1.8rem 2.4rem 0rem 2.4rem;
  overflow: auto;
  display: flex;
  gap: 0.8rem;
  white-space: nowrap;
}
.inte-select__footer {
  height: 7.9rem;
  padding: 2rem;
  border-top: 1px solid var(--inte-G40);
}
