.inte-magnifier {
  overflow: hidden;
  position: relative;
}

.inte-magnifier__focusObserver {
  position: absolute;
  pointer-events: none;
  border: 1px solid lightgray;
  background-color: transparent;
}
