.inte-stories {
  position: relative;
  display: flex;
  user-select: none;
}
.inte-stories__container {
  width: 100%;
  z-index: 1;
  pointer-events: none;
}
.inte-stories__container img {
  display: block;
  width: 100%;
}
.inte-stories__container figure {
  margin: 0;
}
.inte-stories__container figcaption {
  position: absolute;
  bottom: 6rem;
  font-weight: bolder;
  color: white;
  font-size: 3.4rem;
  left: 1rem;
}
.inte-stories__control {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.inte-stories__control button {
  width: 50%;
  cursor: pointer;
}
.inte-stories__progressContainer {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.15rem;
  width: 100%;
}
.inte-stories__progressItems {
  position: relative;
  border-radius: 0.4rem;
  margin: 0.7rem 0.3rem;
  flex: 1;
  height: 0.8rem;
  background-color: var(--inte-P40);
  overflow: hidden;
}
.inte-stories__progressItems--active {
  position: absolute;
  background-color: var(--inte-P500);
  height: 100%;
  width: 100%;
  animation-name: storiesProgress;
  animation-timing-function: linear;
}
.inte-stories__pause-play {
  position: absolute;
  z-index: 5;
  right: 1.2rem;
  cursor: pointer;
  top: 3rem;
  display: flex;
  height: 4rem;
  width: 4rem;
  background: transparent;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.inte-stories__pause-play--paused svg {
  margin-left: 0.4rem;
}
.inte-stories__pause-play:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
@keyframes storiesProgress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
