.jf-badge-wrapp {
  display: inline-block;
}

.jf-badge {
  display: flex;
  padding: 0.1rem 1rem;
  background: #e4e4e4;
  border-radius: 25rem;
  align-items: center;
}

.jf-badge.jf-badge--small {
  height: 1.8rem;

  label {
      font-size: var(--jf-fs-12);
      line-height: 1.8rem;
  }
}

.jf-badge.jf-badge--medium {
  height: 2rem;

  label {
      font-size: var(--jf-fs-13);
      line-height: 2rem;
  }
}

.jf-badge.jf-badge--large {
  height: 2.4rem;

  label {
      font-size: var(--jf-fs-13);
      line-height: 2.4rem;
  }
}

.jf-badge--positive {
  background-color: var(--jf-Possitive-100);

  .badge-label {
      color: var(--jf-Possitive-600);
  }
}

.jf-badge--negative {
  background-color: var(--jf-Negative-100);

  .badge-label {
      color: var(--jf-Negative-600);
  }
}

.jf-badge--notice {
  background-color: var(--jf-Notice-100);

  .badge-label {
      color: var(--jf-Notice-600);
  }
}

.jf-badge--neutral {
  background-color: var(--jf-Cloud-200);

  .badge-label {
      color: var(--jf-naturalDark-1300);
  }
}

.jf-badge--primary {
  background-color: var(--jf-Cerulean-100);

  .badge-label {
      color: var(--jf-Cerulean-600);
  }
}

.jf-badge--positive.jf-badge--intense {
  background-color: var(--jf-Possitive-600);
}

.jf-badge--negative.jf-badge--intense {
  background-color: var(--jf-Negative-600);
}

.jf-badge--notice.jf-badge--intense {
  background-color: var(--jf-Notice-600);
}

.jf-badge--neutral.jf-badge--intense {
  background-color: var(--jf-naturalDark-1300);
}

.jf-badge--primary.jf-badge--intense {
  background-color: var(--jf-Cerulean-600);
}

.jf-badge--intense .jf-badge-label {
  color: #fff;
}

.jf-badge--positive {
  &.badge--outline {
      background-color: transparent;
      border: 1px solid var(--jf-Possitive-600);
  }
}

.jf-badge--negative {
  &.badge--outline {
      background-color: transparent;
      border: 1px solid var(--jf-Negative-600);
  }
}

.jf-badge--notice {
  &.badge--outline {
      background-color: transparent;
      border: 1px solid var(--jf-Notice-600);
  }
}

.jf-badge--neutral {
  &.badge--outline {
      background-color: transparent;
      border: 1px solid var(--jf-naturalDark-1300);
  }
}

.jf-badge--primary {
  &.badge--outline {
      background-color: transparent;
      border: 1px solid var(--jf-Cerulean-600);
  }
}

.jf-badge .jf-complete {
  display: inline-block;

  margin-right: 0.5rem;
  border-radius: 100%;
}

.jf-badge.jf-badge--small .jf-complete {
  height: 0.6rem;
  width: .6rem;
}

.jf-badge.jf-badge--medium .jf-complete {
  height: 0.7rem;
  width: .7rem;
}

.jf-badge.jf-badge--large .jf-complete {
  height: 0.8rem;
  width: 0.8rem;
}

.jf-badge--type__partial .jf-partial {
  border-radius: 3rem 3rem 0 0;
  margin-right: 0.5rem;
  background-color: #333;
}

.jf-badge--type__partial.jf-badge--small .jf-partial {
  height: 0.4rem;
  width: 0.6rem;
}

.jf-badge--type__partial.jf-badge--medium .jf-partial {
  height: 0.5rem;
  width: 0.7rem;
}

.jf-badge--type__partial.jf-badge--large .jf-partial {
  height: 0.6rem;
  width: 0.8rem;
}

.jf-badge--type__partial.jf-badge--positive .jf-partial,
.jf-badge--positive .jf-complete {
  background-color: var(--jf-Possitive-600);
}

.jf-badge--type__partial.jf-badge--negative .jf-partial,
.jf-badge--negative .jf-complete {
  background-color: var(--jf-Negative-600);
}

.jf-badge--type__partial.jf-badge--notice .jf-partial,
.jf-badge--notice .jf-complete {
  background-color: var(--jf-Notice-600);
}

.jf-badge--type__partial.jf-badge--neutral .jf-partial,
.jf-badge--neutral .jf-complete {
  background-color: var(--jf-Cloud-600);
}

.jf-badge--type__partial.jf-badge--primary .jf-partial,
.jf-badge--primary .jf-complete {
  background-color: var(--jf-Cerulean-600);
}

.jf-badge--intense .jf-partial,
.jf-badge--intense .jf-complete {
  background-color: #e4e4e4 !important;
}