.inte-checkbox {
  position: relative;
  min-height: 2rem;
  min-width: 2rem;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}
.inte-checkbox > label {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}
.inte-checkbox--fake {
  position: absolute;
  height: 2rem;
  width: 2rem;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
}
.inte-checkboxWrap {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  gap: 1.2rem;
}
.inte-checkboxWrap .inte__checkboxEle--fake {
  height: 2rem;
  width: 2rem;
  border-radius: var(--radius-rounded-5);
  position: relative;
  min-width: 2rem;
  border: 0.15rem solid var(--inte-G90);
  transition: 100ms all linear;
  background-color: var(--inte-G0);
}
.inte-checkbox
  .inte-checkbox--fake
  + .inte-checkboxWrap
  > .inte__checkboxEle--fake::after {
  content: "";
  height: 1.2rem;
  width: 1.2rem;
  transform: rotate(0deg) scale(0, 0);
  position: absolute;
  top: 0.27rem;
  opacity: 0;
  visibility: hidden;
  left: 0.27rem;
  transition: 100ms linear all;
  transform-origin: center center;
  background-image: url("data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjEyIiBoZWlnaHQ9IjEyIiB2aWV3Qm94PSIwIDAgMTIgMTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xMCAzTDQuNSA4LjVMMiA2IiBzdHJva2U9IiNGQUZBRkIiIHN0cm9rZS13aWR0aD0iMS42IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==");
}
.inte-checkbox
  .inte-checkbox--fake:checked
  + .inte-checkboxWrap
  > .inte__checkboxEle--fake,
.inte-checkbox
  .inte-checkbox--fake:indeterminate
  + .inte-checkboxWrap
  > .inte__checkboxEle--fake {
  background: var(--inte-P900);
  border-color: var(--inte-P900);
}
.inte-checkbox
  .inte-checkbox--fake:checked
  + .inte-checkboxWrap
  > .inte__checkboxEle--fake::after,
.inte-checkbox
  .inte-checkbox--fake:indeterminate
  + .inte-checkboxWrap
  > .inte__checkboxEle--fake::after {
  transform: rotate(0deg) scale(1);
  opacity: 1;
  visibility: visible;
}

.inte-checkbox
  .inte-checkbox--fake:indeterminate
  + .inte-checkboxWrap
  > .inte__checkboxEle--fake::after {
  background-image: url("data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjEyIiBoZWlnaHQ9IjEyIiB2aWV3Qm94PSIwIDAgMTIgMTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0yLjUgNkg5LjUiIHN0cm9rZT0iI0ZBRkFGQiIgc3Ryb2tlLXdpZHRoPSIxLjYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K");
}
.inte-checkboxWrap .inte-checkbox__label {
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: var(--weight-normal);
  color: var(--inte-G800);
  line-height: 2.2rem;
}
.inte-checkbox__description {
  margin-top: 0.4rem;
  margin-left: 3.2rem;
  color: var(--inte-G300);
  font-size: 1.6rem;
  line-height: 2.2rem;
}

/* Error State */
.inte-checkbox--error + span .inte__checkboxEle--fake {
  border-color: var(--inte-R200)!important;
}
/* Error State End */

/* Disabled State */
.inte-checkbox--disabled .inte-checkboxWrap {
  cursor: not-allowed;
}
.inte-checkbox--disabled .inte-checkboxWrap .inte__checkboxEle--fake,
.inte-checkbox--disabled .inte-checkboxWrap .inte-checkbox__label {
  cursor: not-allowed !important;
  z-index: 1;
  border-color: var(--inte-G40) !important;
}
.inte-checkbox--disabled .inte-checkboxWrap .inte-checkbox__label ,
.inte-checkbox--disabled .inte-checkbox__description{
  color: var(--inte-G70);
  user-select: none;
}
.inte-checkbox.inte-checkbox--disabled
  .inte-checkbox--fake:checked
  + .inte-checkboxWrap
  > .inte__checkboxEle--fake,
.inte-checkbox.inte-checkbox--disabled
  .inte-checkbox--fake:indeterminate
  + .inte-checkboxWrap
  > .inte__checkboxEle--fake {
  background: var(--inte-P50) !important;
  border-color: var(--inte-P50) !important;
}
/* Disabled State End */

/* Css Psudo States */
/* Hover on Not selected state */
.inte-checkbox:not(.inte-checkbox--disabled) > label:hover .inte-checkboxWrap .inte__checkboxEle--fake {
  border-color: var(--inte-P1000);
  background-color: var(--inte-P20) !important;
}
/* Hover on Not selected state end */

/* Hover On Selected Case */
.inte-checkbox:not(.inte-checkbox--disabled)
  label:hover
  .inte-checkbox--fake:checked
  + .inte-checkboxWrap
  > .inte__checkboxEle--fake,
.inte-checkbox:not(.inte-checkbox--disabled)
  label:hover
  .inte-checkbox--fake:indeterminate
  + .inte-checkboxWrap
  > .inte__checkboxEle--fake {
  background: var(--inte-P1000) !important;
  border-color: var(--inte-P1000);
}
/* Hover On Selected Case end*/

/* Focus State */
.inte-checkbox--fake:focus + .inte-checkboxWrap .inte__checkboxEle--fake {
  box-shadow: 0 0 0 0.1rem var(--inte-G0), 0 0 0 0.3rem var(--inte-B80);
}
/* Focus State End */

/* Css Psudo States End */