.inte-text--truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: inherit;
}
/* Word Break */
.inte-text--breakWord {
  word-break: break-word;
}
.inte-text--keepAll {
  word-break: keep-all;
}
.inte-text--breakAll {
  word-break: break-all;
}
.inte-text--normal {
  word-break: normal;
}
/* Word Break  end*/
/*text alignments*/
.inte-text--alignRight {
  text-align: right !important;
}
.inte-text--alignCenter {
  text-align: center !important;
}
.inte-text--alignLeft {
  text-align: left !important;
}
/*text alignments end*/

/*text color*/
.inte-text--default {
  color: var(--inte-G800) !important;
}
.inte-text--secondary {
  color: var(--inte-G300) !important;
}
.inte-text--subdued {
  color: var(--inte-G200) !important;
}
.inte-text--disabled {
  color: var(--inte-G50) !important;
}
.inte-text--negative {
  color: var(--inte-R400) !important;
}
.inte-text--success {
  color: var(--inte-GR300) !important;
}
.inte-text--primary {
  color: var(--inte-P900) !important;
}
.inte-text--warning {
  color: var(--inte-Y700) !important;
}

/*text color*/

/*Font weight*/
.inte-text--fontNormal {
  font-weight: var(--weight-bold) !important;
}
.inte-text--fontBold {
  font-weight: var(--weight-bolder) !important;
}
.inte-text--fontBolder {
  font-weight: var(--weight-extrabolder) !important;
}
/*Font weight end*/

/* UnderLine Styles */
.inte-text--underLine {
  text-decoration: underline;
}
.inte-text--lineThrough {
  text-decoration: line-through;
}
/* UnderLine Styles End */

/* text types */
.inte-text--T1 {
  font-size: var(--inte-FS4-0);
  line-height: var(--inte-LH5-8);
}
.inte-text--T2 {
  font-size: var(--inte-FS3-8);
  line-height: var(--inte-LH4-8);
}
.inte-text--T3 {
  font-size: var(--inte-FS3-2);
  line-height: var(--inte-LH4-4);
}
.inte-text--T4 {
  font-size: var(--inte-FS2-4);
  line-height: var(--inte-LH3-6);
}
.inte-text--T5 {
  font-size: var(--inte-FS2-0);
  line-height: var(--inte-LH2-8);
}
.inte-text--T6 {
  font-size: var(--inte-FS1-8);
  line-height: var(--inte-LH2-4);
}
.inte-text--T7 {
  font-size: var(--inte-FS1-6);
  line-height: var(--inte-LH2-2);
}
.inte-text--T8 {
  font-size: var(--inte-FS1-4);
  line-height: var(--inte-LH2-0);
}
.inte-text--T9 {
  font-size: var(--inte-FS1-3);
  line-height: var(--inte-LH2-0);
}
.inte-text--T10 {
  font-size: var(--inte-FS1-2);
  line-height: var(--inte-LH1-8);
}

/* text types end*/

@media screen and (max-width: 768px) {
  .inte-text--T1,
  .inte-text--T2 {
    font-size: var(--inte-FS2-4);
    line-height: var(--inte-LH3-6);
  }
  .inte-text--T3,
  .inte-text--T4,
  .inte-text--T5 {
    font-size: var(--inte-FS2-0);
    line-height: var(--inte-LH2-8);
  }
}
