ol,
ul,
.jf-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.jf-list .jf-list--item {
  font-size: 1.4rem;
  line-height: 2.2rem;
  margin-bottom: 0.8rem;
  color: var(--jf-naturalDark-900);
  position: relative;
  padding-left: 1.6rem;
}

.jf-olList--decimal__style {
  --listStyleType: decimal;
}

.jf-olList--roman__style {
  --listStyleType: lower-roman;
}

.jf-olList--alfabet__style {
  --listStyleType: lower-alpha;
}

ol.jf-list li.jf-list--item::before {
  margin-right: 1rem;
  font-family: var(--jf-medium-font);
  color: var();
  vertical-align: top;
  position: absolute;
  left: 0;
  top: 0;
}

.jf-olList--decimal__style .jf-olList--decimal {
  counter-reset: listStyle;
  list-style-type: none;
}

.jf-olList--decimal__style .jf-olList--decimal li {
  counter-increment: listStyle;
}

.jf-olList--decimal__style .jf-olList--decimal li::before {
  content: counter(listStyle, var(--listStyleType)) ".";
}
.jf-unList--squire .jf-list--item::before {
  border: var(--jf-borderWidth-thin) solid var(--jf-naturalLight-700);
}

.jf-olList--roman__style .jf-olList--roman {
  counter-reset: listStyle;
  list-style-type: none;
}

.jf-olList--roman__style .jf-olList--roman li {
  counter-increment: listStyle;
}

.jf-olList--roman__style .jf-olList--roman li::before {
  content: counter(listStyle, var(--listStyleType)) ".";
}

.jf-olList--alfabet__style .jf-olList--alfabet {
  counter-reset: listStyle;
  list-style-type: none;
}

.jf-olList--alfabet__style .jf-olList--alfabet li {
  counter-increment: listStyle;
}

.jf-olList--alfabet__style .jf-olList--alfabet li::before {
  content: counter(listStyle, var(--listStyleType)) ".";
}

.jf-list--unordered li.jf-list--item::before {
  content: '';
  width: 0.7rem;
  height: 0.7rem;
  position: absolute;
  left: 0;
  top: 0.7rem;
}

.jf-unList--disc .jf-list--item::before {
  background: var(--jf-naturalLight-400);
  border-radius: 100%;
}

.jf-unList--squire .jf-list--item::before {
  border-radius: 0;
  background-color: var(--jf-borderWidth-thin);
}

.jf-unList--circle .jf-list--item::before {
  border-radius: 100%;
  border: var(--jf-borderWidth-thin) solid var(--jf-naturalLight-400);
}

.jf-list--ordered .jf-list--item {
  padding-left: 1.8rem;
}