.inte-textField--forDatePicker:hover
  .inte-textField__inputContainer:not(.inte-textField__inputContainer--active, .inte-textField__inputContainer--hasError, .inte-textField__inputContainer--disabled) {
  border-color: var(--inte-G50);
}

.inte-textField--forDatePicker {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: var(--inte-FS1-6);
  font-weight: var(--weight-normal);
  line-height: var(--inte-LH2-2);
  color: var(--inte-G800);
}

.inte-dateInput__container svg {
  width: 20px;
  max-width: unset;
}

.inte-textField__inputContainer {
  display: flex;
  border-radius: 0.6rem;
  border: 1px solid;
  width: 100%;
  border-color: var(--inte-G40);
  height: 4.4rem;
}

.inte-textField__inputContainer.inte-textField__inputContainer--onlyIcon {
  width: min-content;
}

.inte-textField--forDatePicker--hasOnlyIcon {
  width: max-content;
}

.inte-textField__inputContainer--active {
  border-color: var(--inte-P900);
  box-shadow: 0 0 0 0.2rem var(--inte-P40);
  background-color: var(--inte-P20);
}

.inte-textField__inputContainer--seperator {
  min-width: 0.1rem;
  position: relative;
  top: 1.2rem;
  height: 2.4rem;
  background: var(--inte-G50);
}

.inte-dateInput__container {
  display: flex;
  gap: 0.8rem;
  padding: 1rem 1.6rem;
  align-items: center;
  cursor: text;
  flex-grow: 1;
}

.inte-textField__inputContainer--onlyIcon .inte-dateInput__container {
  cursor: pointer;
}

.inte-dateInput {
  color: var(--inte-G800);
  font-weight: var(--weight-normal);
  font-size: var(--inte-FS1-6);
  line-height: var(--inte-LH2-2);
  flex-grow: 1;
  border: none;
  outline: none;
  background: none;
  width: 8rem;
  max-width: 100%;
}

.inte-textField__inputContainer--hasTime .inte-dateInput {
  width: 15.8rem;
}

.inte-textField__clearBtn {
  display: flex;
  align-items: center;
  margin-left: 0.4rem;
  visibility: hidden;
}

.inte-textField__clearBtn--active {
  visibility: visible;
  cursor: pointer;
}

.inte-dateTime__input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14rem;
}

.inte-input--day,
.inte-input--month,
.inte-input--year {
  font-weight: var(--weight-normal);
  font-size: var(--inte-FS1-6);
  line-height: var(--inte-LH2-2);
  width: 3.2rem;
  border: none;
  outline: none;
  text-align: center;
}

.inte-input--year {
  width: 4.4rem;
}

.inte-textField__inputContainer--hasError {
  border-color: var(--inte-R300);
  background-color: var(--inte-R30);
}

.inte-textField__inputContainer--disabled {
  border-color: var(--inte-G40);
  background-color: var(--inte-G0);
  box-shadow: none;
  cursor: not-allowed;
}

.inte-textField__inputContainer--disabled .inte-dateInput__container,
.inte-textField__inputContainer--disabled .inte-dateInput {
  cursor: not-allowed;
}

.inte-textField__inputContainer--disabled .inte-dateInput {
  color: var(--inte-G50);
}

.inte-datePicker__helpText {
  color: var(--inte-G300);
  font-weight: var(--weight-normal);
  line-height: var(--inte-LH2-0);
  font-size: var(--inte-FS1-4);
  margin-top: 0.4rem !important;
}

@media screen and (max-width: 390px) {
  .inte-dateInput__container {
    padding: 1rem;
  }
}
