.inte-tabs--wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.inte-tabs--wrapper.inte-tabs--vertical {
  flex-direction: row;
}

.inte-tabs--hasScrollSpy .inte-tabs {
  position: sticky;
  top: 0;
  z-index: var(--inte-Z-4);
}

.inte-tabs {
  display: flex;
  border: 0.1rem solid var(--inte-G30);
  background-color: var(--inte-G10);
  border-radius: var(--radius-rounded-6);
  overflow: auto hidden;
  margin-bottom: 0;
  width: 100%;
  align-items: center;
}

.inte-tabs--vertical .inte-tabs {
  display: inline-block;
  background-color: unset;
  border: none;
  border-radius: 0;
  overflow: hidden auto;
  width: 25rem;
  align-items: flex-start;
  min-width: 25rem;
}

.inte-tabs--vertical .inte-tabs__item {
  align-self: stretch;
  justify-content: space-between;
}

.inte-tabs__item {
  display: flex;
  padding: 1.2rem 1.6rem;
  gap: 0.8rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  outline: none;
  border-radius: 0.4rem;
}

.inte-tabs__body {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  color: var(--inte-G450);
}

.inte-tabs__badge,
.inte-tabs__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inte-tabs__icon {
  width: 1.6rem;
  height: 1.6rem;
}

.inte-tabs__item--active {
  position: relative;
}

.inte-tabs__item--active::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: calc(100% - 3.2rem);
  height: 0.2rem;
  background-color: var(--inte-P900);
  border-radius: 0.4rem 0.4rem 0 0;
}

.inte-tabs__item:not(.inte-tabs__item--active, .inte-tabs__item--disable):hover
  .inte-tabs__body {
  color: var(--inte-G800);
}

.inte-tabs__item--active .inte-tabs__body {
  color: var(--inte-P900);
}

.inte-tabs--vertical .inte-tabs__item--active::after {
  all: unset;
}

.inte-tabs--vertical .inte-tabs__item--active {
  background-color: var(--inte-P20);
}

.inte-tabs__title {
  white-space: pre;
  display: flex;
  font-size: var(--inte-FS1-6);
  font-weight: var(--weight-normal);
  line-height: var(--inte-LH2-2);
}

.inte-tabs--vertical .inte-tabs__title {
  white-space: break-spaces;
  word-break: break-word;
}
.inte-tabs__contentBox {
  width: 100%;
}
.inte-tabs--vertical.inte-tabs--spacingExtraTight .inte-tabs__contentBox {
  width: calc(100% - 25.4rem);
}
.inte-tabs--vertical.inte-tabs--spacingMediumTight .inte-tabs__contentBox {
  width: calc(100% - 25.8rem);
}
.inte-tabs--vertical.inte-tabs--spacingTight .inte-tabs__contentBox {
  width: calc(100% - 26.2rem);
}
.inte-tabs--vertical.inte-tabs--spacingLoose .inte-tabs__contentBox {
  width: calc(100% - 26.6rem);
}
.inte-tabs--vertical.inte-tabs--spacingMediumLoose .inte-tabs__contentBox {
  width: calc(100% - 27rem);
}
.inte-tabs--vertical.inte-tabs--spacingExtraLoose .inte-tabs__contentBox {
  width: calc(100% - 27.4rem);
}
.inte-tabs--fitted .inte-tabs__item {
  flex: 1 1 100%;
}

.inte-tabs__item--disable {
  opacity: 0.3;
}

.inte-tabs--spacingExtraTight:not(.inte-tabs--hasScrollSpy) {
  gap: 0.4rem;
}

.inte-tabs--spacingMediumTight:not(.inte-tabs--hasScrollSpy) {
  gap: 0.8rem;
}

.inte-tabs--spacingTight:not(.inte-tabs--hasScrollSpy) {
  gap: 1.2rem;
}

.inte-tabs--spacingLoose:not(.inte-tabs--hasScrollSpy) {
  gap: 1.6rem;
}

.inte-tabs--spacingMediumLoose:not(.inte-tabs--hasScrollSpy) {
  gap: 2rem;
}

.inte-tabs--spacingExtraLoose:not(.inte-tabs--hasScrollSpy) {
  gap: 2.4rem;
}

.inte-tabs--hasScrollSpy.inte-tabs--spacingExtraTight
  .inte-tabsSection__item--spacing {
  height: 0.4rem;
}

.inte-tabs--hasScrollSpy.inte-tabs--spacingMediumTight
  .inte-tabsSection__item--spacing {
  height: 0.8rem;
}

.inte-tabs--hasScrollSpy.inte-tabs--spacingTight
  .inte-tabsSection__item--spacing {
  height: 1.2rem;
}

.inte-tabs--hasScrollSpy.inte-tabs--spacingLoose
  .inte-tabsSection__item--spacing {
  height: 1.6rem;
}

.inte-tabs--hasScrollSpy.inte-tabs--spacingMediumLoose
  .inte-tabsSection__item--spacing {
  height: 2rem;
}

.inte-tabs--hasScrollSpy.inte-tabs--spacingExtraLoose
  .inte-tabsSection__item--spacing {
  height: 2.4rem;
}

.inte-tabs--hasScrollSpy.inte-tabs--vertical.inte-tabs--spacingExtraTight {
  gap: 0.4rem;
}

.inte-tabs--hasScrollSpy.inte-tabs--vertical.inte-tabs--spacingMediumTight {
  gap: 0.8rem;
}

.inte-tabs--hasScrollSpy.inte-tabs--vertical.inte-tabs--spacingTight {
  gap: 1.2rem;
}

.inte-tabs--hasScrollSpy.inte-tabs--vertical.inte-tabs--spacingLoose {
  gap: 1.6rem;
}

.inte-tabs--hasScrollSpy.inte-tabs--vertical.inte-tabs--spacingMediumLoose {
  gap: 2rem;
}

.inte-tabs--hasScrollSpy.inte-tabs--vertical.inte-tabs--spacingExtraLoose {
  gap: 2.4rem;
}
