.inte-actionList {
  display: inline-flex;
}

.inte-actionList__wrapper {
  border-radius: var(--radius-rounded-6);
  background-color: var(--inte-G0);
  min-width: 10rem;
  max-width: 30rem;
  z-index: var(--inte-Z-8);
  box-shadow: var(--shadow-medium);
  border: 0.1rem solid var(--inte-G40);
  position: fixed;
  transform-origin: top center;
}

.inte-actionList__sectionContainer {
  max-height: 30rem;
  overflow-y: auto;
  margin: 0;
}

.inte-actionList__groupSection {
  padding: 0 1.2rem 0.8rem 1.2rem;
}

.inte-actionList__groupSection:first-child {
  padding-top: 1.2rem;
}

.inte-actionList__groupSection:last-child,
.inte-actionList__noTitle {
  padding-bottom: 0;
}

.inte-actionList__groupSection + .inte-actionList__noTitle {
  padding-top: 1.2rem;
  border-top: 0.1rem solid var(--inte-G40);
}

.inte-actionList__heading {
  padding: 0 0 0.8rem 0;
  margin: 0;
  font-weight: var(--weight-bolder);
  word-break: break-word;
  font-size: 1.3rem;
  line-height: 2rem;
  color: var(--inte-G200);
  text-transform: uppercase;
}

.inte-actionList__item {
  display: flex;
  align-items: flex-start;
  border-radius: var(--radius-rounded-4);
  padding: 1rem 1.2rem;
  transition: 100ms all linear;
}

.inte-actionList__item:hover {
  cursor: pointer;
}

.inte-actionList__item:active {
  background-color: var(--inte-P30) !important;
}
.inte-actionList__item--destrctive:active {
  background-color: var(--inte-R30) !important;
}

.inte-actionList__item.inte-actionList__item--destrctive:active {
  background-color: var(--inte-R40) !important;
}

.inte-actionList__content {
  display: flex;
  gap: 0.8rem;
  width: 100%;
}

.inte-actionList__icon > svg {
  height: 2rem;
  width: 2rem;
  display: block;
}
.inte-actionList__contentText {
  width: 100%;
}
.inte-actionList__content .inte-actionList__title,
.inte-actionList__content .inte-actionList__description {
  font-size: 1.6rem;
  font-weight: var(--weight-normal);
  color: var(--inte-G800);
  line-height: 2.2rem;
}

.inte-actionList__item.inte-actionList__item--destrctive
  .inte-actionList__title {
  color: var(--inte-R400);
}
.inte-actionList__content .inte-actionList__description {
  color: var(--inte-G200);
  margin-top: 0.4rem !important;
}

/* ActionList Aminamtion  */
.inte-actionList--in {
  animation: popoverAnimation 0.1s linear forwards;
}
.inte-actionList--out {
  animation: popoverAnimationReverse 0.1s linear forwards;
}
/* ActionList Mobile Device css*/
.inte-actionList--mobileDevice.inte-actionList__wrapper {
  transform-origin: unset !important;
  border-radius: unset;
}
.inte-actionList--mobileDevice > .inte-actionList__sectionContainer {
  max-height: calc(100vh - 15rem) !important;
}
.inte-actionList--mobileDevice > .inte-actionList__inFooter {
  max-height: calc(100vh - 23rem) !important;
}
/* heading  */
.inte-actionList__mobileHeading__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1.8rem 2.4rem 1.6rem 2.4rem;
  align-items: center;
  border-bottom: 1px solid var(--inte-G40);
  position: relative;
  z-index: 1;
}
.inte-actionList__mobile--heading {
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 600;
  width: calc(100% - 4.4rem);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.inte-actionList__handelBar {
  position: absolute;
  top: -1.5rem;
  left: 50%;
  transform: translate(-50%, 0);
  width: 7.8rem;
  background-color: var(--inte-G40);
  height: 0.4rem;
  border-radius: 2.2rem;
}

/* heading  end*/
.inte-actionList--mobileDevice
  .inte-actionList__sectionContainer
  .inte-actionList__groupSection:not(:last-child) {
  border-bottom: 1px solid var(--inte-G40);
  margin-bottom:0;
}
.inte-actionList--mobileDevice
  .inte-actionList__sectionContainer
  .inte-actionList__groupSection
  + .inte-actionList__noTitle {
  border-top: unset !important;
  padding-top: unset !important;
}

.inte-actionList--mobileDevice .inte-actionList__item:not(:last-child) {
  border-bottom: 1px dashed var(--inte-G40);
}
.inte-actionList--mobileDevice .inte-actionList__item {
  padding: 1.8rem 1.2rem !important;
  border-radius: unset !important;
}
.inte-actionList--mobileDevice .inte-actionList__heading {
  padding: unset;
}

/* footer  */
.inte-actionList__footer {
  padding: 2rem;
  border-top: 1px solid var(--inte-G40);
}
/* disabled  */
.inte-actionList__item.inte-actionList--disabled {
  background-color: unset !important;
  cursor: not-allowed;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.inte-actionList__item.inte-actionList--disabled .inte-actionList__title,
.inte-actionList__item.inte-actionList--disabled .inte-actionList__description {
  color: var(--inte-G70);
}
@keyframes popoverAnimationReverse {
  100% {
    -webkit-transform: scale(0.95, 0.95);
    transform: scale(0.95);
    opacity: 0;
  }

  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes popoverAnimation {
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 1;
  }

  0% {
    -webkit-transform: scale(0.95, 0.95);
    transform: scale(0.95);
    opacity: 0.8;
  }
}
