/*Toast*/
.inte-toast-wrapper {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%);
  z-index: var(--inte-Z-9);
}
.inte-toast {
  display: flex;
  gap: 0.8rem;
  margin-top: 1.5rem;
  padding: 1.2rem 2.4rem;
  background-color: var(--inte-G800);
  color: var(--inte-G0);
  border-radius: var(--radius-rounded-6);
  justify-content: space-between;
  max-width: 60rem;
  min-width: 20rem;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-animation-duration: 150ms;
  animation-duration: 150ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  overflow: hidden;
}
.inte-toast--in {
  -webkit-animation-name: toastAnimation;
  animation-name: toastAnimation;
  transform-origin: bottom top;
}
.inte-toast--out {
  -webkit-animation-name: toastAnimationOut;
  animation-name: toastAnimationOut;
  transform-origin: top bottom;
}
.inte-toast .inte-svgIcon {
  min-width: 2rem;
}
.inte-toast--error {
  background-color: var(--inte-R300);
}
.inte-toast--success {
  background-color: var(--inte-GR300);
}
.inte-toast__contentWrapper {
  display: flex;
  gap: 0.8rem;
}
.inte-toast__msg {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  line-height: 2rem;
}
.inte-toast__msg :nth-child(1) {
  font-size: 1.4rem;
  font-weight: var(--weight-bolder);
}
.inte-toast__msg :nth-child(2) {
  font-size: 1.4rem;
  font-weight: var(--weight-normal);
}
.inte-toast__undo {
  display: flex;
  align-items: center;
}
.inte-toast .inte-flex > div:first-child {
  display: flex;
  align-items: center;
  padding: 0.2rem 0.4rem;
}
.inte-toast__undo .inte-btn__text {
  color: var(--inte-G0);
  margin-left: 0.8rem;
}
.inte-toast__undo .inte-btn__text:hover {
  text-decoration: underline;
}
.inte-toast__close {
  margin-left: 0.8rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.inte-toast__progressContainer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: var(--inte-P30);
  border-radius: 0 0 var(--radius-rounded-6) var(--radius-rounded-6);
}
.inte-toast__progressBar {
  position: absolute;
  height: 100%;
  background-color: var(--inte-P500);
  border-radius: 0 0 var(--radius-rounded-6) var(--radius-rounded-6);
  animation-name: toastProgress;
  animation-timing-function: linear;
}
.inte-toast.inte-toast--mobileDevice {
  max-width: calc(100vw - 3.2rem);
  width: 100vw;
}
/*Toast End*/
@keyframes toastProgress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
@keyframes toastAnimation {
  100% {
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
    max-height: 400px;
    padding: 1.2rem 2.4rem;
    opacity: 1;
  }
  0% {
    -webkit-transform: translateY(100%) scale(0.75);
    transform: translateY(100%) scale(0.75);
    max-height: 0;
    padding: 0rem 2.4rem;
    opacity: 0;
  }
}
@-webkit-keyframes toastAnimation {
  100% {
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
    max-height: 400px;
    padding: 1.2rem 2.4rem;
    opacity: 1;
  }
  0% {
    -webkit-transform: translateY(100%) scale(0.75);
    transform: translateY(100%) scale(0.75);
    max-height: 0;
    padding: 0rem 2.4rem;
    opacity: 0;
  }
}
@keyframes toastAnimationOut {
  0% {
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
    max-height: 400px;
    padding: 1.2rem 2.4rem;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(100%) scale(0.75);
    transform: translateY(100%) scale(0.75);
    max-height: 0;
    padding: 0rem 2.4rem;
    opacity: 0;
  }
}
@-webkit-keyframes toastAnimationOut {
  0% {
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
    max-height: 400px;
    padding: 1.2rem 2.4rem;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(100%) scale(0.75);
    transform: translateY(100%) scale(0.75);
    max-height: 0;
    padding: 0rem 2.4rem;
    opacity: 0;
  }
}
