.inte-dataTable--bulkEdit .inte-dataTable__checkbox .inte-checkbox {
    display: flex;
    align-items: center;
}

.inte-dataTable--bulkEdit .inte-dataTable__headerRow th {
    padding: 0 1.2rem;
}

.inte-dataTable--bulkEdit  *:not(th) {
    font-weight: 400 !important;
    font-size: small !important;
}

.inte-dataTable--bulkEdit .inte-dataTable__cell {
    padding: 0rem 0rem;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #1C2433;
}

.inte-dataTable--bulkEdit .inte-dataTable__cell:not(:first-child) {
    border-left: 0.1rem solid var(--inte-G40);
}


.inte-dataTable--bulkEdit .inte-dataTable__cell input ,
.inte-dataTable--bulkEdit .inte-formElement__control{
    border:none;
    border-radius: 0;
    /* background-color: var(--inte-G40); */
}

.inte-dataTable--bulkEdit .inte-dataTable__cell input:focus ,
.inte-dataTable--bulkEdit .inte-formElement--select-focused  .inte-formElement__control{
    border:0.1rem solid var(--inte-P900);
    border-radius: 0;
}

.inte-dataTable--bulkEdit th.inte-dataTable__cell::before {
    content: unset !important;
}

.inte-dataTable__bulkEditRow th {
    background-color: #F6F6F7;
    padding: 1rem 0rem!important;
    /* border: 0 !important; */
}

.inte-dataTable--bulkEdit .inte-DataTable__resizeHandler {
    right: 0;
    &:hover {
        background-color: var(--inte-P50);
    }
}

.bulk-edit-story-wrapper .inte-main {
    padding: 1rem 0;
}

.inte-dataTable--bulkEdit.inte-dataTable__container {
    border-radius: 0;
}




.price-edit-action-list {
    display: flex;
}

.no-wrap-text {
    text-wrap: nowrap;
}

.bulkEdit-price-editor .inte-actionList {
    display: flex;
}

.bulk-edit-story-wrapper .inte-appBar__toggleButton {
    display: none;
}



/* //for minimal styling */

.inte-dataTable__cell  .price-editor-container {
    display: grid;
    gap:12px;
    align-items: center;
    grid-template-columns: 180px 1.5fr 1fr;
    width: 100%;
    padding: 0 1.2rem;
}

.inte-dataTable__cell:not(th) .price-editor-container > .inte-formElement {
    border-left : 1px solid var(--inte-G40);
    border-right : 1px solid var(--inte-G40);
}

.inte-dataTable--bulkEdit .inte-formElement--spinner span {
    background: unset;
}

.inte-dataTable--bulkEdit .inte-formElement .inte-formElement__textField ,
.inte-dataTable--bulkEdit .inte-formElement__select {
    height: 3.2rem !important;
}

.inte-dataTable--bulkEdit .inte-formElement--spinner  {
    height: 3.2rem;
}

.inte-dataTable--bulkEdit .inte-formElement--spinner span ,
.inte-dataTable--bulkEdit .inte-btn__disclosure{
    height: 1.6rem;
    width: 2rem;
    
}

.inte-dataTable--bulkEdit .inte-formElement--spinner span svg {
    color: var(--inte-G450);
}

.inte-dataTable--bulkEdit .inte-formElement__innericPrefix {
    z-index: 0;
}


/* for highlighting edited cell */

.inte-dataTable__cell--edited .inte-formElement__control {
    background-color: transparent;
}