.inte-choiceList {
  scroll-behavior: unset;
}

.inte-choiceList .inte-checkbox,
.inte-choiceList .inte-radio {
  width: 100%;
  padding: 1rem 1.6rem;
  cursor: pointer;
}

.inte-choiceList .inte-checkbox label,
.inte-choiceList .inte-radio label {
  width: 100%;
  cursor: pointer;
}

.inte-choiceList
  .inte-checkbox--fake:focus
  + .inte-checkboxWrap
  .inte__checkboxEle--fake,
.inte-choiceList
  .inte-radio--fake:focus
  + .inte-radioWrap
  .inte-radioEle--fake {
  box-shadow: none;
}

.inte-choiceList .inte-choiceList__item--hovered {
  background-color: var(--inte-P30);
  border-radius: 0.6rem;
}

.inte-choiceList .inte-checkboxGroup__list,
.inte-choiceList .inte-radioGroup__list {
  gap: unset;
}
.inte-popover.inte-choiceList {
  padding: 0;
}
.inte-choiceList__wrapper {
  padding: 1.2rem;
}
.inte-popover__body .inte-choiceList__wrapper {
  padding: unset;
}
.inte-choiceList ul {
  margin-bottom: 0;
}
/* custom focus on activator  */
.inte-choiceList__activator--focus {
  z-index: 1;
  box-shadow: 0 0 0 0.1rem var(--inte-G0), 0 0 0 0.3rem var(--inte-B80);
  -webkit-box-shadow: 0px 0px 0px 0.1rem var(--inte-G0),
    0 0 0 0.3rem var(--inte-B80);
  -moz-box-shadow: 0px 0px 0px 0.1rem var(--inte-G0),
    0 0 0 0.3rem var(--inte-B80);
  -o-box-shadow: 0px 0px 0px 0.1rem var(--inte-G0), 0 0 0 0.3rem var(--inte-B80);
  -webkit-appearance: none;
  appearance: none;
}
/* checkbox list  */

.inte-checkboxGroup__listItem.inte-choiceList__item--hovered:hover
  .inte-checkbox:not(.inte-checkbox--disabled)
  > label
  .inte-checkboxWrap
  .inte__checkboxEle--fake {
  border-color: var(--inte-P1000) !important;
}

.inte-checkboxGroup__listItem.inte-choiceList__item--hovered:hover
  .inte-checkbox:not(.inte-checkbox--disabled)
  label
  .inte-checkbox--fake:checked
  + .inte-checkboxWrap
  > .inte__checkboxEle--fake,
.inte-checkboxGroup__listItem.inte-choiceList__item--hovered:hover
  .inte-checkbox:not(.inte-checkbox--disabled)
  label
  .inte-checkbox--fake:indeterminate
  + .inte-checkboxWrap
  > .inte__checkboxEle--fake {
  background: var(--inte-P1000) !important;
}

/* radio list  */
.inte-radioGroup__listItem.inte-choiceList__item--hovered:hover
  .inte-radio:not(.inte-radio--disabled)
  > label
  .inte-radioWrap
  .inte-radioEle--fake {
  border-color: var(--inte-P1000);
}

.inte-popover.inte-choiceList {
  z-index: var(--inte-Z-9);
}
