.jf-spinner {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
}

.jf-spinner .jf-spinner-circle {
    -moz-animation: rotation 1s infinite linear;
    -o-animation: rotation 1s infinite linear;
    -webkit-animation: rotation 0.75s linear infinite;
    animation: rotation 0.75s linear infinite;
    border-radius: 50%;
    border-left: 0.2rem solid #a3a3a3;
    border-width: 0.2rem;
    border-style: solid;
}

label.jf-spinner-label {
    color: #6a6a6a;
}


.jf-spinner-large .jf-spinner-circle {
    width: 2.4rem;
    height: 2.4rem;
}

.jf-spinner-medium .jf-spinner-circle {
    width: 2rem;
    height: 2rem;
}

.jf-spinner-small .jf-spinner-circle {
    width: 1.6rem;
    height: 1.6rem;
}

label.jf-spinner-label {
    font-size: 1.4rem;
    color: #6a6a6a;
}


.jf-spinner-small .jf-spinner-label {
    font-size: 1.2rem;
}

.jf-spinner-medium .jf-spinner-label {
    font-size: 1.3rem;
}



.jf-spinner.jf-spinner-small .jf-spinner-circle {
    border-width: 0.1rem;
}


.jf-spinner-positive .jf-spinner-circle {
    border-color: var(--jf-Possitive-800);
    border-left-color: var(--jf-Possitive-600);
}

.jf-spinner-negative .jf-spinner-circle {
    border-color: var(--jf-Negative-800);
    border-left-color: var(--jf-Negative-400);
}

.jf-spinner-notice .jf-spinner-circle {
    border-color: var(--jf-Notice-800);
    border-left-color: var(--jf-Notice-400);
}

.jf-spinner-info .jf-spinner-circle {
    border-color: var(--jf-Sapphire-800);
    border-left-color: var(--jf-Sapphire-500);
}

.jf-spinner-neutral .jf-spinner-circle {
    border-color: var(--jf-Cloud-800);
    border-left-color: var(--jf-Cloud-400);
}

.jf-spinner-primary .jf-spinner-circle {
    border-color: var(--jf-Cerulean-800);
    border-left-color: var(--jf-Cerulean-500);
}

.jf-spinner.jf-spinner-labelRight {
    flex-direction: row;
    gap: 1rem;
}



@keyframes rotation {
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotation {
    to {
        transform: rotate(360deg);
    }
}

@-moz-keyframes rotation {
    to {
        transform: rotate(360deg);
    }
}