.inte-formElement .inte-formElement__textField {
  height: 4.4rem !important;
}

.inte-formElement--loading .inte-formElement__textField {
  padding-right: 43px !important;
}

.inte-formElement__control:focus {
  box-shadow: 0 0 0 3px var(--inte-P30);
  border-color: var(--inte-P900);
  background-color: var(--inte-P20);
}


.inte-formElement--hasInnerIconSuf.inte-formElement--loading .inte-formElement__textField {
  padding-right: 82px !important;
}

/* Inner Prefix and Suffix */
.inte-formElement--hasInnerIconPre .inte-formElement__innericPrefix,
.inte-formElement--hasInnerIconSuf .inte-formElement__innericSuffix {
  position: absolute;
  left: 1.2rem;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  max-width: 8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--inte-G200);
  display: inline-flex;
}



.inte-formElement--hasInnerIconPre .inte-formElement__innericPrefix {
  padding-right: 0.8rem;
  border-right: 0.1rem solid var(--inte-G40);
}



.inte-formElement--hasInnerIconSuf .inte-formElement__innericSuffix {
  left: unset;
  right: 1.2rem;
  padding-left: 0.8rem;
  border-left: 0.1rem solid var(--inte-G40);
}

.inte-formElement--hasInnerIconPre .inte-formElement__innericPrefix svg,
.inte-formElement--hasInnerIconSuf .inte-formElement__innericSuffix svg {
  display: flex;
}

/* Inner Prefix and Suffix end*/



/* Password Strength */
.inte-formElement__passwordStrenth {
  position: absolute;
  bottom: -0.1rem;
  right: 0;
  left: 0;
  height: 0.4rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: var(--inte-G30);
  overflow: hidden;
}

.inte-formElement__strength {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: var(--radius-rounded-4);
  transition: 300ms all ease-in-out;
}

.inte-formElement__strength--poor {
  background-color: var(--inte-R350);
  width: 15%;
}

.inte-formElement__strength--weak {
  background: linear-gradient(90deg,
      var(--inte-R350) 0%,
      var(--inte-Y300) 68.92%);
  width: 50%;
}

.inte-formElement__strength--strong {
  background-color: var(--inte-GR300);
  width: 100%;
}

/* Password Strength end */

/* Connected Field */
.inte-form--connectedField {
  display: flex;
  gap: 0.4rem;
}

.inte-form--connectLeft,
.inte-form--connectRight {
  max-width: 22rem;
  min-width: 10rem;
}

.inte-form--connectedField .inte-formElement__inner {
  flex-grow: 1;
}

/* Connected Field End */

/* Input Type Number */
.inte-formElement--spinner {
  position: absolute;
  right: 0.1rem;
  bottom: 0.1rem;
  width: 4rem;
  border-top-right-radius: var(--radius-rounded-4);
  border-bottom-right-radius: var(--radius-rounded-4);
  overflow: hidden;
}

.inte-formElement--spinner span {
  width: 100%;
  display: flex;
  height: 2.1rem;
  background-color: var(--inte-G40);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.inte-formElement:focus+.inte-formElement--spinner>span:hover,
.inte-formElement--spinner span:hover {
  background-color: var(--inte-G50);
}

/* Input Type Number End */

/* Input type color */
input[type="color"]::-webkit-color-swatch {
  border-radius: var(--radius-rounded-4);
  border: none;
  height: 3rem;
  width: 3rem;
  position: absolute;
  right: 1.2rem;
  top: 50%;
  transform: translateY(-50%);
}

.inte-formElemet--colorValue {
  position: absolute;
  z-index: 1;
  top: 45%;
  transform: translateY(-50%);
  display: inline-block;
  left: 1.2rem;
  user-select: none;
  pointer-events: none;
}

.inte-formElement--hasInnerIconPre .inte-formElemet--colorValue {
  left: 55px;
}

/* Input type color End */