.inte-fileUpload__dropZone {
  border-radius: var(--radius-rounded-6);
  cursor: pointer;
  border: 0.1rem solid var(--inte-G40);
  background-color: var(--inte-G0);
  display: block;
}
.inte-fileUpload__dropZone--primary {
  padding: 1.6rem 2.4rem;
}
.inte-fileUpload__dropZone--secondary {
  padding: 0.9rem 1.8rem;
}
.inte-fileUpload__dropZone:not(.inte-fileUpload__dropZone--disabled):hover {
  background-color: var(--inte-P20);
  border: 0.1rem dashed var(--inte-P50);
}
.inte-fileUpload__dropZone:not(.inte-fileUpload__dropZone--disabled):active {
  background-color: var(--inte-P30);
}
.inte-fileUpload--dragOver {
  background-color: var(--inte-P20);
  border: 0.1rem dashed var(--inte-P50);
}
.inte-fileUpload__inputBox {
  display: none;
}
.inte-fileUpload__dropZoneText {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
}
.inte-fileUpload__dropZoneText svg {
  min-width: 2.4rem;
}
.inte-fileUpload__dropZone--secondary .inte-fileUpload__dropZoneText {
  flex-direction: row;
  gap: 1.6rem;
}
.inte-fileUpload__uploadTextWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: center;
}
.inte-fileUpload__status {
  max-height: 2.2rem;
}
.inte-fileUpload__status > div {
  padding: 0.2rem 0;
}
.inte-fileUpload__uploadText {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  white-space: pre;
}
.inte-fileUpload__uploadText span:first-child {
  font-size: var(--inte-FS1-4);
  line-height: 1.6rem;
  color: var(--inte-P900);
  font-weight: var(--weight-bolder);
}
.inte-fileUpload__uploadText span:nth-child(2),
.inte-fileUpload__fileSize {
  font-size: var(--inte-FS1-4);
  line-height: var(--inte-LH2-0);
  color: var(--inte-G200);
  font-weight: var(--weight-normal);
}
.inte-fileUpload .inte-fileUpload--dragOver span {
  color: var(--inte-P700);
}
.inte-fileUpload__fileType {
  font-size: var(--inte-FS1-2);
  font-weight: var(--weight-normal);
  line-height: var(--inte-LH1-8);
  color: var(--inte-G200);
  text-transform: uppercase;
}
/* Helper text */
.inte-fileUpload__itemHelp {
  font-size: 1.6rem;
  color: var(--inte-G300);
  margin-top: 0.8rem;
  display: block;
  line-height: 2.2rem;
}
.inte-fileUpload__itemHelp--HasHelpIcon {
  display: flex;
  gap: 0.8rem;
  align-items: flex-start;
}
/* Helper Text End */
.inte-fileUpload__itemWrapper {
  margin-top: 1.2rem;
  padding: 1.6rem;
  border-radius: var(--radius-rounded-6);
  position: relative;
  border: 0.1rem solid var(--inte-G40);
}
.inte-fileUpload__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.8rem;
}
.inte-fileUpload__itemTextWithIcon {
  display: flex;
  gap: 1.6rem;
  flex-wrap: nowrap;
  max-width: calc(100% - 4rem);
}
.inte-fileUpload__itemTextWithIcon > svg {
  min-width: 3.6rem;
}
.inte-fileUpload__itemText {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.inte-fileUpload__itemWrapper button:hover {
  border-radius: var(--radius-rounded-6);
  background-color: var(--inte-G30);
}
.inte-fileUpload__fileName {
  font-size: var(--inte-FS1-6);
  font-weight: var(--weight-normal);
  line-height: var(--inte-FS2-0);
  color: var(--inte-G800);
  word-break: break-all;
}
.inte-fileUpload__itemTextWithStatus {
  display: flex;
  gap: 0.4rem;
}
.inte-fileUpload__progressBar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--inte-P20);
  border-radius: var(--radius-rounded-6);
  width: inherit;
  animation-name: fileUploadProgress;
  animation-timing-function: linear;
  animation-duration: 1000ms;
  bottom: 0;
}
.inte-fileUpload__itemWrapper--success {
  background-color: var(--inte-P20);
  border: 0.1rem solid var(--inte-P400);
}
@keyframes fileUploadProgress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
.inte-fileUpload__fileClear {
  background-color: transparent;
  border: none;
  display: flex;
  padding: 0.6rem;
  cursor: pointer;
}
/* Disabled case starts*/
.inte-fileUpload__dropZone--disabled {
  user-select: none;
  cursor: not-allowed;
  background-color: var(--inte-G10);
  border: 0.1rem solid var(--inte-G40);
}
.inte-fileUpload__dropZone--disabled
  .inte-fileUpload__uploadText
  span:first-child {
  color: var(--inte-G50);
}
.inte-fileUpload__dropZone--disabled
  .inte-fileUpload__uploadText
  span:nth-child(2) {
  color: var(--inte-G90);
}
/*File Upload Disabled case end */
/* Error case starts*/
.inte-fileUpload__itemWrapper--error {
  background-color: var(--inte-R30);
  border: 0.1rem solid var(--inte-R200);
}
.inte-fileUpload__itemWrapper--error .inte-fileUpload__fileSize {
  color: var(--inte-R300);
}
.inte-fileUpload__itemWrapper--error .inte-fileUpload__fileName {
  color: var(--inte-R500);
}
/* File Upload Error case End*/
