.inte-LineChart {
    /* border: 1px solid #ccc; */

    position: relative;
    &svg {
      z-index: 1;
    }
  }

  .inte-scaleLabel {
    font-family: "Averta-CY", "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  .inte-scaleLabel--vertical {
    text-anchor: end;
    alignment-baseline: central;
  }

  .inte-scaleLabel--horizontal {
    text-anchor: middle;
    alignment-baseline: hanging;
  }

  .hovered-line {
    z-index: 0;
    position: absolute;
    pointer-events: none;
    &.vertical {
      border-left:dashed grey ;
    }
    &.horizontal {
      border-top:dashed grey ;
    }
  }

  .inte-LineChart__toolTipBox {
    display: flex;
    gap: 2px;
    position: absolute;
    transform-origin: center;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  .inte-LineChart__tooltip-circle {

  }

  .inte-LineChart__toolTipData {
    display: flex;
    gap: 30px;
  }