/*Skeleton*/
.inte__skeletonWrapper {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: opacity;
}

.inte__Skeleton--Text {
  background: var(--inte-G30);
  overflow: hidden;
  border-radius: var(--radius-rounded-4);
}

.inte__Skeleton--Text+.inte__Skeleton--Text {
  margin-top: 1rem;
}

.inte__Skeleton--Text::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  animation: loading 1.5s infinite;
  background: linear-gradient(to right, transparent, var(--inte-G40), transparent);
}

.inte__Skeleton--TextRounded {
  border-radius: 50%;
}

.inte__Skeleton--Text:last-child:not(:first-child) {
  width: 80%;
}

/*Skeleton end*/

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}