.jf-indicator {
    display: inline-flex;
    align-items: center;
}
span.jf-indicator-dot {
    width: 8px;
    height: 8px;
    display: inline-block;
    background: var(--jf-naturalDark-1300);
    border-radius: 100%;
   
    vertical-align: middle;
}
.jf-indicator .jf-indicator-label {
    color: var(--jf-naturalDark-1100);
    margin-left: 0.5rem;
}
.jf-indicator--possitive .jf-indicator-dot {
    background-color: var(--jf-Possitive-600);
}
.jf-indicator--negative .jf-indicator-dot {
    background-color: var(--jf-Negative-600);
}
.jf-indicator--waiting .jf-indicator-dot {
    background-color: var(--jf-Notice-400);
}

.jf-indicator--primary .jf-indicator-dot {
    background-color: var(--jf-Cerulean-600);
}


.jf-indicator.jf-has-string .jf-indicator-dot {
    width: auto !important;
    height: auto !important;
    min-width: 20px !important;
    min-height: 15px !important;
    font-size: 12px;
    text-align: center;
    color: #fff;
    padding: 3px;
    line-height: normal;
}