.inte-filter__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1.6rem;
  border-bottom: 1px solid var(--inte-G40) !important;
}

.inte-filter__title {
  font-weight: var(--weight-bolder);
  font-size: var(--inte-FS2-0);
  line-height: var(--inte-LH2-4);
  color: var(--inte-G800);
}

.inte-filter__clearBtn {
  margin-top: 1.6rem;
}

/* filter sheet */

.inte-filter--sheet .inte-sheet__body {
  padding: 0;
  overflow: unset;
}

.inte-filter__body,
.inte-filter__body .inte-tabs--wrapper {
  height: 100%;
}

.inte-filter--sheet .inte-tabs__contentBox {
  width: 55%;
  padding: 1.6rem;
  height: 100%;
  overflow-y: auto;
}

.inte-filter--sheet .inte-tabs__item {
  width: 100%;
}

/* filter popover */
.inte-filter--popover {
  padding: unset;
  padding: 0;
  width: auto !important;
}

.inte-filter--popover .inte-popover__body {
  padding: unset;
}

.inte-filter--popover:not(.inte-filter--popover--animating) {
  max-height: max-content !important ;
}

.inte-filter--popover--animating {
  overflow: hidden;
}

.inte-filter--popover .inte-filter__body {
  padding: 0 2rem;
  padding: 1.6rem;
}
.inte-popover__mobileDevice .inte-filter__body {
  padding: 2.4rem;
}
.inte-filter__footer {
  border-top: 0.1rem solid var(--inte-G40);
  padding: 1.6rem;
}

.inte-popover__mobileDevice .inte-filter__footer {
  padding: 2.4rem;
}
.inte-filter--popover .inte-filter__body .inte-tabs__contentBox {
  margin-top: 1.6rem;
}
/* mobile device  */

.inte-filter--sheet .inte-tabs--wrapper {
  flex-direction: row !important;
}
.inte-filter--sheet .inte-tabs--wrapper .inte-tabs {
  flex-direction: column;
  border: none;
  overflow: auto;
  border-right: 1px solid var(--inte-G50);
  border-radius: unset;
  background-color: unset;
  width: 45%;
  height: 100%;
  min-width: unset;
}
.inte-sheet__mobileDevice.inte-filter--sheet .inte-tabs--wrapper .inte-tabs,
.inte-sheet__mobileDevice.inte-filter--sheet .inte-tabs__contentBox {
  height: calc(100vh - 21.2rem);
}
.inte-filter--sheet .inte-tabs--wrapper .inte-tabs .inte-tabs__item--active {
  background-color: var(--inte-P20);
}
.inte-filter--sheet .inte-tabs--wrapper .inte-tabs .inte-tabs__item {
  justify-content: space-between;
}
.inte-filter--sheet
  .inte-tabs--wrapper
  .inte-tabs
  .inte-tabs__item--active::after {
  content: unset;
}

.inte-filter--sheet .inte-shadow__top,
.inte-shadow__bottom {
  box-shadow: unset;
}
.inte-filter--sheet .inte-tabs__title {
  word-break: break-word;
  white-space: unset;
}


