.inte-card {
  background-color: var(--inte-G0);
  border-radius: var(--radius-rounded-8);
  width: 100%;
  border: 0.1rem solid var(--inte-G40);
}

.inte-card.inte-card__interactive {
  border: .1rem solid var(--inte-P40);
  border-radius: .6rem;
  user-select: none;
  cursor: pointer;
}

.inte-card.inte-card__interactive:hover {
  background: var(--inte-P20);
}

.inte-card.inte-card__interactive:active {
  background: var(--inte-P25);
}

/* card types */
.inte-card--borderless {
  border: 0 !important;
}

.inte-card--shadowed {
  box-shadow: var(--shadow-small);
}

.inte-card--filled {
  background-color: var(--inte-G10);
}

/* card types end*/
/* spacing */
.inte-card--loose .inte-card__header,
.inte-card--loose .inte-card__body,
.inte-card--loose .inte-card__footer {
  padding: 2rem;
}
.inte-card--tight .inte-card__header,
.inte-card--tight .inte-card__body,
.inte-card--tight .inte-card__footer {
  padding: 1.6rem;
}
/* spacing end*/

/* Card Header */
.inte-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
  padding-bottom: 0 !important;
}

.inte-card__headerLeft--hasAvatar {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.inte-card__headerContent {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 100%;
}

.inte-card__headerTitle {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
  color: var(--inte-G800);
}

.inte-card__headerSubtitle {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.2rem;
  color: var(--inte-G300);
}

/* Card Header End */

/* Media card */
.inte-card--hasMedia.inte-card--tight>.inte-card__header:first-of-type {
  padding-bottom: 1.6rem !important;
}

.inte-card--hasMedia.inte-card--loose>.inte-card__header:first-of-type {
  padding-bottom: 2rem !important;
}

.inte-card>.inte-card__media:first-of-type {
  border-top-right-radius: var(--radius-rounded-8);
  border-top-left-radius: var(--radius-rounded-8);
  overflow: hidden;
}

/* Media card end */

.inte-card+.inte-card {
  margin-top: 2rem;
}

/* footer */
.inte-card__footer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 1.6rem;
  margin-top: auto;
  padding-top: 0 !important;
}