.inte-activityGauge {
  position: relative;
}

.inte-activityGauge__svg {
  height: 100%;
  width: 100%;
}

.inte-activityGauge__info {
  position: absolute;
}

.inte-activityGauge__circle {
  transform: rotate(271deg);
  transform-origin: center;
}

.inte-activityGauge__info {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: center;
}
