/* ActivityGauge.css */

.inte-activityGauge {
  position: relative;
}
.inte-activityGauge__labelValue {
  position: absolute;
}

.inte-activityGauge__labelValue {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
