.inte-virtualSelect__value {
  text-overflow: ellipsis;
}
/* Select DropDown */
.inte-virtualSelect__dropdown,
.inte-virtualSelect__dropdown--onMobile {
  z-index: var(--inte-Z-8);
  position: fixed;
}
.inte-virtualSelect__mobileHeader__wrapper ~ .inte-virtualSelect__options {
  overflow: auto;
  max-height: 40rem;
}
.inte-virtualSelect__dropdown > div {
  background-color: var(--inte-G0);
  border-radius: var(--radius-rounded-6);
  border: 0.1rem solid var(--inte-G40);
  box-shadow: var(--shadow-medium);
  overflow: auto;
  right: 0;
  max-height: 25rem;
}
.inte-virtualSelect__skeletonWrapper {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  gap: 2rem;
}
.inte-virtualSelect__skeleton {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.inte-virtualSelect__item--group {
  flex-direction: column;
}
.inte-virtualSelect__dropdown--onMobile
  .inte-virtualSelect__item--group.inte-virtualSelect__groupHeader {
  padding: unset;
}
.inte-virtualSelect__item--group.inte-virtualSelect__groupHeader {
  padding: 0 0 0.8rem 0;
  cursor: auto;
  display: flex;
  justify-content: space-between;
  min-height: unset;
  margin-top: 1.6rem;
}
.inte-virtualSelect__items-container
  .inte-virtualSelect__groupHeader:first-child {
  margin-top: 0;
}
.inte-virtualSelect__groupHeader .inte-virtualSelect__itemInner > span {
  text-transform: uppercase;
  color: var(--inte-G90) !important;
  font-size: 1.3rem;
  font-weight: var(--weight-bolder) !important;
  display: block;
  line-height: 2rem;
}
.inte-virtualSelect__dropdown--onMobile
  .inte-virtualSelect__itemInner.inte-virtualSelect__itemInner-grouped {
  padding: 0 2.4rem 0 2.4rem;
}
.inte-virtualSelect__itemInner.inte-virtualSelect__itemInner-grouped {
  flex-direction: unset;
  justify-content: space-between;
}
.inte-virtualSelect__item:not(.inte-virtualSelect__groupHeader):active {
  background-color: var(--inte-G30) !important;
}
.inte-virtualSelect__item.inte-virtualSelect__item--active {
  background: var(--inte-P30) !important;
}
.inte-virtualSelect__itemInner {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  overflow: hidden;
}
.inte-virtualSelect__dropdown--onMobile
  .inte-virtualSelect__itemInner
  > span:first-child {
  line-height: 2rem;
}
.inte-virtualSelect__itemInner > span,
.inte-virtualSelect__itemInner span + span {
  font-size: 1.6rem;
  line-height: 2.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.inte-virtualSelect__itemInner span + span {
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: var(--inte-G200);
}
.inte-virtualSelect__dropdown .inte-virtualSelect__groupedItem {
  padding: 0;
}
.inte-virtualSelect__dropdown--onMobile
  .inte-virtualSelect__items-container
  .inte-virtualSelect__item:not(.inte-virtualSelect__groupHeader) {
  padding: 1.8rem 2rem;
  min-height: 4.2rem;
  user-select: none;
}

.inte-virtualSelect__items-container
  .inte-virtualSelect__item:not(.inte-virtualSelect__groupHeader) {
  cursor: pointer;
  display: flex;
  gap: 0.8rem;
  transition: 100ms all linear;
  border-radius: var(--radius-rounded-4);
  padding: 1rem 1.6rem;
  min-height: 4.2rem;
  user-select: none;
}
.inte-virtualSelect__items-container--multiSelect
  .inte-virtualSelect__item:not(.inte-virtualSelect__groupHeader) {
  padding: 1rem 0.8rem;
}
.inte-virtualSelect__item.inte-virtualSelect__item--disabled {
  cursor: not-allowed !important;
  user-select: none !important;
}
.inte-virtualSelect__item.inte-virtualSelect__item--disabled span {
  color: var(--inte-G40) !important;
}
.inte-virtualSelect__options .inte-svgIcon {
  min-width: 2rem;
}
.inte-virtualSelect__dropdown .inte-virtualSelect__items-container {
  padding: 1.2rem;
}

/* Select DropDown End */

/* Select Dropdown No data Found*/
.inte-virtualSelect-box__no-options-container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.inte-virtualSelect__dropdown--onMobile
  .inte-virtualSelect-box__no-options-container {
  min-height: 40rem;
}
.inte-virtualSelect-box__no-options-container span {
  font-size: 1.6rem;
  font-weight: var(--weight-normal);
  line-height: 2.2rem;
  color: var(--inte-G90);
  word-break: break-word;
}
.inte-virtualSelect-box__no-options {
  display: flex;
  gap: 0.8rem;
}
/* Select Dropdown No data Found End */

/* Fix and Patches */
.inte-modal + .inte-virtualSelect__dropdown--onMobile,
.inte-modal + .inte-virtualSelect__dropdown {
  z-index: var(--inte-Z-10) !important;
}
.inte-modal
  + .inte-virtualSelect__dropdown--onMobile
  + .inte-virtualSelect__overlay {
  z-index: var(--inte-Z-9) !important;
}
/* Fix and Patches End */
/* mobile device */
.inte-virtualSelect__mobileDevice {
  background-color: #fff;
}
.inte-virtualSelect__mobileDevice .inte-virtualSelect__options {
  padding: 2.4rem;
  min-height: calc(100vh - 15.3rem);
}
.inte-virtualSelect__dropdown--onMobile {
  background-color: var(--inte-G0);
  width: 100%;
}
.inte-virtualSelect__dropdown--onMobile > ul {
  list-style-type: none;
  margin: 0;
  padding: 1.8rem 2.4rem;
  overflow: auto;
}
.inte-virtualSelect__mobileHeader__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1.8rem 2.4rem 1.6rem 2.4rem;
  align-items: center;
  border-bottom: 1px solid var(--inte-G40);
}
.inte-virtualSelect__slide {
  position: absolute;
  top: -1.5rem;
  left: 50%;
  transform: translate(-50%, 0);
  width: 7.8rem;
  background-color: var(--inte-G40);
  height: 0.4rem;
  border-radius: 2.2rem;
}
.inte-virtualSelect__mobile--heading {
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 600;
  width: calc(100% - 4.4rem);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.inte-virtualSelect__dropdown-textField {
  padding: 1.8rem 2.4rem 0rem 2.4rem;
}
.inte-virtualSelect__dropdown-selectedItems {
  padding: 1.8rem 2.4rem 0rem 2.4rem;
  overflow: auto;
  display: flex;
  gap: 0.8rem;
  white-space: nowrap;
}
/* Lazy loading */
.inte-virtualSelect__item--loading {
  position: absolute;
  bottom: 1px;
  left: 1px;
  height: 4.2rem;
  right: 1px;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.7847514005602241) 36%,
    rgba(255, 255, 255, 0.3701855742296919) 91%
  );
}
.inte-virtualSelect__item--loading .inte-spinner {
  margin: 0 auto;
}
