.inte-rangePicker--popover {
  max-width: 80.3rem;
  width: fit-content;
  padding: 0;
  max-height: unset;
}

.inte-rangePicker--popover:has(.inte-calendar__month , .inte-calendar__year) {
  width: 35rem;
}

.inte-rangePicker--popover:has(.inte-calendar__month , .inte-calendar__year) .inte-rangePicker {
  width: 100%;
}


.inte-rangePicker__calanderContainer {
  display: flex;
  gap: 2rem;
}

.inte-popover__mobileDevice .inte-rangePicker__calanderContainer {
  flex-direction: column;
}

.inte-calendar__cell--selected--start > .inte-calendar__cell__inner {
  border-radius: 0.6rem 0 0 0.6rem;
  background-color: var(--inte-P900);
  font-weight: var(--weight-bolder);
  color: var(--inte-P10);
}

.inte-calendar__cell--selected--end > .inte-calendar__cell__inner {
  border-radius: 0 0.6rem 0.6rem 0;
  background-color: var(--inte-P900);
  font-weight: var(--weight-bolder);
  color: var(--inte-P10);
}

.inte-rangePicker--control-end
  .inte-calendar__cell--inHoverRange:not(.inte-calendar__cell--inSelectedRange , .inte-calendar__cell--selected--end , .inte-calendar__cell--selected--start):hover
  .inte-calendar__cell__inner {
  border-right: 0.1rem dashed var(--inte-P900);
}

.inte-rangePicker--control-start
  .inte-calendar__cell--inHoverRange:not(.inte-calendar__cell--inSelectedRange , .inte-calendar__cell--selected--end , .inte-calendar__cell--selected--start):hover
  .inte-calendar__cell__inner {
  border-left: 0.1rem dashed var(--inte-P900);
}

.inte-rangePicker__dateShow {
  display: flex;
  align-items: center;
  padding: 2rem 2rem 0.8rem;
  font-weight: var(--weight-bolder);
  font-size: var(--inte-FS2-6);
  color:var(--inte-G400);
  line-height: var(--inte-LH2-4);
}

.inte-rangePicker__header--active {
  color: var(--inte-G800);
}

.inte-rangePicker__header--mobile .inte-datePicker__header {
  border-top: 0;
}

.inte-calander__cell--rangeStart:not(.inte-calendar__cell--inSelectedRange , .inte-calendar__cell--selected--end , .inte-calendar__cell--selected--start) .inte-calendar__cell__inner {
  border-left: 0.1rem dashed var(--inte-P900) !important;
  border-right: 0 !important;
}

.inte-calander__cell--rangeEnd:not(.inte-calendar__cell--inSelectedRange , .inte-calendar__cell--selected--end , .inte-calendar__cell--selected--start) .inte-calendar__cell__inner {
  border-right: 0.1rem dashed var(--inte-P900) !important;
  border-left: 0 !important;
}
