.jf-divider {
    &.jf-divider--vertical {
        height: auto;
        min-height: 50px;
        width: 0px;
        border-left: none !important;
        border-top: none !important;
        border-right: 1px solid var(--jf-naturalLight-200);
        border-bottom: none !important;
    }
    &.jf-divider--horizontal {
        height: 0;
        border-left: none !important;
        border-top: none !important;
        border-right: none !important;
        border-bottom: 1px solid var(--jf-naturalLight-200);
    }
    &.jf-divider--thinner {
        border-width: var(--jf-borderWidth-thinner);
    }
    &.jf-divider--thin {
        border-width: var(--jf-borderWidth-thin)
    }
    &.jf-divider--thick {
        border-width: var(--jf-borderWidth-thick);
    }
    &.jf-divider--thicker {
        border-width: var(--jf-borderWidth-thicker);
    }
    &.jf-divider--solid {
        border-style: solid;
    }
    &.jf-divider--dashed {
        border-style: dashed;
    }
    &.jf-divider--dotted {
        border-style: dotted;
    }
    &.jf-indicator--normal {
        border-color: var(--jf-naturalLight-300);
    }
    &.jf-indicator--subtile {
        border-color: var(--jf-naturalLight-200);
    }
    &.jf-indicator--muted {
        border-color: var(--jf-naturalLight-100);
    }
}
