.inte-phoneInput {
  padding: 8.5px 1.2rem;
  position: relative;
  border: 0.1rem solid var(--inte-G40);
  border-radius: var(--radius-rounded-6);
  background-color: var(--inte-G0);
}
.inte-phoneInput :disabled {
  cursor: not-allowed;
  user-select: none;
}
.inte-formElement--error .inte-phoneInput {
  border: 0.1rem solid var(--inte-R300);
}
.inte-formElement--success .inte-phoneInput {
  border: 0.1rem solid var(--inte-GR300);
}
.inte-formElement--warning .inte-phoneInput {
  border: 0.1rem solid var(--inte-Y300);
}
.inte-phoneInput .inte-phoneInput__textfield {
  position: relative;
  border-radius: 0.6rem;
  font-size: 1.4rem;
  letter-spacing: 0.01rem;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  color: var(--inte-G800);
  padding-left: 7.6rem;
  margin-left: 0;
  line-height: 2.5rem;
  width: 100%;
  outline: none;
  border: 0;
  background-color: unset;
}
.inte-phoneInput__textfield::placeholder {
  color: var(--inte-G200);
}
.inte-phoneInput .inte-phoneInput__countryList {
  outline: 0;
  z-index: 1;
  list-style: none;
  position: absolute;
  padding: 0;
  background-color: var(--inte-G0);
  border-radius: var(--radius-rounded-6);
  border: 0.1rem solid var(--inte-G40);
  margin-top: 0.4rem;
  box-shadow: var(--shadow-medium);
  max-height: 22.5rem;
  overflow: auto;
  user-select: none;
  left: -1.3rem;
}
.inte-phoneInput--searchable .inte-phoneInput__countryList {
  padding: unset;
}
.inte-phoneInput--searchable .inte-phoneInput__country {
  margin: 0 1.2rem;
}
.inte-phoneInput--searchable .inte-phoneInput__country:last-child {
  margin-bottom: 1.2rem;
}
.inte-phoneInput .inte-phoneInput__selectedFlag .inte-phoneInput__arrow {
  position: relative;
  left: 2.4rem;
  top: 1.1rem;
}
.inte-phoneInput__country--selected {
  background-color: var(--inte-P30);
}
.inte-phoneInput .inte-phoneInput__selectedFlag .inte-phoneInput__flag {
  position: absolute;
  top: 1.6rem;
}
.inte-phoneInput .inte-phoneInput__flagContainer {
  outline: none;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  border-right: 0.1rem solid var(--inte-G40);
}
.inte-phoneInput .inte-phoneInput__countryList .inte-phoneInput__country {
  padding: 1.2rem 0.9rem;
  cursor: pointer;
}
.inte-phoneInput .inte-phoneInput__countryList .inte-phoneInput__flag {
  display: inline-block;
}
.inte-formElement--disabled .inte-phoneInput .inte-phoneInput__selectedFlag {
  cursor: not-allowed;
}
.inte-phoneInput .inte-phoneInput__selectedFlag {
  position: relative;
  width: 5rem;
  height: 100%;
  cursor: pointer;
}
.inte-phoneInput
  .inte-phoneInput__countryList
  .inte-phoneInput__country:not(.inte-phoneInput__country--selected):hover {
  background-color: var(--inte-G20);
}
.inte-phoneInput .inte-phoneInput__countryList .inte-phoneInput__countryName,
.inte-phoneInput .inte-phoneInput__countryList .inte-phoneInput__dialCode {
  line-height: 2.2rem;
  font-size: 1.6rem;
  font-weight: var(--weight-normal);
  color: var(--inte-G800);
}

.inte-phoneInput__country--selected .inte-phoneInput__countryName,
.inte-phoneInput__country--selected .inte-phoneInput__dialCode {
  color: var(--inte-P900) !important;
}
.inte-phoneInput .inte-phoneInput__countryName {
  margin: 0 15px;
}
.inte-phoneInput
  .inte-phoneInput__countryList
  .inte-phoneInput__country
  .inte-phoneInput__dialCode {
  color: #6b6b6b;
}
.inte-phoneInput .inte-phoneInput__flag.inte-phoneInput__flag--default {
  background-image: url("data:image/svg+xml, %3Csvg className='PhoneInputCountryIconImg' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 75 50' %3E%3Cg className='PhoneInputInternationalIconGlobe' stroke='currentColor' fill='none' strokeWidth='2' strokeMiterlimit='10' %3E%3Cpath strokeLinecap='round' d='M47.2,36.1C48.1,36,49,36,50,36c7.4,0,14,1.7,18.5,4.3' %3E%3C/path%3E%3Cpath d='M68.6,9.6C64.2,12.3,57.5,14,50,14c-7.4,0-14-1.7-18.5-4.3'%3E%3C/path%3E%3Cline x1='26' y1='25' x2='74' y2='25'%3E%3C/line%3E%3Cline x1='50' y1='1' x2='50' y2='49'%3E%3C/line%3E%3Cpath strokeLinecap='round' d='M46.3,48.7c1.2,0.2,2.5,0.3,3.7,0.3c13.3,0,24-10.7,24-24S63.3,1,50,1S26,11.7,26,25c0,2,0.3,3.9,0.7,5.8' %3E%3C/path%3E%3Cpath strokeLinecap='round' d='M46.8,48.2c1,0.6,2.1,0.8,3.2,0.8c6.6,0,12-10.7,12-24S56.6,1,50,1S38,11.7,38,25c0,1.4,0.1,2.7,0.2,4c0,0.1,0,0.2,0,0.2' %3E%3C/path%3E%3C/g%3E%3Cpath className='PhoneInputInternationalIconPhone' stroke='none' fill='currentColor' d='M12.4,17.9c2.9-2.9,5.4-4.8,0.3-11.2S4.1,5.2,1.3,8.1C-2,11.4,1.1,23.5,13.1,35.6s24.3,15.2,27.5,11.9c2.8-2.8,7.8-6.3,1.4-11.5s-8.3-2.6-11.2,0.3c-2,2-7.2-2.2-11.7-6.7S10.4,19.9,12.4,17.9z' %3E%3C/path%3E%3C/svg%3E");
}
.inte-formElement--disabled
  .inte-phoneInput
  .inte-phoneInput__flag.inte-phoneInput__flag--default {
  opacity: 0.5;
}
.inte-phoneInput .inte-phoneInput__flag {
  width: 1.6rem;
  height: 1.1rem;
  scale: 1.3;
  background-image: url(../../../assets/images/flags.png);
}
.inte-phoneInput .inte-phoneInput__selectedFlag .inte-phoneInput__arrow.up {
  border-top: none;
  border-bottom: 0.4rem solid #555;
}
.inte-formElement--disabled .inte-phoneInput .inte-phoneInput__arrow {
  color: silver;
}
.inte-phoneInput__wrapper .inte-formElement__itemHelp span:nth-child(2) {
  font-size: 1.4rem;
  line-height: 1.8rem;
}
.inte-phoneInput__item--searchable .inte-phoneInput__searchField input {
  border: 0 !important;
  border-radius: 0;
  height: 3.8rem !important;
  background-color: var(--inte-G20);
  font-size: unset;
  padding-left: 4.3rem !important;
}
.inte-phoneInput--searchable
  .inte-phoneInput__countryList
  .inte-phoneInput__country {
  padding: 1rem 1.2rem;
}
.inte-phoneInput__item--searchable {
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 1.2rem;
  background-color: var(--inte-G0);
}
.inte-phoneInput__item--searchable .inte-phoneInput__searchField input:focus {
  box-shadow: unset;
}
.inte-phoneInput__item--searchable
  .inte-phoneInput__searchField
  .inte-formElement__inner {
  padding: 0.5rem;
}
.inte-phoneInput__noResult {
  text-align: center;
  padding: 1.2rem;
  font-size: 1.6rem;
  font-weight: var(--weight-normal);
  line-height: 2.2rem;
  color: var(--inte-G90);
  word-break: break-word;
}
/* classes for adding flag */
.inte-phoneInput .ad {
  background-position: -1.6rem 0;
}

.inte-phoneInput .ae {
  background-position: -3.2rem 0;
}

.inte-phoneInput .af {
  background-position: -4.8rem 0;
}

.inte-phoneInput .ag {
  background-position: -6.4rem 0;
}

.inte-phoneInput .ai {
  background-position: -8rem 0;
}

.inte-phoneInput .al {
  background-position: -9.6rem 0;
}

.inte-phoneInput .am {
  background-position: -11.2rem 0;
}

.inte-phoneInput .ao {
  background-position: -12.8rem 0;
}

.inte-phoneInput .ar {
  background-position: -14.4rem 0;
}

.inte-phoneInput .as {
  background-position: -16rem 0;
}

.inte-phoneInput .at {
  background-position: -17.6rem 0;
}

.inte-phoneInput .au {
  background-position: -19.2rem 0;
}

.inte-phoneInput .aw {
  background-position: -20.8rem 0;
}

.inte-phoneInput .az {
  background-position: -22.4rem 0;
}

.inte-phoneInput .ba {
  background-position: -24rem 0;
}

.inte-phoneInput .bb {
  background-position: 0 -1.1rem;
}

.inte-phoneInput .bd {
  background-position: -1.6rem -1.1rem;
}

.inte-phoneInput .be {
  background-position: -3.2rem -1.1rem;
}

.inte-phoneInput .bf {
  background-position: -4.8rem -1.1rem;
}

.inte-phoneInput .bg {
  background-position: -6.4rem -1.1rem;
}

.inte-phoneInput .bh {
  background-position: -8rem -1.1rem;
}

.inte-phoneInput .bi {
  background-position: -9.6rem -1.1rem;
}

.inte-phoneInput .bj {
  background-position: -11.2rem -1.1rem;
}

.inte-phoneInput .bm {
  background-position: -12.8rem -1.1rem;
}

.inte-phoneInput .bn {
  background-position: -14.4rem -1.1rem;
}

.inte-phoneInput .bo {
  background-position: -16rem -1.1rem;
}

.inte-phoneInput .br {
  background-position: -17.6rem -1.1rem;
}

.inte-phoneInput .bs {
  background-position: -19.2rem -1.1rem;
}

.inte-phoneInput .bt {
  background-position: -20.8rem -1.1rem;
}

.inte-phoneInput .bw {
  background-position: -22.4rem -1.1rem;
}

.inte-phoneInput .by {
  background-position: -24rem -1.1rem;
}

.inte-phoneInput .bz {
  background-position: 0 -2.2rem;
}

.inte-phoneInput .ca {
  background-position: -1.6rem -2.2rem;
}

.inte-phoneInput .cd {
  background-position: -3.2rem -2.2rem;
}

.inte-phoneInput .cf {
  background-position: -4.8rem -2.2rem;
}

.inte-phoneInput .cg {
  background-position: -6.4rem -2.2rem;
}

.inte-phoneInput .ch {
  background-position: -8rem -2.2rem;
}

.inte-phoneInput .ci {
  background-position: -9.6rem -2.2rem;
}

.inte-phoneInput .ck {
  background-position: -11.2rem -2.2rem;
}

.inte-phoneInput .cl {
  background-position: -12.8rem -2.2rem;
}

.inte-phoneInput .cm {
  background-position: -14.4rem -2.2rem;
}

.inte-phoneInput .cn {
  background-position: -16rem -2.2rem;
}

.inte-phoneInput .co {
  background-position: -17.6rem -2.2rem;
}

.inte-phoneInput .cr {
  background-position: -19.2rem -2.2rem;
}

.inte-phoneInput .cu {
  background-position: -20.8rem -2.2rem;
}

.inte-phoneInput .cv {
  background-position: -22.4rem -2.2rem;
}

.inte-phoneInput .cw {
  background-position: -24rem -2.2rem;
}

.inte-phoneInput .cy {
  background-position: 0 -3.3rem;
}

.inte-phoneInput .cz {
  background-position: -1.6rem -3.3rem;
}

.inte-phoneInput .de {
  background-position: -3.2rem -3.3rem;
}

.inte-phoneInput .dj {
  background-position: -4.8rem -3.3rem;
}

.inte-phoneInput .dk {
  background-position: -6.4rem -3.3rem;
}

.inte-phoneInput .dm {
  background-position: -8rem -3.3rem;
}

.inte-phoneInput .do {
  background-position: -9.6rem -3.3rem;
}

.inte-phoneInput .dz {
  background-position: -11.2rem -3.3rem;
}

.inte-phoneInput .ec {
  background-position: -12.8rem -3.3rem;
}

.inte-phoneInput .ee {
  background-position: -14.4rem -3.3rem;
}

.inte-phoneInput .eg {
  background-position: -16rem -3.3rem;
}

.inte-phoneInput .er {
  background-position: -17.6rem -3.3rem;
}

.inte-phoneInput .es {
  background-position: -19.2rem -3.3rem;
}

.inte-phoneInput .et {
  background-position: -20.8rem -3.3rem;
}

.inte-phoneInput .fi {
  background-position: -22.4rem -3.3rem;
}

.inte-phoneInput .fj {
  background-position: -24rem -3.3rem;
}

.inte-phoneInput .fk {
  background-position: 0 -4.4rem;
}

.inte-phoneInput .fm {
  background-position: -1.6rem -4.4rem;
}

.inte-phoneInput .fo {
  background-position: -3.2rem -4.4rem;
}

.inte-phoneInput .fr,
.inte-phoneInput .bl,
.inte-phoneInput .mf {
  background-position: -4.8rem -4.4rem;
}

.inte-phoneInput .ga {
  background-position: -6.4rem -4.4rem;
}

.inte-phoneInput .gb {
  background-position: -8rem -4.4rem;
}

.inte-phoneInput .gd {
  background-position: -9.6rem -4.4rem;
}

.inte-phoneInput .ge {
  background-position: -11.2rem -4.4rem;
}

.inte-phoneInput .gf {
  background-position: -12.8rem -4.4rem;
}

.inte-phoneInput .gh {
  background-position: -14.4rem -4.4rem;
}

.inte-phoneInput .gi {
  background-position: -16rem -4.4rem;
}

.inte-phoneInput .gl {
  background-position: -17.6rem -4.4rem;
}

.inte-phoneInput .gm {
  background-position: -19.2rem -4.4rem;
}

.inte-phoneInput .gn {
  background-position: -20.8rem -4.4rem;
}

.inte-phoneInput .gp {
  background-position: -22.4rem -4.4rem;
}

.inte-phoneInput .gq {
  background-position: -24rem -4.4rem;
}

.inte-phoneInput .gr {
  background-position: 0 -5.5rem;
}

.inte-phoneInput .gt {
  background-position: -1.6rem -5.5rem;
}

.inte-phoneInput .gu {
  background-position: -3.2rem -5.5rem;
}

.inte-phoneInput .gw {
  background-position: -4.8rem -5.5rem;
}

.inte-phoneInput .gy {
  background-position: -6.4rem -5.5rem;
}

.inte-phoneInput .hk {
  background-position: -8rem -5.5rem;
}

.inte-phoneInput .hn {
  background-position: -9.6rem -5.5rem;
}

.inte-phoneInput .hr {
  background-position: -11.2rem -5.5rem;
}

.inte-phoneInput .ht {
  background-position: -12.8rem -5.5rem;
}

.inte-phoneInput .hu {
  background-position: -14.4rem -5.5rem;
}

.inte-phoneInput .id {
  background-position: -16rem -5.5rem;
}

.inte-phoneInput .ie {
  background-position: -17.6rem -5.5rem;
}

.inte-phoneInput .il {
  background-position: -19.2rem -5.5rem;
}

.inte-phoneInput .in {
  background-position: -20.8rem -5.5rem;
}

.inte-phoneInput .io {
  background-position: -22.4rem -5.5rem;
}

.inte-phoneInput .iq {
  background-position: -24rem -5.5rem;
}

.inte-phoneInput .ir {
  background-position: 0 -6.6rem;
}

.inte-phoneInput .is {
  background-position: -1.6rem -6.6rem;
}

.inte-phoneInput .it {
  background-position: -3.2rem -6.6rem;
}

.inte-phoneInput .je {
  background-position: -14.4rem -15.4rem;
}

.inte-phoneInput .jm {
  background-position: -4.8rem -6.6rem;
}

.inte-phoneInput .jo {
  background-position: -6.4rem -6.6rem;
}

.inte-phoneInput .jp {
  background-position: -8rem -6.6rem;
}

.inte-phoneInput .ke {
  background-position: -9.6rem -6.6rem;
}

.inte-phoneInput .kg {
  background-position: -11.2rem -6.6rem;
}

.inte-phoneInput .kh {
  background-position: -12.8rem -6.6rem;
}

.inte-phoneInput .ki {
  background-position: -14.4rem -6.6rem;
}

.inte-phoneInput .xk {
  background-position: -12.8rem -15.4rem;
}

.inte-phoneInput .km {
  background-position: -16rem -6.6rem;
}

.inte-phoneInput .kn {
  background-position: -17.6rem -6.6rem;
}

.inte-phoneInput .kp {
  background-position: -19.2rem -6.6rem;
}

.inte-phoneInput .kr {
  background-position: -20.8rem -6.6rem;
}

.inte-phoneInput .kw {
  background-position: -22.4rem -6.6rem;
}

.inte-phoneInput .ky {
  background-position: -24rem -6.6rem;
}

.inte-phoneInput .kz {
  background-position: 0 -7.7rem;
}

.inte-phoneInput .la {
  background-position: -1.6rem -7.7rem;
}

.inte-phoneInput .lb {
  background-position: -3.2rem -7.7rem;
}

.inte-phoneInput .lc {
  background-position: -4.8rem -7.7rem;
}

.inte-phoneInput .li {
  background-position: -6.4rem -7.7rem;
}

.inte-phoneInput .lk {
  background-position: -8rem -7.7rem;
}

.inte-phoneInput .lr {
  background-position: -9.6rem -7.7rem;
}

.inte-phoneInput .ls {
  background-position: -11.2rem -7.7rem;
}

.inte-phoneInput .lt {
  background-position: -12.8rem -7.7rem;
}

.inte-phoneInput .lu {
  background-position: -14.4rem -7.7rem;
}

.inte-phoneInput .lv {
  background-position: -16rem -7.7rem;
}

.inte-phoneInput .ly {
  background-position: -17.6rem -7.7rem;
}

.inte-phoneInput .ma {
  background-position: -19.2rem -7.7rem;
}

.inte-phoneInput .mc {
  background-position: -20.8rem -7.7rem;
}

.inte-phoneInput .md {
  background-position: -22.4rem -7.7rem;
}

.inte-phoneInput .me {
  background-position: -11.2rem -15.4rem;
  height: 1.2rem;
}

.inte-phoneInput .mg {
  background-position: 0 -8.8rem;
}

.inte-phoneInput .mh {
  background-position: -1.6rem -8.8rem;
}

.inte-phoneInput .mk {
  background-position: -3.2rem -8.8rem;
}

.inte-phoneInput .ml {
  background-position: -4.8rem -8.8rem;
}

.inte-phoneInput .mm {
  background-position: -6.4rem -8.8rem;
}

.inte-phoneInput .mn {
  background-position: -8rem -8.8rem;
}

.inte-phoneInput .mo {
  background-position: -9.6rem -8.8rem;
}

.inte-phoneInput .mp {
  background-position: -11.2rem -8.8rem;
}

.inte-phoneInput .mq {
  background-position: -12.8rem -8.8rem;
}

.inte-phoneInput .mr {
  background-position: -14.4rem -8.8rem;
}

.inte-phoneInput .ms {
  background-position: -16rem -8.8rem;
}

.inte-phoneInput .mt {
  background-position: -17.6rem -8.8rem;
}

.inte-phoneInput .mu {
  background-position: -19.2rem -8.8rem;
}

.inte-phoneInput .mv {
  background-position: -20.8rem -8.8rem;
}

.inte-phoneInput .mw {
  background-position: -22.4rem -8.8rem;
}

.inte-phoneInput .mx {
  background-position: -24rem -8.8rem;
}

.inte-phoneInput .my {
  background-position: 0 -9.9rem;
}

.inte-phoneInput .mz {
  background-position: -1.6rem -9.9rem;
}

.inte-phoneInput .na {
  background-position: -3.2rem -9.9rem;
}

.inte-phoneInput .nc {
  background-position: -4.8rem -9.9rem;
}

.inte-phoneInput .ne {
  background-position: -6.4rem -9.9rem;
}

.inte-phoneInput .nf {
  background-position: -8rem -9.9rem;
}

.inte-phoneInput .ng {
  background-position: -9.6rem -9.9rem;
}

.inte-phoneInput .ni {
  background-position: -11.2rem -9.9rem;
}

.inte-phoneInput .nl,
.inte-phoneInput .bq {
  background-position: -12.8rem -9.9rem;
}

.inte-phoneInput .no {
  background-position: -14.4rem -9.9rem;
}

.inte-phoneInput .np {
  background-position: -16rem -9.9rem;
}

.inte-phoneInput .nr {
  background-position: -17.6rem -9.9rem;
}

.inte-phoneInput .nu {
  background-position: -19.2rem -9.9rem;
}

.inte-phoneInput .nz {
  background-position: -20.8rem -9.9rem;
}

.inte-phoneInput .om {
  background-position: -22.4rem -9.9rem;
}

.inte-phoneInput .pa {
  background-position: -24rem -9.9rem;
}

.inte-phoneInput .pe {
  background-position: 0 -11rem;
}

.inte-phoneInput .pf {
  background-position: -1.6rem -11rem;
}

.inte-phoneInput .pg {
  background-position: -3.2rem -11rem;
}

.inte-phoneInput .ph {
  background-position: -4.8rem -11rem;
}

.inte-phoneInput .pk {
  background-position: -6.4rem -11rem;
}

.inte-phoneInput .pl {
  background-position: -8rem -11rem;
}

.inte-phoneInput .pm {
  background-position: -9.6rem -11rem;
}

.inte-phoneInput .pr {
  background-position: -11.2rem -11rem;
}

.inte-phoneInput .ps {
  background-position: -12.8rem -11rem;
}

.inte-phoneInput .pt {
  background-position: -14.4rem -11rem;
}

.inte-phoneInput .pw {
  background-position: -16rem -11rem;
}

.inte-phoneInput .py {
  background-position: -17.6rem -11rem;
}

.inte-phoneInput .qa {
  background-position: -19.2rem -11rem;
}

.inte-phoneInput .re {
  background-position: -20.8rem -11rem;
}

.inte-phoneInput .ro {
  background-position: -22.4rem -11rem;
}

.inte-phoneInput .rs {
  background-position: -24rem -11rem;
}

.inte-phoneInput .ru {
  background-position: 0 -12.1rem;
}

.inte-phoneInput .rw {
  background-position: -1.6rem -12.1rem;
}

.inte-phoneInput .sa {
  background-position: -3.2rem -12.1rem;
}

.inte-phoneInput .sb {
  background-position: -4.8rem -12.1rem;
}

.inte-phoneInput .sc {
  background-position: -6.4rem -12.1rem;
}

.inte-phoneInput .sd {
  background-position: -8rem -12.1rem;
}

.inte-phoneInput .se {
  background-position: -9.6rem -12.1rem;
}

.inte-phoneInput .sg {
  background-position: -11.2rem -12.1rem;
}

.inte-phoneInput .sh {
  background-position: -12.8rem -12.1rem;
}

.inte-phoneInput .si {
  background-position: -14.4rem -12.1rem;
}

.inte-phoneInput .sk {
  background-position: -16rem -12.1rem;
}

.inte-phoneInput .sl {
  background-position: -17.6rem -12.1rem;
}

.inte-phoneInput .sm {
  background-position: -19.2rem -12.1rem;
}

.inte-phoneInput .sn {
  background-position: -20.8rem -12.1rem;
}

.inte-phoneInput .so {
  background-position: -22.4rem -12.1rem;
}

.inte-phoneInput .sr {
  background-position: -24rem -12.1rem;
}

.inte-phoneInput .ss {
  background-position: 0 -13.2rem;
}

.inte-phoneInput .st {
  background-position: -1.6rem -13.2rem;
}

.inte-phoneInput .sv {
  background-position: -3.2rem -13.2rem;
}

.inte-phoneInput .sx {
  background-position: -4.8rem -13.2rem;
}

.inte-phoneInput .sy {
  background-position: -6.4rem -13.2rem;
}

.inte-phoneInput .sz {
  background-position: -8rem -13.2rem;
}

.inte-phoneInput .tc {
  background-position: -9.6rem -13.2rem;
}

.inte-phoneInput .td {
  background-position: -11.2rem -13.2rem;
}

.inte-phoneInput .tg {
  background-position: -12.8rem -13.2rem;
}

.inte-phoneInput .th {
  background-position: -14.4rem -13.2rem;
}

.inte-phoneInput .tj {
  background-position: -16rem -13.2rem;
}

.inte-phoneInput .tk {
  background-position: -17.6rem -13.2rem;
}

.inte-phoneInput .tl {
  background-position: -19.2rem -13.2rem;
}

.inte-phoneInput .tm {
  background-position: -20.8rem -13.2rem;
}

.inte-phoneInput .tn {
  background-position: -22.4rem -13.2rem;
}

.inte-phoneInput .to {
  background-position: -24rem -13.2rem;
}

.inte-phoneInput .tr {
  background-position: 0 -14.3rem;
}

.inte-phoneInput .tt {
  background-position: -1.6rem -14.3rem;
}

.inte-phoneInput .tv {
  background-position: -3.2rem -14.3rem;
}

.inte-phoneInput .tw {
  background-position: -4.8rem -14.3rem;
}

.inte-phoneInput .tz {
  background-position: -6.4rem -14.3rem;
}

.inte-phoneInput .ua {
  background-position: -8rem -14.3rem;
}

.inte-phoneInput .ug {
  background-position: -9.6rem -14.3rem;
}

.inte-phoneInput .us {
  background-position: -11.2rem -14.3rem;
}

.inte-phoneInput .uy {
  background-position: -12.8rem -14.3rem;
}

.inte-phoneInput .uz {
  background-position: -14.4rem -14.3rem;
}

.inte-phoneInput .va {
  background-position: -16rem -14.3rem;
}

.inte-phoneInput .vc {
  background-position: -17.6rem -14.3rem;
}

.inte-phoneInput .ve {
  background-position: -19.2rem -14.3rem;
}

.inte-phoneInput .vg {
  background-position: -20.8rem -14.3rem;
}

.inte-phoneInput .vi {
  background-position: -22.4rem -14.3rem;
}

.inte-phoneInput .vn {
  background-position: -24rem -14.3rem;
}

.inte-phoneInput .vu {
  background-position: 0 -15.4rem;
}

.inte-phoneInput .wf {
  background-position: -1.6rem -15.4rem;
}

.inte-phoneInput .ws {
  background-position: -3.2rem -15.4rem;
}

.inte-phoneInput .ye {
  background-position: -4.8rem -15.4rem;
}

.inte-phoneInput .za {
  background-position: -6.4rem -15.4rem;
}

.inte-phoneInput .zm {
  background-position: -8rem -15.4rem;
}

.inte-phoneInput .zw {
  background-position: -9.6rem -15.4rem;
}
