/*Alerts*/
.inte-alert {
  padding: 1.6rem;
  border-radius: var(--radius-rounded-4);
  position: relative;
}

.inte-alert__icon svg {
  display: flex;
  width: 2rem !important;
  height: 2rem !important;
  min-width: 2rem;
}

.inte-alert + .inte-alert {
  margin-top: 1.5rem;
}

/* alert destroy  */
.inte-alert--destroy {
  position: absolute;
  right: 1.6rem;
  top: 1.2rem;
}

.inte-alert--destroy > span {
  transition: 300ms all linear;
  border: 0.1rem solid transparent;
}

.inte-alert--destroy > span:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.inte-alert__hasDestroy .inte-alert__content {
  margin-right: 1.2rem;
}

.inte-alert__hasDestroy {
  padding-right: 5.4rem;
}

.inte-alert__content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 2.2rem;
}

.inte-alert__withDescription .inte-alert__description {
  color: var(--inte-G450) !important;
  font-size: var(--inte-FS1-6);
  margin-top: 0.4rem;
}

.inte-alert__icon {
  margin-right: var(--inte-Spacing1-2);
}

.inte-alert__text {
  flex-grow: 1;
}

.inte-alert .inte-alert__content .inte-alert__title {
  font-size: var(--inte-FS1-6) !important;
  font-weight: var(--weight-normal) !important;
  color: var(--inte-G800);
}
.inte-alert__withDescription .inte-alert__text .inte-alert__title {
  font-weight: var(--weight-bolder) !important;
}
.inte-alert__action {
  margin-top: 2rem;
  text-align: right;
}

/* alert types */
.inte-alert--default {
  background-color: var(--inte-G15);
  border: 0.1rem solid var(--inte-G45);
}

.inte-alert--warning {
  background-color: var(--inte-Y50);
  border: 0.1rem solid var(--inte-Y95);
}

.inte-alert--danger {
  background-color: var(--inte-R30);
  border: 0.1rem solid var(--inte-R80);
}

.inte-alert--success {
  background-color: var(--inte-GR40);
  border: 0.1rem solid var(--inte-GR90);
}

.inte-alert--info {
  background-color: var(--inte-P30);
  border: 0.1rem solid var(--inte-P60);
}

/* alert icon color change */
.inte-alert--danger .inte-alert__icon svg path {
  stroke: var(--inte-R400) !important;
}

.inte-alert--success .inte-alert__icon svg path {
  stroke: var(--inte-GR300) !important;
}

.inte-alert--info .inte-alert__icon svg path {
  stroke: var(--inte-P200) !important;
}

.inte-alert--warning .inte-alert__icon svg path {
  stroke: var(--inte-Y700) !important;
}

.inte-alert--default .inte-alert__icon svg path {
  stroke: var(--inte-G800) !important;
}

/* alert actions buttons */
.inte-alert__actionsBtn {
  display: flex;
  align-items: center;
  margin-top: 1.2rem;
  gap: 1.2rem;
}

.inte-alert--default .inte-btn--outlined {
  border: 0.1rem solid var(--inte-G50);
}

.inte-alert--info .inte-btn--outlined {
  border: 0.1rem solid var(--inte-P60);
}

.inte-alert--success .inte-btn--outlined {
  border: 0.1rem solid var(--inte-GR90);
}

.inte-alert--warning .inte-btn--outlined {
  border: 0.1rem solid var(--inte-Y95);
}

.inte-alert--danger .inte-btn--outlined {
  border: 0.1rem solid var(--inte-R80);
}

/* action button hover */
.inte-alert--default .inte-btn--outlined:hover {
  background-color: var(--inte-G30);
}

.inte-alert--info .inte-btn--outlined:hover {
  background-color: var(--inte-P40);
}

.inte-alert--success .inte-btn--outlined:hover {
  background-color: var(--inte-GR50);
}

.inte-alert--warning .inte-btn--outlined:hover {
  background-color: var(--inte-Y70);
}

.inte-alert--danger .inte-btn--outlined:hover {
  background-color: var(--inte-R40);
}

/* action button active state */
.inte-alert--default .inte-btn--outlined:active {
  background-color: var(--inte-G40);
}

.inte-alert--info .inte-btn--outlined:active {
  background-color: var(--inte-P50);
}

.inte-alert--success .inte-btn--outlined:active {
  background-color: var(--inte-GR65);
}

.inte-alert--warning .inte-btn--outlined:active {
  background-color: var(--inte-Y75);
}

.inte-alert--danger .inte-btn--outlined:active {
  background-color: var(--inte-R50);
}

/*Alerts End*/
/* animation css  */

.inte-alertAnimation--in {
  transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
  height: auto;
  max-height: 9999px;
}

.inte-alertAnimation--out {
  max-height: 0;
  transition: max-height 0.4s cubic-bezier(0, 1, 0, 1);
  overflow: hidden;
}
