.inte-announcementBar {
  position: fixed;
  inset: 0 0 0 0;
  z-index: var(--inte-Z-4);
  padding: 0.8rem 2rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.inte-announcementBar__content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--inte-G0);
  font-size: 1.6rem;
  font-weight: var(--weight-bolder);
  flex-grow: 1;
  text-align: center;
}
/* Close Action */
.inte-announcementBar--hasClose {
  padding-right: 5.6rem;
}
.inte-announcementBar__destroy {
  position: absolute;
  right: 1.2rem;
  top: 50%;
  transform: translateY(-50%);
}
.inte-announcementBar__destroy button {
  background-color: unset;
  border: 0 !important;
  box-shadow: unset!important;
}
.inte-announcementBar__destroy button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.inte-announcementBar__destroy button:active {
  background-color: rgba(0, 0, 0, 0.2);
}
/* Close Action End */

/* Action Button */
.inte-announcementBar--hasAction {
  gap: 1.2rem;
}
.inte-announcementBar__action > button{
  box-shadow: unset!important;
}
.inte-announcement--warning .inte-announcementBar__action > button{
  border-color: var(--inte-G800);
}
.inte-announcementBar__action > button .inte-btn__text {
  color: var(--inte-G0);
}
.inte-announcement--warning .inte-announcementBar__action > button .inte-btn__text{
  color:var(--inte-G800)
}
.inte-announcementBar__action > button:hover {
  background-color: rgba(0,0,0,0.1);
}
.inte-announcementBar__action > button:active {
  background-color: rgba(0,0,0,0.2);
}
/* Action Button End */

/* Types */
.inte-announcement--success {
  background-color: var(--inte-GR200);
}
.inte-announcement--danger {
  background-color: var(--inte-R200);
}
.inte-announcement--warning {
  background-color: var(--inte-Y300);
}
.inte-announcement--warning .inte-announcementBar__content {
  color: var(--inte-G800);
}
.inte-announcement--warning .inte-announcementBar__destroy path {
  stroke: var(--inte-G800);
}
.inte-announcement--primary {
  background-color: var(--inte-P500);
}
.inte-announcement--neutral {
  background-color: var(--inte-G800);
}
/* Types End */


@media screen and (max-width: 768px) {
  .inte-announcementBar__content {
    font-weight: var(--weight-bold);
    font-size: 1.4rem;
}
}

