.inte-sortable__item {
  cursor: pointer;
}

.inte-sortable__item--dummy {
  position: fixed;
  cursor: grabbing;
}

.inte-sortable__item--dummy > * {
  box-shadow: 0 15px 30px rgb(0 0 0 / 20%);
  border: 1px dashed var(--inte-P1000);
  opacity: 0.8;
}

.inte-sortable--dummy {
  opacity: 0;
  position: fixed;
  z-index: -1;
  visibility: hidden;
}

.inte-sortable__item img {
  user-select: none;
  pointer-events: none;
}
