.inte-datePicker__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2rem;
  font-weight: var(--weight-bolder);
  font-size: var(--inte-FS1-6);
  line-height: var(--inte-LH2-0);
  border-top: 1px solid var(--inte-G40);
  border-bottom: 1px solid var(--inte-G40);
}

.inte-datePicker__headerContent {
  display: flex;
  gap: 0.8rem;
}

.inte-datePicker__headerControls {
  gap: 0.4rem;
  display: flex;
}

.inte-datePicker--popover {
  padding: 0;
  width: 39rem;
  max-width: unset;
  max-height: unset;
}

.inte-datePicker__timeSelect {
  padding: 1.2rem 2rem;
  display: flex;
  gap: 1.2rem;
  border-top: 0.1rem solid var(--inte-G40);
}

.inte-datePicker__timeSelect .inte-btn__container--fullWidth {
  width: 100%;
}
@media screen and (max-width: 390px) {
  .inte-datePicker--popover {
    width: 100%;
  }
}
