.inte-toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  height: 2rem;
  width: 3.8rem;
  min-width: 3.8rem;
  border-radius: var(--radius-rounded-5);
  display: inline-block;
  position: relative;
  transition: all 0.3s ease;
  background-color: var(--inte-G90);
  overflow: hidden;
  margin:0;
}

.inte-toggle__wrapper>label {
  display: inline-flex;
  justify-content: flex-start;
  gap: 1.2rem;
}

.inte-toggle__text {
  font-weight: var(--weight-normal);
  font-size: 1.6rem;
  color: var(--inte-G800);
  line-height: 2.2rem;
  position: relative;
  cursor: pointer;
}

.inte-toggle--required .inte-toggle__text:after {
  content: "*";
  position: absolute;
  right: -0.8rem;
  color: var(--inte-R200);
}

.inte-toggle__description {
  color: var(--inte-G300);
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin-left: 5rem;
  margin-top: .4rem;
}

.inte-toggle:checked:hover {
  background: var(--inte-P1000);
}

.inte-toggle:after {
  content: "";
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: var(--radius-rounded-4);
  background: var(--inte-G0);
  box-shadow: 0.5px 0.5px 8px rgba(0, 0, 0, 0.25);
  transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
}

.inte-toggle:hover {
  background-color: var(--inte-G100);
}

.inte-toggle:focus {
  outline: 0;
  box-shadow: 0 0 0 0.1rem var(--inte-G0), 0 0 0 0.3rem var(--inte-B80);
}

.inte-toggle[disabled] {
  cursor: not-allowed;
  background: var(--inte-G70) !important;
  -webkit-user-select: none;
  user-select: none;
}

.inte-toggle:checked[disabled] {
  background: var(--inte-P40) !important;
  -webkit-user-select: none;
  user-select: none;
}


.inte-toggle--disabled .inte-toggle__text,
.inte-toggle--disabled .inte-toggle__description {
  color: var(--inte-G70);
  cursor: not-allowed;
  -webkit-user-select: none;
  user-select: none;
}

.inte-toggle[disabled]:after {
  box-shadow: unset !important;
  -webkit-user-select: none;
  user-select: none;
}

.inte-toggle:checked {
  background: var(--inte-P900);
}

.inte-toggle:checked:after {
  background: var(--inte-P900);
  transform: translatex(1.8rem);
  background-color: var(--inte-G0);
  box-shadow: -0.5px 0.5px 8px rgba(0, 0, 0, 0.5);
}


.inte-toggle--hasHelp .inte-toggle__text .inte-toolTip span {
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.inte-toggle--hasHelp .inte-toggle__text .inte-toolTip span:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  border-bottom: 0.1rem dotted;
  bottom: -1px;
}