.inte-marquee__container {
  overflow: hidden;
  display: flex;
}

.inte-marquee {
  white-space: nowrap;
  display: inline-block;
}

.inte-marquee--child {
  margin-left: 1rem;
}

.inte-marquee--hasFullView .inte-marquee {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inte-marquee--hasFullView .inte-marquee:hover {
  overflow: unset;
  text-overflow: unset;
}

/* text alignment  */
.inte-marquee__start {
  justify-content: start;
}
.inte-marquee__center {
  justify-content: center;
}
.inte-marquee__end {
  justify-content: end;
}
.inte-marquee__fill {
  justify-content: space-between;
}
