.inte-LineChart {
  position: relative;
}

.inte-scaleLabel {
  font-size: var(--inte-FS1-6);
  font-style: normal;
  font-weight: var(--weight-normal);
  line-height: var(--inte-LH2-0);
}

.inte-scaleLabel--vertical {
  transform: translate(-100%, -50%);
}

.inte-scaleLabel--vertical::after {
  content: "";
  position: absolute;
  top: calc(50% - var(--lineWidth));
  left: calc(100% + var(--left));
  width: 9px;
  border-top: var(--lineWidth) solid var(--lineColor);
}

.inte-scaleLabel--horizontal {
  transform: translate(-50%, 0%);
}

.inte-scaleLabel--horizontal::before {
  content: "";
  position: absolute;
  top: var(--top);
  left: calc(50% - var(--lineWidth));
  height: 9px;
  border-left: var(--lineWidth) solid var(--lineColor);
}

.inte-LineChart__toolTipBox {
  display: flex;
  gap: 2px;
  position: absolute;
  transform-origin: center;
  transform: translate(-50%, -50%);
  cursor: pointer;
  padding: 1px;
}

.inte-LineChart__toolTipBox::after {
  content: "";
  height: var(--height);
  border-left: var(--lineWidth) dashed var(--color);
  position: absolute;
  top: 100%;
  left: calc(50% - calc(var(--lineWidth)));
}

.inte-LineChart__toolTipData {
  display: flex;
  gap: 30px;
}

.inte-lineChart__circle:hover {
  visibility: hidden;
}

.inte-LineChart__dataLine {
  animation-name: lineAnimation;
  animation-timing-function: linear;
  transform-origin: center calc(100% - 50px);
}

.inte-LineChart__toolTipBody {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.inte-LineChart__tooltip__dataItem {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.inte-LineChart__toolTipBody .toolTip__title {
  line-height: var(--inte-LH2-0);
  font-size: var(--inte-FS1-6);
  font-weight: var(--weight-bolder);
}

.inte-LineChart__tooltip__dataItem span:last-child {
  margin-left: auto;
  padding-left: 20px;
}

@keyframes lineAnimation {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

.inte-Legend__list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.inte-Legend__list--top {
  margin-bottom: 20px;
}

.inte-Legend__list--bottom {
  margin-top: 20px;
}

.inte-Legend {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.inte-Legend--disabled {
  position: relative;
}

.inte-Legend--disabled::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: grey;
  top: calc(50% - 1px);
}

.inte-scaleLabel--small .inte-scaleLabel--horizontal div {
  position: relative;
  transform: translateX(-50%) rotate(-45deg);
}
