.inte-carousel {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.inte-carousel--dotsTopLeft .inte-carousel__dots,
.inte-carousel--dotsBottomLeft .inte-carousel__dots,
.inte-carousel--arrowTopLeft .inte-carousel__previousNextArrow,
.inte-carousel--arrowBottomLeft .inte-carousel__previousNextArrow {
  justify-content: start;
}
.inte-carousel--dotsTopRight .inte-carousel__dots,
.inte-carousel--dotsBottomRight .inte-carousel__dots,
.inte-carousel--arrowTopRight .inte-carousel__previousNextArrow,
.inte-carousel--arrowBottomRight .inte-carousel__previousNextArrow {
  justify-content: end;
}
.inte-carousel--arrowBottomRight .inte-carousel__previousNextArrow,
.inte-carousel--arrowBottomLeft .inte-carousel__previousNextArrow,
.inte-carousel--arrowBottomCenter .inte-carousel__previousNextArrow {
  order: 1;
}
.inte-carousel--dotsBottomRight .inte-carousel__dots,
.inte-carousel--dotsBottomLeft .inte-carousel__dots,
.inte-carousel--dotsBottomCenter .inte-carousel__dots {
  order: 1;
}
.inte-carousel__itemsWrapper {
  overflow: hidden;
}
.inte-carousel__itemsContainer {
  display: flex;
}
.inte-carousel__itemsContainer--vertical {
  flex-direction: column;
}
.inte-carousel__item,
.inte-carousel__item-duplicate {
  user-select: none;
}
.inte-carousel__item img {
  user-select: none;
}
.inte-carousel__previousNextArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  order: -1;
}
.inte-carousel--arrowHorizontalCenter.inte-carousel--dotsBottomCenter
  .inte-carousel__previousNextArrow
  button,
.inte-carousel--arrowHorizontalCenter.inte-carousel--dotsBottomLeft
  .inte-carousel__previousNextArrow
  button,
.inte-carousel--arrowHorizontalCenter.inte-carousel--dotsBottomRight
  .inte-carousel__previousNextArrow
  button {
  margin-bottom: 2.2rem;
}
.inte-carousel--arrowHorizontalCenter .inte-carousel__previousNextArrow {
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  pointer-events: none;
}
.inte-carousel__dots {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  order: -1;
}
.inte-carousel__dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: var(--inte-G40);
  margin: 0 0.6rem;
  border-radius: 50%;
}
.inte-carousel__dots .inte-carousel__dots--active button {
  background: var(--inte-P900);
}
.inte-carousel__previousNextArrow button {
  display: inline-flex;
  padding: 0.4rem;
  cursor: pointer;
  background-color: var(--inte-G0);
  border-radius: var(--radius-rounded-6);
  border: 0.1rem solid var(--inte-G40);
}
.inte-carousel--arrowHorizontalCenter .inte-carousel__previousNextArrow button {
  pointer-events: auto;
}
.inte-carousel__previousNextArrow .inte-carousel__next--disabled,
.inte-carousel__previousNextArrow .inte-carousel__prev--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.inte-carousel__next--disabled svg,
.inte-carousel__prev--disabled svg {
  opacity: 0.25;
}
