.jf-buttonGroup {
    display: inline-flex;
    gap: 0.4rem;
    flex-wrap: nowrap;
}
.jf-buttonGroup.jf-btn-segmented {
    gap: 0;
}

.jf-buttonGroup.jf-btn-segmented .jf-btn {
    border-radius: 0;
}

.jf-buttonGroup.jf-btn-segmented .jf-btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.jf-buttonGroup.jf-btn-segmented .jf-btn:first-child {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.jf-buttonGroup.jf-btn-segmented .jf-btn--secondry,
.jf-buttonGroup.jf-btn-segmented .jf-btn--tertiary {
    border-right-width: 0;
}

.jf-buttonGroup.jf-btn-segmented .jf-btn--secondry:last-child,
.jf-buttonGroup.jf-btn-segmented .jf-btn--tertiary:last-child {
    border-right-width: 1px;
}