.inAnimate {
  animation: in-animate 500ms linear;
  transform-origin: top;
}

.outAnimate {
  animation: out-animate 500ms;
  animation-fill-mode: forwards;
  transform-origin: top;
}

@keyframes in-animate {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

@keyframes out-animate {
  0% {
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    transform: scaleY(0);
    opacity: 0;
  }
}
