.jf-sideBar {
  border-right: 0.1rem solid rgb(229 231 235);
  width: 100%;

  color: rgb(64, 86, 109);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
  z-index: 88888;
  height: 100vh;
}

.jf-sidebar-header {
  display: flex;
  position: relative;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 18px;
  padding-top: 17px;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  align-items: center;
}

.jf-sideBar__logo {
  flex: 0 0 calc(100% - 30px);
}

.jf-sideBar__logo svg {
  width: 180px;
  height: 40px;
}

.jf-sidebar-logo {
  width: 50%;
}

.jf-sideBar__closeButton {
  transition: transform 0.3s ease-in-out;
  border: none;
  background: transparent;
  width: 30px;
  padding: 0;
  height: 30px;
  cursor: pointer;
  padding: 2px;
  border-radius: 4px;
  transition: 0.3s all;
}

.jf-sideBar__closeButton:hover {
  background-color: #e4e4e4;
}

.jf-sideBar__closeButton svg {
  width: 100%;
  display: block;
}

.jf-sideBar__ItemList {
  position: relative;
  padding-bottom: var(--footerHeight);
  flex-grow: 1;
}

.jf-sideBar__title {
  padding: 0rem 1.6rem;
  font-size: 1.4rem;
  line-height: 2.4rem;
  margin-bottom: 0.8rem;
}

.jf-sideBar__itemBody {
  border-radius: 0.6rem;
}

.jf-sideBar .jf-sideBar__ItemList {
  height: calc(100vh - 140px);
  overflow-y: auto;
}

.jf-sideBar__list>.jf-sideBar__listItem>.jf-sideBar__itemBody {
  padding: 1.3rem 1.6rem;
  display: flex;
  justify-content: space-between;
  gap: 1.2rem;
  cursor: pointer;
  align-items: center;
}

.jf-sideBar__label {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.jf-sideBar__linkBody,
.jf-sideBar__Icon,
.jf-sideBar__badge,
.jf-sideBar__label {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.jf-sideBar__label {
  color: #000;
}

.jf-sideBar__list,
.jf-sideBar__childList {
  margin-bottom: 0;
}

.jf-sideBar__childList {
  max-height: 0;
  transition: max-height 0.35s cubic-bezier(0, 1, 0, 1);
  overflow: hidden;
}

.jf-sideBar__listItem--expandable--active .jf-sideBar__childList {
  overflow: hidden;
  transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
  height: auto;
  max-height: 9999px;
}

li.jf-sideBar__listItem {
  border-radius: 4px;
  transition: 0.3s all;
}

.jf-sideBar__listItem:not(.jf-sideBar__listItem--expandable):hover,
.jf-sideBar__listItem--expandable .jf-sideBar__itemBody:hover {
  background-color: rgb(46 91 255 / 9%);
}

.jf-sideBar__listItem--expandable--active>.jf-sideBar__itemBody {
  background: rgba(46, 91, 255, 0.09);
}

.jf-sideBar__list>.jf-sideBar__listItem--active>.jf-sideBar__itemBody {
  position: relative;
}

.jf-sideBar__listItem--expandable--active .jf-sideBar__itemBody .jf-sideBar__Icon svg {
  stroke: rgb(46, 91, 255);
}

.jf-sideBar__list>.jf-sideBar__listItem--active>.jf-sideBar__itemBody .jf-sideBar__Icon svg {
  stroke: rgb(46, 91, 255);
}

.jf-sideBar__expandIcon--active svg {
  stroke: rgb(46, 91, 255);
}

.jf-sideBar__childList .jf-sideBar__listItem--active .jf-sideBar__label {
  color: rgb(46, 91, 255);
}

.jf-sideBar__childList .jf-sideBar__listItem--active .jf-sideBar__itemBody {
  background-color: rgb(46 91 255 / 9%);
}

.jf-sideBar__expandIcon--active svg:first-of-child {
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
}

.jf-sideBar__expandIcon:not(.jf-sideBar__expandIcon--active) svg:first-of-child {
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out;
}

.jf-sideBar__expandIcon svg {
  display: block;
  width: 100%;
}

.jf-sideBar__listItem--expandable--active>.jf-sideBar__itemBody .jf-sideBar__label {
  color: rgb(46, 91, 255);
}

.jf-sideBar__childList .jf-sideBar__itemBody {
  display: flex;
  justify-content: space-between;
  gap: 1.2rem;
  position: relative;
  padding: 0.8rem 1.6rem;
  cursor: pointer;
}

.jf-sideBar__Item--footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 1.6rem;
  padding-bottom: 2.4rem;
}

.jf-sideBar__Item:not(.jf-sideBar__Item--footer) {
  padding-bottom: 1.6rem;
}

.jf-sideBar__Item {
  border-bottom: 1px dashed #e4e4e4;
}

.jf-sideBar__Item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.jf-sideBar__Item+.jf-sideBar__Item:not(.jf-sideBar__Item--footer) {
  padding-top: 1.6rem;
}

.jf-sideBar__listItem--disabled {
  cursor: not-allowed;
}

.jf-sideBar__listItem--disabled>div {
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}

.jf-sideBar__listItem.jf-sideBar__listItem--expandable::before {
  content: "";
  height: calc(100% - 75px);
  width: 1px;
  background: #d7cccc;
  position: absolute;
  top: 50px;
  left: 23px;
}

.jf-sideBar__listItem.jf-sideBar__listItem--expandable .jf-sideBar__childList {
  padding-left: 45px;
}

.jf-sideBar__listItem.jf-sideBar__listItem--expandable,
.jf-sideBar__listItem.jf-sideBar__listItem--expandable .jf-sideBar__childList>.jf-sideBar__listItem {
  position: relative;
}

.jf-sideBar__listItem.jf-sideBar__listItem--expandable .jf-sideBar__childList>.jf-sideBar__listItem::after {
  content: "";
  width: 14px;
  height: 15px;
  position: absolute;
  border-left: 1px solid #d7cccc;
  border-bottom: 1px solid #d7cccc;
  border-bottom-left-radius: 6px;
  top: 7px;
  left: -22px;
}

.sidebar-footer {
  padding: 1.2rem;
  border-top: 1px solid #e4e4e4;
  box-shadow: 0px -1px 6px 0px rgba(0, 0, 0, 0.05);
}

.jf-sideBar--logout__Item {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 1.3rem 1.6rem;
  cursor: pointer;
  background: var(--jf-Negative-050);
  border-radius: 0.4rem;
  color: var(--jf-Negative-050);
  transition: 0.3s all;
}

.jf-sideBar--logout__Item:hover {
  background-color: var(--jf-Negative-100);
}

.jf-sideBar--logout__Item svg,
.jf-sideBar--logout__Item .jf-sideBar__label {
  color: var(--jf-Negative-500);
}