.inte-inputPhone .inte-form--connectedField {
  gap: 0;
}
.inte-inputPhone .inte-form--connectLeft .inte-formElement__select {
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
}
.inte-inputPhone .inte-formElement__inner .inte-formElement__textField {
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
}
.inte-inputPhone .inte-formElement--spinner {
  display: none;
}
.inte-inputPhone .inte-formElement__arrow {
  border-left: unset;
  padding-left: unset;
}
