.inte-timePicker__header {
    padding: 1.2rem 2rem;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    min-height: 5.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--inte-G40);
}

.inte-timePicker__lists {
    position: relative;
    display: flex;
    width: 38.8rem;
}

.inte-timePicker__modal .inte-timePicker__lists {
    width: unset;
}

.inte-timePicker__modal .inte-timePicker__lists .inte-timePicker__item {
    margin: auto;
}

.inte-timePicker__lists > ul {
    max-height: 29.6rem;
    overflow : hidden;
    padding: 0 0.8rem 0.8rem 0.8rem;
    margin: 0;
    width: calc(100% / 3);
    z-index: 2;
}

.inte-timePicker__lists > ul:hover {
    overflow : hidden auto;
}

.inte-timePicker__item  {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 3.66562rem;
}

.inte-timePicker__hour:has(.inte-timePicker__item--selected)::after , 
.inte-timePicker__min:has(.inte-timePicker__item--selected)::after ,
.inte-timePicker__meridian:has(.inte-timePicker__item--selected)::after ,
.inte-timePicker__hour:has(.inte-timePicker__item--selected)::before , 
.inte-timePicker__min:has(.inte-timePicker__item--selected)::before ,
.inte-timePicker__meridian:has(.inte-timePicker__item--selected)::before {
    content: "";
    display: block;
    width: auto;
    height: 16rem;
}

.inte-timePicker__item--selected {
    background-color: var(--inte-P900);
    font-weight: var(--weight-bolder);
    color: var(--inte-P10);
    border-radius: 6px;
}

.inte-timePicker__range {
    position: absolute;
    inset: 0;
    margin: auto;
    height: 40px;
    width: calc(100% - 3.2rem);
    border-radius: 0.6rem;
    padding: 0 1.6rem;
    background-color: var(--inte-P40);
    z-index: 1;
}

.inte-timePicker__modal .inte-timePicker__item--selected {
    background-color: transparent;
    font-weight: var(--weight-bolder);
    color: var(--inte-P900);
    border-radius: 6px;
}

.inte-timePicker__footer {
    display: flex;
    justify-content: flex-end;
    padding: 1.2rem 1.6rem;
    border-top: 1px solid var(--inte-G40);
}