.inte-activityGauge__wrapper,
.inte-pieChart__wrapper,
.inte-donutChart__wrapper {
  display: flex;
  gap: 1.6rem;
  flex-direction: column;
}
.inte-chartLegend__wrapper {
  display: flex;
  flex-direction: column;
}

.inte-chartLegend,
.inte-legend__name {
  display: flex;
  align-items: center;
}
.inte-chartLegend {
  justify-content: space-between;
}
.inte-chartLegend,
.inte-chartLegend__wrapper {
  gap: 1.2rem;
}
.inte-legend__name {
  gap: 1rem;
}
.inte-legend__name .inte-badgeDot--large {
  min-width: 12px;
  min-height: 12px;
}
