.inte-radio {
  position: relative;
  min-height: 2rem;
  min-width: 2rem;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}
.inte-radio > label {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}
.inte-radio--fake {
  position: absolute;
  height: 2rem;
  width: 2rem;
  margin: 0;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
}
.inte-radioWrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  cursor: pointer;
  gap: 1.2rem;
}
.inte-radioWrap .inte-radioEle--fake {
  height: 2rem;
  width: 2rem;
  border-radius: var(--radius-rounded--Cirlce);
  position: relative;
  min-width: 2rem;
  border: 0.15rem solid var(--inte-G90);
  transition: 100ms all linear;
  background-color: var(--inte-G0);
}
.inte-radio .inte-radio--fake:checked + .inte-radioWrap > .inte-radioEle--fake {
  border-color: var(--inte-P900);
}
.inte-radio .inte-radio--fake + .inte-radioWrap > .inte-radioEle--fake::after {
  border-radius: var(--radius-rounded--Cirlce);
  border: 0;
  background-color: var(--inte-P900);
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  top: 50%;
  opacity: 0;
  visibility: hidden;
  left: 50%;
  transition: 100ms;
  transform-origin: left top;
  transform: scale(0) translate(-50%,-50%);
}
.inte-radio
  .inte-radio--fake:checked
  + .inte-radioWrap
  > .inte-radioEle--fake::after {
    transform: scale(1) translate(-50%,-50%);
    opacity: 1;
    visibility: visible;
    height: 0.8rem;
    width: 0.8rem;
}

.inte-radioWrap .inte-radio__label {
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: var(--weight-normal);
  color: var(--inte-G800);
  line-height: 2.2rem;
}
.inte-radio__description {
  margin-top: 0.4rem;
  margin-left: 3.2rem;
  color: var(--inte-G300);
  font-size: 1.6rem;
  line-height: 2.2rem;
}

/* Error State */
.inte-radio--error + span .inte-radioEle--fake {
  border-color: var(--inte-R200);
}
/* Error State End */

/* Disabled State */
.inte-radio--disabled .inte-radioWrap {
    cursor: not-allowed;
    position: relative;
    z-index: 1;
  }
  
  .inte-radio--disabled .inte-radioWrap .inte-radioEle--fake,
  .inte-radio--disabled .inte-radioWrap .inte-radioEle--fake + .inte-radio__label ,
  .inte-radio--disabled .inte-radio__description{
    cursor: not-allowed !important;
    z-index: 1;
    border-color: var(--inte-G40) !important;
    color: var(--inte-G70);
    user-select: none;
  }
  .inte-radio.inte-radio--disabled
    .inte-radio--fake:checked
    + .inte-radioWrap
    .inte-radioEle--fake:after {
    background-color: var(--inte-P40) !important;
  }
  /* Disabled State End */

/* Css Psudo States */
/* Hover State state */
.inte-radio:not(.inte-radio--disabled) > div:hover .inte-radioWrap .inte-radioEle--fake {
  border-color: var(--inte-P1000);
  background-color: var(--inte-P20);
}
.inte-radio:not(.inte-radio--disabled) > label:hover .inte-radioWrap .inte-radioEle--fake {
  border-color: var(--inte-P1000);
  background-color: var(--inte-P20) !important;
}
/* Hover State end */

/* Focus State */
.inte-radio--fake:focus + .inte-radioWrap .inte-radioEle--fake {
  box-shadow: 0 0 0 0.1rem var(--inte-G0), 0 0 0 0.3rem var(--inte-B80);
}
/* Focus State End */

/* Css Psudo States End */
