.jf-avatar {
    background: var(--jf-Sapphire-050);
    display: inline-flex;
    border-radius: 0.4rem;
    border: 1px solid #e4e4e4;
}

.jf-avatar-icon {
    width: 100%;
    height: 100%;
}

.jf-avatar-icon * {
    width: 100%;
    height: 100%;
}

.jf-avatar {
    &.jf-avatar--small {
        height: 3.2rem;
        width: 3.2rem;
    }

    &.jf-avatar--medium {
        width: 3.6rem;
        height: 3.6rem;
    }

    &.jf-avatar--large {
        height: 4rem;
        width: 4rem;
    }

    &.jf-avatar--xLarge {
        height: 4.4rem;
        width: 4.4rem;
    }

    &.jf-avatar--circle {
        border-radius: 100%;
    }
}

.jf-avatar.jf-avatar--xLarge.jf-avatar--circle,
.jf-avatar.jf-avatar--xLarge.jf-avatar--squire {
    padding: 0.8rem;
}

.jf-avatar.jf-avatar--large.jf-avatar--circle,
.jf-avatar.jf-avatar--large.jf-avatar--squire {
    padding: 0.8rem;
}

.jf-avatar.jf-avatar--medium.jf-avatar--circle,
.jf-avatar.jf-avatar--medium.jf-avatar--squire {
    padding: 0.7rem;
    
}

.jf-avatar.jf-avatar--small.jf-avatar--circle,
.jf-avatar.jf-avatar--small.jf-avatar--squire {
    padding: 0.6rem;
}

.jf-avatar.jf-has-image-icon {
    padding: 0 !important;
    border: var(--jf-borderWidth-thin) solid var(--jf-naturalLight-300);
}

.jf-avatar.jf-has-image-icon .jf-avatar-icon>img {
    border-radius: 100%;
}

.jf-avatar.jf-has-image-icon.jf-avatar--squire .jf-avatar-icon>img {
    border-radius: 0.4rem;
}

.jf-avatar.jf-has-action {
    cursor: pointer;
}

.jf-avatar.jf-has-action:hover {
    opacity: 0.8;
}

.jf-avatar.jf-has-indicator {
    position: relative;
}

.jf-avatar-indicator {
    position: absolute;
    top: -0.3rem;
    right: -0.3rem;
    padding: 0.2rem;
    background: var(--jf-white);
    border-radius: 100%;
    z-index: 1;
}

.jf-avatar-indicator .jf-indicator,
.jf-avatar-indicator .jf-indicator-dot {
    display: block;
}

.jf-avatar.jf-avatar--xLarge span.jf-indicator-dot {
    height: 1.1rem;
    width: 1.1rem;
}

.jf-avatar.jf-avatar--large span.jf-indicator-dot {
    width: 0.9rem;
    height: 0.9rem;
}

.jf-avatar.jf-avatar--medium span.jf-indicator-dot {
    height: 0.7rem;
    width: 0.7rem;
}

.jf-avatar.jf-avatar--small span.jf-indicator-dot {
    height: 0.5rem;
    width: 0.5rem;
}