.jf-toolTip {
  display: inline-flex;
}

.jf-toolTip__pointer {
  position: absolute;
  display: inline-flex;
}

/* ToolTip-pointer  css*/
.jf-toolTip--rightCenter {
  left: 0.1rem;
  top: 50%;
  transform: translateY(-50%);
}

.jf-toolTip--center {
  top: 0.1rem;
  left: 49%;
  transform: rotate(90deg) translateX(-50%);
}

.jf-toolTip--bottomRight,
.jf-toolTip--bottomLeft {
  top: 0.1rem;
  transform: rotate(90deg) translateX(-50%);
}

.jf-toolTip--topCenter {
  bottom: 0.1rem;
  left: 49%;
  transform: rotate(270deg) translateX(-50%);
}

.jf-toolTip--leftCenter {
  top: 50%;
  right: 0.1rem;
  transform: translateY(-50%) rotate(180deg);
}

.jf-toolTip--topRight,
.jf-toolTip--topLeft {
  bottom: 0.1rem;
  transform: rotate(270deg) translateX(-50%);
}

.jf-toolTip--leftTop,
.jf-toolTip--leftBottom {
  right: 0.4rem;
  transform: rotate(180deg) translateX(-50%);
}

/* Tooltip Message */
.jf-toolTip__message {
  background: #1F262D;
  max-width: 30rem;
  font-size: 1.4rem;
  border-radius: 0.6rem;
  color: #ffffff;
  line-height: 2.2rem;
  padding: 1.2rem;
  text-align: left;
  word-break: break-word;
}

/* Animation */
/* Animation Right */
.jf-toolTip--right {
  padding-left: 0.7rem;

  &.jf-toolTip--in {
    animation: tooltipInRight 0.1s linear forwards;
    transform-origin: left center;
  }

  &.jf-toolTip--out {
    animation: tooltipOutRight 0.1s linear forwards;
    transform-origin: left center;
  }
}

/* Animation Left */
.jf-toolTip--left {
  padding-right: 0.7rem;

  &.jf-toolTip--in {
    animation: tooltipInLeft 0.1s linear forwards;
    transform-origin: right center;
  }

  &.jf-toolTip--out {
    animation: tooltipOutLeft 0.1s linear forwards;
    transform-origin: right center;
  }
}

/* Animation Top */
.jf-toolTip--top {
  padding-bottom: 0.7rem;

  &.jf-toolTip--in {
    animation: tooltipInTop 0.1s linear forwards;
    transform-origin: bottom center;
  }

  &.jf-toolTip--out {
    animation: tooltipOutTop 0.1s linear forwards;
    transform-origin: bottom center;
  }
}

/* Animation Bottom */
.jf-toolTip--bottom {
  padding-top: 0.7rem;

  &.jf-toolTip--in {
    animation: tooltipInBottom 0.1s linear forwards;
    transform-origin: bottom center;
  }

  &.jf-toolTip--out {
    animation: tooltipOutBottom 0.1s linear forwards;
    transform-origin: bottom center;
  }
}

/* Amimation Frames */
@keyframes tooltipInRight {
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }

  0% {
    -webkit-transform: translate3d(5px, 0, 0) scale(0.98);
    transform: translate3d(5px, 0, 0) scale(0.98);
    opacity: 0.8;
  }
}

@keyframes tooltipOutRight {
  100% {
    -webkit-transform: translate3d(5px, 0, 0) scale(0.98);
    transform: translate3d(5px, 0, 0) scale(0.98);
    opacity: 0;
  }

  0% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}

/* Frames Left */
@keyframes tooltipInLeft {
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }

  0% {
    -webkit-transform: translate3d(-5px, 0, 0) scale(0.95);
    transform: translate3d(-5px, 0, 0) scale(0.95);
    opacity: 0.8;
  }
}

@keyframes tooltipOutLeft {
  100% {
    -webkit-transform: translate3d(-5px, 0, 0) scale(0.95);
    transform: translate3d(-5px, 0, 0) scale(0.95);
    opacity: 0;
  }

  0% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}

/* Frames Top */
@keyframes tooltipInTop {
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }

  0% {
    -webkit-transform: translate3d(0, -5px, 0) scale(0.95);
    transform: translate3d(0, -5px 0) scale(0.95);
    opacity: 0.8;
  }
}

@keyframes tooltipOutTop {
  100% {
    -webkit-transform: translate3d(0, -5px, 0) scale(0.95);
    transform: translate3d(0, -5px, 0) scale(0.95);
    opacity: 0;
  }

  0% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}

/* Frames Bottom */
@keyframes tooltipInBottom {
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }

  0% {
    -webkit-transform: translate3d(0, -5px, 0) scale(0.95);
    transform: translate3d(0, -5px 0) scale(0.95);
    opacity: 0.8;
  }
}

@keyframes tooltipOutBottom {
  100% {
    -webkit-transform: translate3d(0, -5px, 0) scale(0.95);
    transform: translate3d(0, -5px, 0) scale(0.95);
    opacity: 0;
  }

  0% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}

@media (min-width: 768px) {

  .jf-toolTip__footer,
  .jf-toolTip__overlay {
    display: none;
  }
}

@media (max-width: 767px) {
  .jf-toolTip__pointer {
    display: none;
  }

  .jf-toolTip__footer {
    margin-top: 15px;
    text-align: center;
  }

  .jf-toolTip__cancel {
    border: 1px solid #e4e4e4;
    display: inline-block;
    padding: 2px 6px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
  }

  .jf-toolTip__message {
    text-align: center;
    padding: 1.8rem;
    max-width: 100%;
  }

  .jf-toolTip__wrapper {
    z-index: 999999;

    left: 50% !important;
    top: 50% !important;
    opacity: 0;
    transform: translate(-50%, -50%) !important;
    transition: 0.3s all;
    width: calc(100% - 100px);
  }

  .jf-toolTip__wrapper.jf-toolTip--in {

    opacity: 1;
  }

  .jf-toolTip__overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.8;
    z-index: 99999;
    filter: blur(5px);
  }
}