.inte-rangeSlider {
  position: relative;
}
.inte-singleRange,
.inte-doubleRange {
  width: 100%;
  height: 0.6rem;
  position: relative;
  background-color: var(--inte-P50);
  border-radius: 0.8rem;
  cursor: pointer;
}

.inte-singleRange__fill,
.inte-doubleRange__fill {
  height: 100%;
  background-color: var(--inte-P900);
  border-radius: 0.8rem;
}

.inte-singleRange__thumb {
  transform: translateX(-50%) translateY(-50%);
}

.inte-doubleRange__fill {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.inte-doubleRange__thumb,
.inte-singleRange__thumb {
  width: 1.6rem;
  height: 1.6rem;
  top: 50%;
  border-radius: 50%;
  position: absolute;
  background-color: #fff;
  border: 0.3rem solid var(--inte-P900);
}
.inte-doubleRange__thumb {
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.inte-rangeSlider:not(.inte-rangeSlider--disable)
  .inte-doubleRange__thumb:hover,
.inte-range__thumb--active,
.inte-rangeSlider:not(.inte-rangeSlider--disable)
  .inte-singleRange__thumb:hover {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  height: 1.8rem;
  width: 1.8rem;
  z-index: 1;
}

.inte-label__value__wrapper {
  font-weight: 600;
}
.inte-label__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.2rem;
}

.inte-footerLabel {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inte-range__label {
  color: var(--inte-G800);
}
.inte-rangeSlider--disable .inte-range__label {
  color: var(--inte-G50);
  cursor: not-allowed;
}
.inte-footerLabel--text,
.inte-range__label {
  line-height: 2rem;
  font-size: 1.4rem;
  font-weight: var(--weight-bolder);
}
.inte-footerLabel--text {
  color: var(--inte-G200);
  display: flex;
  align-items: center;
}
.inte-footerLabel--text > svg path {
  stroke-width: 3;
}
/* disable */
.inte-rangeSlider--disable .inte-singleRange,
.inte-rangeSlider--disable .inte-doubleRange,
.inte-rangeSlider--disable,
.inte-rangeSlider.inte-rangeSlider--disable {
  cursor: not-allowed;
}
.inte-rangeSlider--disable .inte-doubleRange__thumb,
.inte-rangeSlider--disable .inte-singleRange__thumb {
  cursor: not-allowed;
  border: 0.3rem solid var(--inte-P80);
}
.inte-rangeSlider--disable .inte-doubleRange__fill,
.inte-rangeSlider--disable .inte-singleRange__fill {
  background-color: var(--inte-P80);
}
.inte-rangeSlider--disable .inte-label__value__wrapper,
.inte-rangeSlider--disable .inte-footerLabel--text {
  color: var(--inte-G50);
}
/* toolTip   */
.inte-rangeSlider__tooltip {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 0;
  display: none;
  z-index: var(--inte-Z-9);
}
.inte-rangeSlider__toolTip--text {
  padding: 6px 8px;
  color: #fff;
  background-color: rgba(0, 0, 0);
  border-radius: 0.4rem;
}
.inte-rangeSlider__toolTip--text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
