
@font-face {
  font-family: "inter-regular";
  src: url("./assets/fonts/Inter_Regular.woff2") format("woff2"),
    url("./assets/fonts/Inter_Regular.woff") format("woff");
  font-style: normal;
  font-display: swap;
  font-weight: normal;
}
@font-face {
  font-family: "inter-semiBold";
  src: url("./assets/fonts/Inter_SemiBold.woff2") format("woff2"),
    url("./assets/fonts/Inter_SemiBold.woff") format("woff");
  font-style: normal;
  font-display: swap;
  font-weight: normal;
}

@font-face {
  font-family: "inter-bold";
  src: url("./assets/fonts/Inter_Bold.woff2") format("woff2"),
    url("./assets/fonts/Inter_Bold.woff") format("woff");
  font-style: normal;
  font-display: swap;
  font-weight: normal;
}

:root {
  font-size: 62.5%;
  --jf-primary-color: #305EFF;
  --jf-secondary-color: #5c6f7c;
  --jf-tertiary-color: #6C849D1F;
  --jf-tertiary-hover-color: #6C849D2E;
  --jf-default-body-color: #3f5360;
  --jf--success-color: #029564;
  --jf--success-hover-color: #03573b;
  --jf--negative-color: #D92D20;
  --jf--negative-hover-color: #97160c;
  --jf--warning-hover-color: #a74c0b;
  --jf--warning-color: #E9690C;
  --jf-link-color: #2950DA;
  --jf-link-hover-color: #305EFF;
  --jf-possitive-color: #00A251;
  --jf-primary-hover-color: #1d1b1b;

  --jf-Cerulean-050: #F5F8FF;
  --jf-Cerulean-100: #D8E4FD;
  --jf-Cerulean-200: #B4CDFD;
  --jf-Cerulean-300: #75A3FF;
  --jf-Cerulean-400: #4D7FFF;
  --jf-Cerulean-500: #305EFF;
  --jf-Cerulean-600: #2950DA;
  --jf-Cerulean-700: #2243B6;
  --jf-Cerulean-800: #1B3591;
  --jf-Cerulean-900: #14286D;
  --jf-Cerulean-1000: #0D1A48;

  --jf-Possitive-050: #EBFAF3;
  --jf-Possitive-100: #DAF5E8;
  --jf-Possitive-200: #B6ECD1;
  --jf-Possitive-300: #91E3BA;
  --jf-Possitive-400: #48D08C;
  --jf-Possitive-500: #00BE5F;
  --jf-Possitive-600: #00A251;
  --jf-Possitive-700: #008743;
  --jf-Possitive-800: #006C36;
  --jf-Possitive-900: #005128;
  --jf-Possitive-1000: #00361B;

  --jf-Negative-050: #FFF5F5;
  --jf-Negative-100: #FEE4E2;
  --jf-Negative-200: #FEC6C3;
  --jf-Negative-300: #FD9D96;
  --jf-Negative-400: #F96C62;
  --jf-Negative-500: #F04438;
  --jf-Negative-600: #D92D20;
  --jf-Negative-700: #B42318;
  --jf-Negative-800: #9A0E0E;
  --jf-Negative-900: #880C0C;
  --jf-Negative-1000: #750A0A;

  --jf-Notice-050: #FFF3EB;
  --jf-Notice-100: #FFE1CC;
  --jf-Notice-200: #FFC499;
  --jf-Notice-300: #FFAC70;
  --jf-Notice-400: #FF9040;
  --jf-Notice-500: #FF7A1A;
  --jf-Notice-600: #E9690C;
  --jf-Notice-700: #C65C10;
  --jf-Notice-800: #A24D10;
  --jf-Notice-900: #813E0E;
  --jf-Notice-1000: #5D2C09;

  --jf-Sapphire-050: #E7F6FE;
  --jf-Sapphire-100: #CFEDFC;
  --jf-Sapphire-200: #A8DFFA;
  --jf-Sapphire-300: #79CEF8;
  --jf-Sapphire-400: #57C1F6;
  --jf-Sapphire-500: #15B0F3;
  --jf-Sapphire-600: #1291D0;
  --jf-Sapphire-700: #0F78AD;
  --jf-Sapphire-800: #0C608A;
  --jf-Sapphire-900: #094868;
  --jf-Sapphire-1000: #063145;

  --jf-Cloud-050: #EDF4F7;
  --jf-Cloud-100: #E6EFF4;
  --jf-Cloud-200: #CBDDE6;
  --jf-Cloud-300: #97BBCD;
  --jf-Cloud-400: #6091A9;
  --jf-Cloud-500: #387594;
  --jf-Cloud-600: #1F5C7A;
  --jf-Cloud-700: #1D4B63;
  --jf-Cloud-800: #143D52;
  --jf-Cloud-900: #032A3E;
  --jf-Cloud-1000: #021C29;

  --jf-Sea-050: #EDF7F7;
  --jf-Sea-100: #E2F3F3;
  --jf-Sea-200: #C2E0E0;
  --jf-Sea-300: #97CDCD;
  --jf-Sea-400: #60A9A9;
  --jf-Sea-500: #389494;
  --jf-Sea-600: #1F7A7A;
  --jf-Sea-700: #1D6363;
  --jf-Sea-800: #145252;
  --jf-Sea-900: #033E3E;
  --jf-Sea-1000: #022929;

  --jf-Forest-050: #EBFAF3;
  --jf-Forest-100: #DAF5E8;
  --jf-Forest-200: #B6ECD1;
  --jf-Forest-300: #91E3BA;
  --jf-Forest-400: #48D08C;
  --jf-Forest-500: #00BE6F;
  --jf-Forest-600: #009E5C;
  --jf-Forest-700: #00874F;
  --jf-Forest-800: #006C3F;
  --jf-Forest-900: #00512F;
  --jf-Forest-1000: #003821;

  --jf-naturalLight-000: #FFFFFF;
  --jf-naturalLight-050: #F8FAFC;
  --jf-naturalLight-100: #F1F5FA;
  --jf-naturalLight-200: #E3EAF3;
  --jf-naturalLight-300: #CBD5E2;
  --jf-naturalLight-400: #B1C1D2;
  --jf-naturalLight-500: #90A5BB;
  --jf-naturalLight-600: #768EA7;
  --jf-naturalLight-700: #6C849D;

  --jf-naturalDark-800: #58728D;
  --jf-naturalDark-900: #737373;
  --jf-naturalDark-1000: #2F4256;
  --jf-naturalDark-1100: #243547;
  --jf-naturalDark-1200: #192839;
  --jf-naturalDark-1300: #0C1927;

  --jf-black: #000000;
  --jf-white: #ffffff;

  --jf-low-elevation: 0rem 0.2rem 0.5rem 0rem rgba(25, 40, 57, 0.1);
  --jf-mid-elevation: 0rem 0.8rem 2.4rem 0rem rgba(25, 40, 57, 0.12);
  --jf-high-elevation: 0rem 1.6rem 4.8rem -0.4rem rgba(25, 40, 57, 0.18);

  --jf-borderRadius-none: 0rem;
  --jf-borderRadius-xsmall: 0.1rem;
  --jf-borderRadius-small: 0.2rem;
  --jf-borderRadius-medium: 0.4rem;
  --jf-borderRadius-large: 0.8rem;
  --jf-borderRadius-xlarge: 1.2rem;
  --jf-borderRadius-2xlarge: 1.6rem;
  --jf-borderRadius-max: 100rem;

  --jf-borderWidth-none: 0rem;
  --jf-borderWidth-thinner: 0.05rem;
  --jf-borderWidth-thin: 0.1rem;
  --jf-borderWidth-thick: .15rem;
  --jf-borderWidth-thicker: 0.2rem;

  --jf-light-font: 'inter-light';
  --jf-regular-font: 'inter-regular';
  --jf-medium-font: 'inter-semiBold';
  --jf-bold-font: 'inter-bold';

  --jf-fs-12: 1.2rem;
  --jf-fs-13: 1.3rem;
  --jf-fs-14: 1.4rem;
  --jf-fs-15: 1.5rem;
  --jf-fs-16: 1.6rem;
  --jf-fs-17: 1.7rem;
  --jf-fs-18: 1.8rem;
  --jf-fs-19: 1.9rem;
  --jf-fs-20: 2rem;
  --jf-fs-21: 2.1rem;
  --jf-fs-22: 2.2rem;
  --jf-fs-23: 2.3rem;
  --jf-fs-24: 2.4rem;
  --jf-fs-25: 2.5rem;
  --jf-fs-26: 2.6rem;
  --jf-fs-27: 2.7rem;
  --jf-fs-28: 2.8rem;
  --jf-fs-29: 2.9rem;
  --jf-fs-30: 3rem;
  --jf-fs-31: 3.1rem;
  --jf-fs-32: 3.2rem;
  --jf-fs-33: 3.3rem;
  --jf-fs-34: 3.4rem;
  --jf-fs-35: 3.5rem;
  --jf-fs-36: 3.6rem;
  --jf-fs-37: 3.7rem;
  --jf-fs-38: 3.8rem;
  --jf-fs-39: 3.9rem;
  --jf-fs-40: 4rem;

  /* Line height */
  --jf-lh-10: 1rem;
  --jf-lh-12: 1.2rem;
  --jf-lh-14: 1.4rem;
  --jf-lh-16: 1.6rem;
  --jf-lh-18: 1.8rem;
  --jf-lh-20: 2rem;
  --jf-lh-22: 2.2rem;
  --jf-lh-24: 2.4rem;
  --jf-lh-28: 2.8rem;
  --jf-lh-32: 3.2rem;
  --jf-lh-36: 3.6rem;
  --jf-lh-40: 4rem;
}

body,
p {
  font-family: var(--jf-regular-font);
  font-size: var(--jf-fs-13);
  color: var(--jf-naturalDark-1300);
  line-height: var(--jf-lh-22);
}

body {
  padding: 0 !important;
}

*,
:after,
:before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

ul,
li,
p {
  margin: 0;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  -webkit-box-shadow: inset 0 0 0 #f1f1f1;
  box-shadow: inset 0 0 0 #f1f1f1;
  border-radius: var(--radius-rounded-5);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c7c7c7;
  border-radius: var(--radius-rounded-5);
  -webkit-box-shadow: inset 0 0 0 #c7c7c7;
  box-shadow: inset 0 0 0 #c7c7c7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #adadad;
  -webkit-box-shadow: inset 0 0 6px #adadad;
  box-shadow: inset 0 0 6px #adadad;
}

/* Padding start */
.pt-0 {
  padding-top: 0;
}

.pt-4 {
  padding-top: 0.4rem;
}

.pt-8 {
  padding-top: 0.8rem;
}

.pt-12 {
  padding-top: 1.2rem;
}

.pt-16 {
  padding-top: 1.6rem;
}

.pt-20 {
  padding-top: 2rem;
}

.pt-24 {
  padding-top: 2.4rem;
}

.pt-28 {
  padding-top: 2.8rem;
}

.pt-40 {
  padding-top: 4rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-4 {
  padding-right: 0.4rem;
}

.pr-8 {
  padding-right: 0.8rem;
}

.pr-12 {
  padding-right: 1.2rem;
}

.pr-16 {
  padding-right: 1.6rem;
}

.pr-20 {
  padding-right: 2rem;
}

.pr-24 {
  padding-right: 2.4rem;
}

.pr-28 {
  padding-right: 2.8rem;
}

.pr-40 {
  padding-right: 4rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-4 {
  padding-left: 0.4rem;
}

.pl-8 {
  padding-left: 0.8rem;
}

.pl-12 {
  padding-left: 1.2rem;
}

.pl-16 {
  padding-left: 1.6rem;
}

.pl-20 {
  padding-left: 2rem;
}

.pl-24 {
  padding-left: 2.4rem;
}

.pl-28 {
  padding-left: 2.8rem;
}

.pl-40 {
  padding-left: 4rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-4 {
  padding-bottom: 0.4rem;
}

.pb-8 {
  padding-bottom: 0.8rem;
}

.pb-12 {
  padding-bottom: 1.2rem;
}

.pb-16 {
  padding-bottom: 1.6rem;
}

.pb-20 {
  padding-bottom: 2rem;
}

.pb-24 {
  padding-bottom: 2.4rem;
}

.pb-28 {
  padding-bottom: 2.8rem;
}

.pb-40 {
  padding-bottom: 4rem;
}

.p-0 {
  padding: 0;
}

.p-2 {
  padding: 0.2rem;
}

.p-4 {
  padding: 0.4rem;
}

.p-6 {
  padding: 0.6rem;
}

.p-8 {
  padding: 0.8rem;
}

.p-10 {
  padding: 1rem;
}

.p-12 {
  padding: 1.2rem;
}

.p-14 {
  padding: 1.4rem;
}

.p-16 {
  padding: 1.6rem;
}

.p-18 {
  padding: 1.8rem;
}

.p-20 {
  padding: 2rem;
}

.p-24 {
  padding: 2.4rem;
}

.p-28 {
  padding: 2.8rem;
}

.p-32 {
  padding: 3.2rem;
}

.p-36 {
  padding: 3.6rem;
}

.p-40 {
  padding: 4rem;
}

/* padding end */

/* Margin start*/
.mt-0 {
  margin: 0;
}

.mt-4 {
  margin-top: 0.4rem;
}

.mt-8 {
  margin-top: 0.8rem;
}

.mt-12 {
  margin-top: 1.2rem;
}

.mt-16 {
  margin-top: 1.6rem;
}

.mt-20 {
  margin-top: 2rem;
}

.mt-24 {
  margin-top: 2.4rem;
}

.mt-28 {
  margin-top: 2.8rem;
}

.mt-40 {
  margin-top: 4rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-4 {
  margin-bottom: 0.4rem;
}

.mb-8 {
  margin-bottom: 0.8rem;
}

.mb-12 {
  margin-bottom: 1.2rem;
}

.mb-16 {
  margin-bottom: 1.6rem;
}

.mb-20 {
  margin-bottom: 2rem;
}

.mb-24 {
  margin-bottom: 2.4rem;
}

.mb-28 {
  margin-bottom: 2.8rem;
}

.mb-40 {
  margin-bottom: 4rem;
}

.m-0 {
  margin: 0;
}

.m-4 {
  margin: 0.4rem;
}

.m-6 {
  margin: 0.6rem;
}

.m-8 {
  margin: 0.8rem;
}

.m-10 {
  margin: 1rem;
}

.m-12 {
  margin: 1.2rem;
}

.m-14 {
  margin: 1.4rem;
}

.m-16 {
  margin: 1.6rem;
}

.m-18 {
  margin: 1.8rem;
}

.m-20 {
  margin: 2rem;
}

.m-24 {
  margin: 2.4rem;
}

.m-28 {
  margin: 2.8rem;
}

.m-32 {
  margin: 3.2rem;
}

.m-36 {
  margin: 3.6rem;
}

.m-40 {
  margin: 4rem;
}

.ml-2 {
  margin-left: 0.2rem;
}

.ml-4 {
  margin-left: 0.4rem;
}

.ml-6 {
  margin-left: 0.6rem;
}

.ml-8 {
  margin-left: 0.8rem;
}

.ml-10 {
  margin-left: 1rem;
}

.ml-12 {
  margin-left: 1.2rem;
}

.ml-14 {
  margin-left: 1.4rem;
}

.ml-16 {
  margin-left: 1.6rem;
}

.ml-18 {
  margin-left: 1.8rem;
}

.ml-20 {
  margin-left: 2rem;
}

.mr-4 {
  margin-right: 0.4rem;
}

/* margin end */
/* Typography */
.font-size-12 {
  font-size: var(--jf-fs-12);
}

/* 12px */
.font-size-14 {
  font-size: var(--jf-fs-14);
}

/* 14px */
.font-size-16 {
  font-size: var(--jf-fs-16);
}

/* 16px */
.font-size-18 {
  font-size: var(--jf-fs-18);
}

/* 18px */
.font-size-20 {
  font-size: var(--jf-fs-20);
}

/* 20px */
.font-size-24 {
  font-size: var(--jf-fs-24);
}

/* 24px */
.font-size-30 {
  font-size: var(--jf-fs-30);
}

/* 30px */
.font-size-36 {
  font-size: var(--jf-fs-36);
}


/* 60px */
.line-height-10 {
  line-height: var(--jf-lh-10);
}

.line-height-12 {
  line-height: var(--jf-lh-12);
}

.line-height-14 {
  line-height: var(--jf-lh-14);
}

.line-height-16 {
  line-height: var(--jf-lh-16);
}

.line-height-18 {
  line-height: var(--jf-lh-18);
}

.line-height-20 {
  line-height: var(--jf-lh-20);
}

.line-height-22 {
  line-height: var(--jf-lh-22);
}

.line-height-24 {
  line-height: var(--jf-lh-24);
}

.line-height-28 {
  line-height: var(--jf-lh-28);
}

.line-height-32 {
  line-height: var(--jf-lh-32);
}

.line-height-36 {
  line-height: var(--jf-lh-36);
}

.line-height-40 {
  line-height: 4rem;
}

/* Width and Height */
.w-full {
  width: 100%;
}

.w-half {
  width: 50%;
}

.h-full {
  height: 100%;
}

.min-w-0 {
  min-width: 0;
}

.min-h-0 {
  min-height: 0;
}

.max-w-full {
  max-width: 100%;
}

.max-h-full {
  max-height: 100%;
}

/* Borders */
.outline-none {
  outline: none;
}

.border-none {
  border: none;
}

.border-rounded-10 {
  border-radius: 1rem;
}

.border-rounded-12 {
  border-radius: 1.2rem;
}

.border-rounded-16 {
  border-radius: 1.6rem;
}

.border-rounded-20 {
  border-radius: 2rem;
}

.border-rounded-24 {
  border-radius: 2.4rem;
}

.border-rounded-28 {
  border-radius: 2.8rem;
}

.border-rounded-32 {
  border-radius: 3.2rem;
}

.border-rounded-40 {
  border-radius: 4rem;
}

.border-rounded-full {
  border-radius: 9999px;
}

/* font-weight */
.font-weight-100 {
  font-weight: 100;
}

.font-weight-200 {
  font-weight: 200;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-800 {
  font-weight: 800;
}
.gap-2 {
  gap: .2rem;
}
.gap-4 {
  gap: .4rem;
}
.gap-6 {
  gap: .6rem;
}
.gap-8 {
  gap: .8rem;
}
.gap-10 {
  gap: 1rem;
}
.gap-12 {
  gap: 1.2rem;
}
.gap-14 {
  gap: 1.4rem;
}
.gap-16 {
  gap: 1.6rem;
}
.gap-18 {
  gap: 1.8rem;
}
.gap-20 {
  gap: 2rem;
}
/* gap */


.z-index-0 {
  z-index: 0;
}

.z-index-100 {
  z-index: 100;
}

.z-index-200 {
  z-index: 200;
}

.z-index-300 {
  z-index: 300;
}

.z-index-400 {
  z-index: 400;
}

.z-index-500 {
  z-index: 500;
}

.z-index-600 {
  z-index: 600;
}

.z-index-700 {
  z-index: 700;
}

.z-index-800 {
  z-index: 800;
}

.z-index-900 {
  z-index: 900;
}

.z-index-1000 {
  z-index: 1000;
}

/* Flexbox */
.v-visible {
  visibility: visible;
}

.v-hidden {
  visibility: hidden;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.inline-flex {
  display: inline-flex;
}

.flex-direction_row {
  flex-direction: row;
}

.flex-direction_column {
  flex-direction: column;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.align-baseline {
  align-items: baseline;
}

.align-stretch {
  align-items: stretch;
}

.flex-wrap {
  flex-wrap: wrap;
}

.direction-row-reverse {
  flex-direction: row-reverse;
}

.c-pointer {
  cursor: pointer;
}

.c-default {
  cursor: default;
}

.position-fixed {
  position: fixed;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-sticky {
  position: sticky;
}

.bg-white {
  background-color: #ffffff;
}

.bg-transparent {
  background-color: transparent;
}

.text-center {
  text-align: center;
}