.jf-textLink {
    display: inline-block;
    cursor: pointer;
}

.jf-textLink__label {
    font-size: 1.4rem;
    transition: 0.3s all;
    color: var(--jf-link-color);
    display: flex;
    align-items: center;
    gap: 0.4rem
}

.jf-textLink__label svg {
    min-width: 16px;
    display: inline-block;
    vertical-align: baseline;
    align-items: center;
}

.jf-textLink__label:hover {
    color: var(--jf-link-hover-color);
    text-decoration: underline;
}

.jf-textLink__label:active {
    color: var(--jf-link-hover-color) !important;
    text-decoration: underline;
}

/* Danger TextLink */
.jf-textLink--negative .jf-textLink__label {
    color: var(--jf--negative-color);
    text-decoration: underline;
}

.jf-textLink--negative .jf-textLink__label:hover {
    color: var(--jf--negative-hover-color);
    text-decoration: unset;
}

.jf-textLink--negative .jf-textLink__label:active {
    color: var(--jf--negative-hover-color) !important;
    text-decoration: unset;
}

.jf--textLink--disabled.jf-textLink--negative .jf-textLink__label,
.jf--textLink--disabled.jf-textLink--negative .jf-textLink__label:hover,
.jf--textLink--disabled.jf-textLink--negative .jf-textLink__label:active {
    color: var(--jf--negative-hover-color) !important;
    text-decoration: unset;
    opacity: 0.4;
}

/* Danger TextLink End */
/* Warning TextLink */
.jf-textLink--waiting .jf-textLink__label {
    color: var(--jf--warning-color);
    text-decoration: underline;
}

.jf-textLink--waiting .jf-textLink__label:hover {
    color: var(--jf--warning-hover-color);
    text-decoration: unset;
}

.jf-textLink--waiting .jf-textLink__label:active {
    color: var(--jf--warning-hover-color) !important;
    text-decoration: unset;
}

.jf--textLink--disabled.jf-textLink--waiting .jf-textLink__label,
.jf--textLink--disabled.jf-textLink--waiting .jf-textLink__label:hover,
.jf--textLink--disabled.jf-textLink--waiting .jf-textLink__label:active {
    color: var(--jf--warning-hover-color) !important;
    text-decoration: unset;
}



/* Warning TextLink End */


/* Successs */
/* Warning TextLink */
.jf-textLink--possitive .jf-textLink__label {
    color: var(--jf--success-color);
    text-decoration: underline;
}

.jf-textLink--possitive .jf-textLink__label:hover {
    color: var(--jf--success-hover-color);
    text-decoration: unset;
}

.jf-textLink--possitive .jf-textLink__label:active {
    color: var(--jf--success-hover-color) !important;
    text-decoration: unset;
}

.jf--textLink--disabled.jf-textLink--possitive .jf-textLink__label,
.jf--textLink--disabled.jf-textLink--possitive .jf-textLink__label:hover,
.jf--textLink--disabled.jf-textLink--possitive .jf-textLink__label:active {
    color: var(--jf--success-hover-color) !important;
    text-decoration: unset;
    opacity: 0.4;
}

.jf--textLink--disabled .jf-textLink__label,
.jf--textLink--disabled .jf-textLink__label:hover,
.jf--textLink--disabled .jf-textLink__label:active {
    text-decoration: none;
    color: var(--jf--success-hover-color) !important;
    opacity: 0.4;
}

.jf-textLink.jf--textLink--disabled {
    position: relative
}

.jf-textLink.jf--textLink--disabled::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    cursor: not-allowed;
}