.inte-draggable__item {
  cursor: pointer;
}

.inte-draggable__item--dummy {
  position: fixed;
  cursor: grabbing;
  
}

.inte-draggable__item--dummy > * {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.inte-draggable--dummy {
  opacity: 0;
  position: fixed;
  z-index: -1;
  visibility: hidden;
}

.inte-draggable__item img {
  user-select: none;
  pointer-events: none;
}