/* .sortable-grid {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  padding: 16px;
  height: 600px;
  overflow: auto;
  border: 1px solid grey;
}

.grid-item img {
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease;
}

.grid-item.dragging {
  background-color: transparent;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.grid-item {
  border: 1px solid transparent;
}
.grid-item.dragging img {
  opacity: 0.9;
}
.grid-item--hovered {
  border: 1px solid var(--inte-P90);
  border-radius: 0.8rem;
} */

.inte-sortable--container {
  height: 500px;
  overflow: auto;
  border:1px solid var(--inte-P90);
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* justify-content: center; */
  align-items: center;
}

.soltable-item-story {
  width: 50px;
  height: 50px;
  border:1px solid var(--inte-P90);
  display: grid;
  align-items: center;
  user-select: none;
  background-color: var(--inte-G0);
}

.inte-sortable__item--dummy {
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}