.inte-sortable--container {
  /* position: relative; */
}

.aaa {
  display: flex;
  gap: 40px;
  
}

/* .soltable-item-story {
  display: flex;
  width: 100px;
  height: 100px;
  border : 1px solid var(--inte-G40);
  justify-content: center;
  align-items: center;
  user-select: none;
  background-color: aliceblue;
} */


.inte-sortable__item--dummy {
  position: fixed;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}