.inte-image {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  background-color: var(--inte-G0);
  border: 0.1rem solid var(--inte-G40);
}
.image-component {
  height: 100%;
  width: 100%;
  transition: transform 0.2s;
}

/* Modal styles */
.inte-image__modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* image preview footer  */
.int-imageModal__preview {
  display: flex;
  padding: 2rem;
  position: fixed;
  gap: 0.5rem;
  top: 0;
  right: 0;
  z-index: var(--inte-Z-9);
}

/* image preview footer  */
.inte-iange__upDown,
.inte-image__leftRight {
  display: flex;
  align-items: center;
  color: var(--inte-G0);
  padding: 0 1rem;
  cursor: pointer;
  border-radius: 50%;
  transition: 300ms all linear;
}

.inte-iange__upDown svg,
.inte-image__leftRight svg {
  font-size: 2.4rem;
}
.int-imageModal__preview .inte-btn {
  border-radius: 50% !important;
}
.int-imageModal__preview .inte-btn:not(.inte-btn--disable):hover {
  background-color: rgb(199 199 199 / 30%);
}
.inte-iange__upDown:hover,
.inte-image__leftRight:hover {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0 1rem;
}

.inte-image__modal {
  position: fixed;
  display: flex;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  max-width: 80rem;
}
.inte-image__modal img {
  user-select: none;
  width: 100%;
  height: 100%;
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.inte-previoue__btn,
.inte-next__btn {
  background-color: rgb(0 0 0 / 18%);
  border-radius: 50%;
}
/* image slide css  */
.inte-previoue__btn,
.inte-next__btn {
  position: fixed;
  top: 50%;
  z-index: var(--inte-Z-10);
  transform: translate(0, -50%);
}
.inte-previoue__btn:hover,
.inte-next__btn:hover {
  background: rgba(0, 0, 0, 0.3);
}
.inte-previoue__btn {
  left: 0;
}
.inte-next__btn {
  right: 0;
}
.inte-image__totalItam {
  position: fixed;
  color: var(--inte-G0);
  top: 3.2rem;
  left: 2rem;
  font-size: 1.8rem;
  font-weight: 600;
}
/* image title  */
.inte-image__title,
.inte-image__titleBar {
  position: absolute;
  padding: 1.2rem 1.6rem;
  width: 100%;
}

.inte-image__titleBar {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  max-height: 6rem;
}
/* image preview  */
.inte-image:hover .inte-image__preview {
  opacity: 1;
  transition: 0.3s;
}
.inte-image__preview {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  color: var(--inte-G0);
  font-size: 1.4rem;
  font-weight: 500;
  background: rgba(0, 0, 0, 0.5);
  right: 0;
  bottom: 0;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.inte-image__modal {
  z-index: var(--inte-Z-9);
}
.inte-previoue__btn,
.inte-next__btn .int-imageModal__preview,
.inte-image__totalItam {
  z-index: var(--inte-Z-10);
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: var(--inte-Z-8);
  background: var(--inte-overlay);
}

/* Image animation  (When image open in modal)*/
.inte-imageAnimation--in {
  -webkit-animation: imageAnimationIn 100ms linear forwards;
  animation: imageAnimationIn 100ms linear forwards;
}
.inte-imageAnimation--out {
  -webkit-animation: imageAnimationOut 100ms linear forwards;
  animation: imageAnimationOut 100ms linear forwards;
}

@media screen and (max-width: 768px) {
  .inte-image__modal {
    width: 100%;
  }
  .inte-previoue__btn {
    left: 1rem;
  }
  .inte-next__btn {
    right: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .int-imageModal__preview {
    top: unset;
    right: unset;
    z-index: var(--inte-Z-9);
    bottom: -42px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@keyframes imageAnimationIn {
  100% {
    margin-top: 0;
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    -webkit-opacity: 1;
    opacity: 1;
  }
  0% {
    margin-top: -1rem;
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9);
    -webkit-opacity: 0;
    opacity: 0;
  }
}

@-webkit-keyframes imageAnimationIn {
  100% {
    margin-top: 0;
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    -webkit-opacity: 1;
    opacity: 1;
  }
  0% {
    margin-top: -1rem;
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9);
    -webkit-opacity: 0;
    opacity: 0;
  }
}

@keyframes imageAnimationOut {
  100% {
    margin-top: -1rem;
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9);
    -webkit-opacity: 0;
    opacity: 0;
  }
  0% {
    margin-top: 0;
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    -webkit-opacity: 1;
    opacity: 1;
  }
}

@-webkit-keyframes imageAnimationOut {
  100% {
    margin-top: -1rem;
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9);
    -webkit-opacity: 0;
    opacity: 0;
  }
  0% {
    margin-top: 0;
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    -webkit-opacity: 1;
    opacity: 1;
  }
}
