.inte-icon-search-bar {
  position: fixed;
  z-index: 1;
  padding: 2rem 1.7rem;
  background: white;
  width: 100%;
  top: 0;
}
.inte-icons__wrapper {
  margin-top: 10rem;
}
.inte-icons__wrapper > div {
  border: unset;
}
.inte-virtualised__iconsContainer .inte-virtualScroll__items {
  display: flex;
}
.inte__icons-notFound {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: bold;
  color: #2f363d;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 36px;
}
.inte-card.inte-card--bordered.inte-icon-inner.inte-card--tight {
  width: 100%;
  padding-left: 30px;
  position: relative;
}
.inte-icon-inner .inte__cardContent > span {
  position: absolute;
  left: 14px;
  top: 21px;
}
