.inte-calender {
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.inte-calender > table {
  border-spacing: 0;
  width: 100%;
}

.inte-popover__mobileDevice .inte-calender > table {
  width: 100%;
}

.inte-calendar__cell--currCell:not([class*="inte-calendar__cell--s" ] , [class*="inte-calendar__cell--i"]) .inte-calendar__cell__inner {
  outline:1px solid var(--inte-P900);
  border-radius:0.6rem ;
}

.inte-calendar__cell {
  font-weight: var(--weight-normal);
  font-size: var(--inte-FS1-4);
  line-height: var(--inte-LH1-6);
  color: var(--inte-G800);
  cursor: pointer;
  padding: 0;
  height: 4rem;
}

.inte-popover__mobileDevice .inte-calendar__cell {
  height: 5rem;
}

.inte-calendar__cell.inte-calendar__prevCell ,
.inte-calendar__cell.inte-calendar__afterCell{
  color:var(--inte-G50)
}

.inte-calendar__cell--empty {
  cursor: auto;
}

th.inte-calendar__cell {
  line-height: var(--inte-LH2-0);
  cursor: auto;
  padding: 0 0.8rem;
}

.inte-calendar__cell__inner {
  display: grid;
  place-items: center;
  min-width: 5rem;
  padding: 0.8rem;
}

.inte-calendar__cell--selected > .inte-calendar__cell__inner {
  background-color: var(--inte-P900);
  font-weight: var(--weight-bolder);
  color: var(--inte-P10);
  border-radius: 6px;
}

.inte-calendar__cell--inSelectedRange > .inte-calendar__cell__inner {
  background-color: var(--inte-P30);
}

.inte-calendar__cell--inHoverRange:not([class*="inte-calendar__cell--s" ] , [class*="inte-calendar__cell--inS" ]) > .inte-calendar__cell__inner {
  border-top: 0.1rem dashed var(--inte-P900);
  border-bottom: 0.1rem dashed var(--inte-P900);
}

.inte-calendar__cell--disabled {
  cursor: not-allowed;
  user-select: none;
}

.inte-calendar__cell--disabled .inte-calendar__cell__inner {
  color: var(--inte-G50);
  text-decoration: line-through;
}

.inte-calander__cell--rangeSingle > .inte-calendar__cell__inner {
  border: 0.1rem dashed var(--inte-P900);
  border-radius:0.6rem ;
}

.inte-slideNext {
  animation:slideIn 200ms linear forwards
}

.inte-calender+.inte-calender{
  position: relative;
}

.inte-calender+.inte-calender::after {
  content: '';
  position: absolute;
  margin: auto;
  left: -1rem;
  width: 0.1rem;
  height: calc(100%);
  background-color: var(--inte-G40);
}

.inte-calendar__month ,
.inte-calendar__year {
  min-height: 28rem;
}

.inte-popover__mobileDevice .inte-calendar__month ,
.inte-popover__mobileDevice .inte-calendar__year {
  min-height: 35rem;
}

.inte-rangePicker--popover .inte-popover__body ,
.inte-datePicker--popover .inte-popover__body{
  padding: 0;
}

.inte-datePicker__footer {
  display: flex;
  gap: 1.6rem;
  border-top: 0.1rem solid var(--inte-G40);
  padding: 1.6rem 1.2rem;
}

.inte-calendar__cell:not([class*="inte-calendar__cell--s" ] , [class*="inte-calendar__cell--inS" ] , .inte-calendar__cell--disabled):hover .inte-calendar__cell__inner{
  background-color: var(--inte-P20);
  border-radius: 0.6rem;
}

@keyframes slideIn {
  0% {
    transform: translateX(20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}