.inte-announcement {
    position: relative;

}

.inte-announcement__icon svg {
    display: flex;
}

.inte-announcement__content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.inte-announcement__title {
    font-size: var(--inte-FS1-6);
    font-weight: var(--weight-bolder);
    line-height: var(--inte-LH2-2);
    color: var(--inte-G800);

}

.inte-announcement__description {
    color: var(--inte-G300);
    line-height: var(--inte-LH2-2);
    font-size: var(--inte-FS1-6);
    font-weight: var(--weight-normal);
    margin-bottom: .8rem;
    margin-top: .4rem;
}

.inte-announcement__date {
    text-align: start;
    font-size: var(--inte-FS1-4);
    line-height: var(--inte-LH2-0);
    color: var(--inte-G300);
}

.inte-announcement__text {
    flex-grow: 1;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 0.1rem solid var(--inte-G40);
}

.inte-announcement:last-child .inte-announcement__text {
    margin: 0;
    border: 0;
    padding: 0;
}

.inte-announcement__timeline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .4rem;
}

.inte-announcement:after {
    position: absolute;
    left: 1.8rem;
    bottom: 0;
    content: "";
    width: 0.1rem;
    background: var(--inte-G40);
    top: 0;
}

.inte-announcement:last-child:after {
    background: linear-gradient(45deg, transparent, #E0E1E3 50%);
}

.inte-announcement .inte-announcement__announcementIcon {
    margin-right: 1.6rem;
    height: 3.6rem;
    width: 3.6rem;
    min-width: 3.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--inte-P25);
    border-radius: 50%;
    z-index: 1;
}

.inte-announcement__action {
    margin-top: 1.6rem;
}

  