
.inte-TextEditor {
    position: relative;
}

.inte-TextEditor__toolbar {
    display: flex;
    gap:8px;
    padding: 15px 10px;
    border:1px solid grey;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

/* .inte-TextEditor__toolbar > button {
    background: transparent;
    border:1px solid black;
    border-radius: 4px;
    outline :none
} */

.inte-textEditor__body {
    min-height: 150px;
    resize: none;
    font-size: 15px;
    caret-color: rgb(5, 5, 5);
    position: relative;
    tab-size: 1;
    outline: 0;
    padding: 15px 10px;
    caret-color: #444;
    border:1px solid grey;
    border-radius:5px;
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.inte-textEditor__placeholder {
    position: absolute;
    top : 15px;
    left:10px
}












.editor-text-bold {
    font-weight: bold;
  }
  
  .editor-text-italic {
    font-style: italic;
  }
  
  .editor-text-underline {
    text-decoration: underline;
  }
  
  .editor-text-strikethrough {
    text-decoration: line-through;
  }
  
  .editor-text-underlineStrikethrough {
    text-decoration: underline line-through;
  }
  
  .editor-text-code {
    background-color: rgb(240, 242, 245);
    padding: 1px 0.25rem;
    font-family: Menlo, Consolas, Monaco, monospace;
    font-size: 94%;
  }
  
  .editor-link {
    color: rgb(33, 111, 219);
    text-decoration: none;
  }