.inte-TextEditor {
  position: relative;
}

.inte-TextEditor__body--wrapper {
  position: relative;
}

.inte-TextEditor__placeholder {
  position: absolute;
  color: var(--inte-G450);
}

.inte-TextEditor__toolbar {
  display: flex;
  gap: 8px;
  padding: 15px 10px;
  border: 1px solid var(--inte-G40);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.inte-TextEditor__body {
  min-height: 150px;
  resize: none;
  font-size: 15px;
  caret-color: rgb(5, 5, 5);
  position: relative;
  tab-size: 1;
  outline: 0;
  padding: 15px 10px;
  caret-color: #444;
  border: 1px solid var(--inte-G40);
  border-radius: 5px;
}

.inte-TextEditor__body:not(.inte-TextEditor--mobile) {
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.inte-TextEditor__placeholder {
  position: absolute;
  top: 15px;
  left: 10px;
}

.inte-TextEditor__list--ol,
.inte-TextEditor__list--ul {
  margin: unset;
  padding: 0 15px;
}

.inte-TextEditor__li {
  list-style-type: unset;
}

.inte-TextEditor__link {
  color: var(--inte-B90);
}

.inte-TextEditor__link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.inte-TextEditor-underline {
  text-decoration: underline;
}

.inte-TextEditor__italic {
  font-style: italic;
}

.inte-TextEditor__bold {
  font-weight: bold;
}

.inte-TextEditor__strikethrough {
  text-decoration: line-through;
}

.inte-TextEditor__link {
  color: var(--inte-B90);
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.inte-TextEditor__table {
  border-collapse: collapse;
}

.inte-TextEditor__tableCell {
  width: 7rem;
  height: 5rem;
  padding: 0.8rem;
  border: 0.1rem solid var(--inte-G40);
  text-align: left;
}

.inte-TableCellResizer__resizer {
  position: absolute;
}

.inte-TextEditor__heading--h1 span {
  font-size: 28px;
  font-weight: bold;
}

.inte-TextEditor__heading--h2 span {
  font-size: 24px;
  font-weight: bold;
}

.inte-TextEditor__heading--h3 span {
  font-size: 20px;
  font-weight: bold;
}

.inte-TextEditor-textCode {
  background-color: #f0f2f5;
  padding: 1px 0.25rem;
  font-family: Menlo, Consolas, Monaco, monospace;
  font-size: 94%;
}

.inte-TextEditor-blockCode {
  background-color: #f0f2f5;
  font-family: Menlo, Consolas, Monaco, monospace;
  display: block;
  padding: 8px 8px 8px 52px;
  line-height: 1.53;
  font-size: 14px;
  margin: 8px 0;
  overflow-x: auto;
  position: relative;
  tab-size: 2;
  &::before {
    content: attr(data-gutter);
    position: absolute;
    background-color: #eee;
    left: 0;
    top: 0;
    border-right: 1px solid #ccc;
    padding: 8px;
    color: #777;
    white-space: pre-wrap;
    text-align: right;
    min-width: 25px;
  }
}

.inte-TextEditor__fileInput {
  display: flex;
  flex-direction: column;
}

.inte-TextEditor__fileInput__label {
  line-height: 2rem;
  margin-bottom: 0.8rem !important;
  font-size: 1.6rem !important;
  font-weight: var(--weight-normal) !important;
  color: var(--inte-G800) !important;
  display: inline-block;
  word-break: break-word;
}

.inte-TextEditor .inte-switcher__current {
  border: none;
  outline: none;
  &:focus {
    box-shadow: none;
    background: transparent;
  }
  & .inte-switcher__arrow {
    border: none;
    align-items: center;
  }
}

.link-editor {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  max-width: 400px;
  width: 100%;
  opacity: 0;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 8px 8px;
  transition: opacity 0.5s;
  will-change: transform;
}

.link-view,
.link-changer {
  display: flex;
  gap: 12px;
  width: 100%;
  padding: 12px;
  align-items: center;
  & .link-edit {
    margin-left: auto !important;
  }
}
