
.inte-TextEditor {
    position: relative;
}

.inte-TextEditor__toolbar {
    display: flex;
    gap:8px;
    padding: 15px 10px;
    border:1px solid var(--inte-G40);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

/* .inte-TextEditor__toolbar > button {
    background: transparent;
    border:1px solid black;
    border-radius: 4px;
    outline :none
} */

.inte-textEditor__body {
    min-height: 150px;
    resize: none;
    font-size: 15px;
    caret-color: rgb(5, 5, 5);
    position: relative;
    tab-size: 1;
    outline: 0;
    padding: 15px 10px;
    caret-color: #444;
    border:1px solid var(--inte-G40);
    border-radius:5px;
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.inte-textEditor__placeholder {
    position: absolute;
    top : 15px;
    left:10px
}

.inte-TextEditor__list--ol , 
.inte-TextEditor__list--ul {
  margin: unset;
  padding: 0 15px;
}

.inte-TextEditor__li {
  list-style-type: unset;
}

.inte-TextEditor__link {
  color: var(--inte-B90);
}

.inte-TextEditor__link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.inte-textEditor-underline {
  text-decoration: underline;
}